@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

html,
body {
    height: 100%;
}

button {
    outline: none;
}

#menu-lang {
    z-index: 100;
    margin-left: 15%;
}

.f0 {
    font-size: .9em;
}

.bbtm {
    border: none;
    transition: all .1s ease-in-out;
}

.bbtm:hover {
    border-bottom: 4px solid #e68f1e;
}

.bord-link {
    background: #fff;
    height: 15px;
    width: 2px;
}

.ml-6 {
    margin-left: 20rem!important;
}

.ml-7 {
    margin-left: 5rem;
}

.mr-7 {
    margin-right: 5rem;
}

.div {
    width: 2px;
    height: 45%;
    background: #fff;
}

.dec-hov {
    font-family: 'Lato', sans-serif;
    font-size: .9em;
    font-weight: bold;
    letter-spacing: 1px;
}

.dec-hov:hover {
    border-bottom: 4px solid #e0922f;
}

.f-500 {
    font-weight: 500;
}

.font-green {
    color: #9fc54d;
}

.font-2em {
    font-size: 1.6em;
    line-height: 23px;
}

.font-1em {
    font-size: .7em;
}

.font-17em {
    font-size: .9em;
}

.h-10 {
    padding: 13% 0%;
}

section.home {
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


/*------ Animação e estilo do botao -------*/

.but {
    position: relative;
    height: 30px;
    width: 110px;
    padding: 2px 12px;
    font-weight: 500;
    font-size: .9em;
    letter-spacing: 2px;
    color: #383736;
    border: 2px #383736 solid;
    border-radius: 4px;
    text-transform: uppercase;
    outline: 0;
    overflow: hidden;
    background: none;
    z-index: 1;
    cursor: pointer;
    border: 2px solid #0c5e59;
    transition: 0.08s ease-in;
    -o-transition: 0.08s ease-in;
    -ms-transition: 0.08s ease-in;
    -moz-transition: 0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
    outline: none;
}

.but::after {
    content: "CONHEÇA";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    text-align: center;
    transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    -webkit-transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    outline: none;
}

.but::before {
    content: "AGORA";
    height: 100%;
    width: 100%;
    position: absolute;
    left: -100%;
    opacity: 0;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    -webkit-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    outline: none;
}

.but:hover {
    background: #1ba291;
    border-color: #965f18;
    outline: none;
}

.but:hover:before {
    left: 0;
    opacity: 1;
    color: #fff;
    outline: none;
}

.but:hover:after {
    left: 100%;
    opacity: 0;
    outline: none;
}

.but.left:hover {
    background: #e68f1e;
    outline: none;
}

.but.left:before {
    left: 100%;
    color: #fff;
    transition: all 425ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    -webkit-transition: all 425ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    outline: none;
}

.but.left:hover:before {
    left: 0;
    outline: none;
}


/*-------- Animaçao e estilo do botão de clientes --------*/

.btn-ac {
    padding: 2px 12px;
    background: linear-gradient(#1ba291, #0f594f);
    border: 2px solid #0c5e59;
    border-radius: 5px;
    margin-top: 80px;
}


/*---------- Serviços -----------*/

.circle-1 {
    width: 160px;
    height: 160px;
    background: #ffffff;
    border-radius: 50%;
    bottom: 175px;
    left: 244px;
}

.c-1-img {
    bottom: 201px;
    left: 21%;
    z-index: 1;
}

#forc {
    position: absolute;
    bottom: 305px;
    right: 76%;
    z-index: 110;
    transform: scaleX(-1);
}

#linha_reta {
    stroke-dashoffset: 21.1;
    stroke-dasharray: 21.1;
}

#linha_top {
    stroke-dashoffset: 7.2;
    stroke-dasharray: 7.2;
}

#linha_bottom {
    stroke-dashoffset: 7.8;
    stroke-dasharray: 7.8;
}

#c-1:hover #linha_reta {
    animation: foc2 .1s ease-in-out forwards;
    -webkit-animation: foc2 .1s ease-in-out forwards;
    -moz-animation: foc2 .1s ease-in-out forwards;
    -o-animation: foc2 .1s ease-in-out forwards;
    animation-delay: .3s;
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -o-animation-delay: .3s;
}

#c-1:hover #linha_top {
    animation: foc2 .1s ease-in-out forwards;
    -webkit-animation: foc2 .1s ease-in-out forwards;
    -moz-animation: foc2 .1s ease-in-out forwards;
    -o-animation: foc2 .1s ease-in-out forwards;
    animation-delay: .3s;
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -o-animation-delay: .3s;
}

#c-1:hover #linha_bottom {
    animation: foc2 .1s ease-in-out forwards;
    -webkit-animation: foc2 .1s ease-in-out forwards;
    -moz-animation: foc2 .1s ease-in-out forwards;
    -o-animation: foc2 .1s ease-in-out forwards;
    animation-delay: .3s;
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -o-animation-delay: .3s;
}

@keyframes foc2 {
    to {
        stroke-dashoffset: 0;
    }
}


/*---------- Serviço Dois ----------*/

.service-dois {
    width: 160px;
    height: 160px;
    background: #ffffff;
    border-radius: 50%;
    bottom: 200px;
    /* right: 21% */
}

.service-dois img {
    width: 95px;
    height: 90px;
}

#serv2 {
    top: -10%;
    left: 72%;
}

#serv2 .svg {
    bottom: 378px;
    right: 25px;
}

#serv2 .svg .img-svg1 {
    width: 210px;
    height: 210px;
    transition: all .2s ease-in-out;
}

#serv2:hover .svg .img-svg1 {
    transform: rotate(270deg);
    left: 7px;
    z-index: 11;
}

#serv2 .svg .img-svg2 {
    width: 210px;
    height: 210px;
    z-index: 11;
    transition: all .2s ease-in-out;
}

#serv2:hover .svg .img-svg2 {
    transform: rotate(-340deg);
    left: -11px;
    top: -7px;
}

#Camada_2 {
    position: absolute;
    right: -204px;
    bottom: -33px;
    z-index: 10;
}

#serv2 .svg .text {
    opacity: 0;
    display: block;
    transition: all .3s ease-in-out;
}

#serv2:hover .svg .text {
    animation: txt .3s ease-in-out forwards;
    -webkit-animation: txt .3s ease-in-out forwards;
    -moz-animation: txt .3s ease-in-out forwards;
    -o-animation: txt .3s ease-in-out forwards;
    animation-delay: .3s;
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -o-animation-delay: .3s;
    width: 95px;
    left: 211px;
    top: -16px;
}

@keyframes txt {
    0% {
        right: 14.4%;
    }
    100% {
        right: 14.4%;
        opacity: 1;
    }
}

#linha_reta {
    stroke-dashoffset: 21.1;
    stroke-dasharray: 21.1;
}

#linha_top {
    stroke-dashoffset: 7.2;
    stroke-dasharray: 7.2;
}

#linha_bottom {
    stroke-dashoffset: 7.8;
    stroke-dasharray: 7.8;
}

#serv2:hover #linha_reta {
    animation: foc2 .1s ease-in-out forwards;
    -webkit-animation: foc2 .1s ease-in-out forwards;
    -moz-animation: foc2 .1s ease-in-out forwards;
    -o-animation: foc2 .1s ease-in-out forwards;
    animation-delay: .3s;
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -o-animation-delay: .3s;
}

#serv2:hover #linha_top {
    animation: foc2 .1s ease-in-out forwards;
    -webkit-animation: foc2 .1s ease-in-out forwards;
    -moz-animation: foc2 .1s ease-in-out forwards;
    -o-animation: foc2 .1s ease-in-out forwards;
    animation-delay: .3s;
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -o-animation-delay: .3s;
}

#serv2:hover #linha_bottom {
    animation: foc2 .1s ease-in-out forwards;
    -webkit-animation: foc2 .1s ease-in-out forwards;
    -moz-animation: foc2 .1s ease-in-out forwards;
    -o-animation: foc2 .1s ease-in-out forwards;
    animation-delay: .3s;
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -o-animation-delay: .3s;
}

@keyframes foc2 {
    to {
        stroke-dashoffset: 0;
    }
}


/*---------- Serviço tres ------------*/

.service-tres {
    width: 160px;
    height: 160px;
    background: #ffffff;
    border-radius: 50%;
    bottom: 0px;
    left: 28%;
}

.service-tres img {
    width: 95px;
    height: 95px;
}

#serv3 {
    left: 21%;
    top: 5%;
}

#serv3 .svg {
    bottom: 178px;
    left: -25px;
}

#serv3 .svg .img-svg1 {
    width: 210px;
    height: 210px;
    transition: all .2s ease-in-out;
}

#serv3:hover .svg .img-svg1 {
    transform: rotate(270deg);
    z-index: 11;
    left: 8px;
}

#serv3 .svg .img-svg2 {
    width: 210px;
    height: 210px;
    z-index: 11;
    transition: all .2s ease-in-out;
}

#serv3:hover .svg .img-svg2 {
    transform: rotate(-340deg);
    left: -8px;
    top: -8px;
}

#Camada_3 {
    position: absolute;
    left: -15px;
    top: 165px;
    z-index: 10;
    transform: scale(-1);
}

#serv3 .svg .text {
    opacity: 0;
    display: block;
    /* transform: scaleX(0); */
    transition: all .3s ease-in-out;
    top: 193px;
    width: 138px;
    left: -163px;
}

#serv3:hover .svg .text {
    animation: txt .3s ease-in-out forwards;
    -webkit-animation: txt .3s ease-in-out forwards;
    -moz-animation: txt .3s ease-in-out forwards;
    -o-animation: txt .3s ease-in-out forwards;
    animation-delay: .3s;
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -o-animation-delay: .3s;
}

@keyframes txt {
    0% {
        right: 14.4%;
    }
    100% {
        right: 14.4%;
        opacity: 1;
    }
}

#linha_reta {
    stroke-dashoffset: 21.1;
    stroke-dasharray: 21.1;
}

#linha_top {
    stroke-dashoffset: 7.2;
    stroke-dasharray: 7.2;
}

#linha_bottom {
    stroke-dashoffset: 7.8;
    stroke-dasharray: 7.8;
}

#serv3:hover #linha_reta {
    animation: foc2 .1s ease-in-out forwards;
    -webkit-animation: foc2 .1s ease-in-out forwards;
    -moz-animation: foc2 .1s ease-in-out forwards;
    -o-animation: foc2 .1s ease-in-out forwards;
    animation-delay: .3s;
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -o-animation-delay: .3s;
}

#serv3:hover #linha_top {
    animation: foc2 .1s ease-in-out forwards;
    -webkit-animation: foc2 .1s ease-in-out forwards;
    -moz-animation: foc2 .1s ease-in-out forwards;
    -o-animation: foc2 .1s ease-in-out forwards;
    animation-delay: .3s;
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -o-animation-delay: .3s;
}

#serv3:hover #linha_bottom {
    animation: foc2 .1s ease-in-out forwards;
    -webkit-animation: foc2 .1s ease-in-out forwards;
    -moz-animation: foc2 .1s ease-in-out forwards;
    -o-animation: foc2 .1s ease-in-out forwards;
    animation-delay: .3s;
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -o-animation-delay: .3s;
}

@keyframes foc2 {
    to {
        stroke-dashoffset: 0;
    }
}


/*--------- Serviço quatro ----------*/

.service-quatro {
    width: 160px;
    height: 160px;
    background: #ffffff;
    border-radius: 50%;
    bottom: 0px;
    /* right: 28%; */
}

.service-quatro img {
    width: 105px;
    height: 95px;
}

#serv4 {
    left: 66.6%;
}

#serv4 .svg {
    bottom: 178px;
    right: 25px;
}

#serv4 .svg .img-svg1 {
    width: 210px;
    height: 210px;
    transition: all .2s ease-in-out;
}

#serv4:hover .svg .img-svg1 {
    transform: rotate(270deg);
    left: 7px;
    z-index: 11;
}

#serv4 .svg .img-svg2 {
    width: 210px;
    height: 210px;
    z-index: 11;
    transition: all .2s ease-in-out;
}

#serv4:hover .svg .img-svg2 {
    transform: rotate(-340deg);
    left: -8px;
    top: -8px;
}

#Camada_4 {
    position: absolute;
    left: 166px;
    top: 153px;
    z-index: 10;
    transform: scaleY(-1);
}

#serv4 .svg .text {
    opacity: 0;
    display: block;
    /* transform: scaleX(0); */
    transition: all .3s ease-in-out;
}

#serv4:hover .svg .text {
    animation: txt .3s ease-in-out forwards;
    -webkit-animation: txt .3s ease-in-out forwards;
    -moz-animation: txt .3s ease-in-out forwards;
    -o-animation: txt .3s ease-in-out forwards;
    animation-delay: .3s;
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -o-animation-delay: .3s;
    top: 175px;
    width: 212px;
    left: 248px;
    font-size: .9em;
}

@keyframes txt {
    0% {
        right: 14.4%;
    }
    100% {
        right: 14.4%;
        opacity: 1;
    }
}

#linha_reta {
    stroke-dashoffset: 21.1;
    stroke-dasharray: 21.1;
}

#linha_top {
    stroke-dashoffset: 7.2;
    stroke-dasharray: 7.2;
}

#linha_bottom {
    stroke-dashoffset: 7.8;
    stroke-dasharray: 7.8;
}

#serv4:hover #linha_reta {
    animation: foc2 .1s ease-in-out forwards;
    -webkit-animation: foc2 .1s ease-in-out forwards;
    -moz-animation: foc2 .1s ease-in-out forwards;
    -o-animation: foc2 .1s ease-in-out forwards;
    animation-delay: .3s;
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -o-animation-delay: .3s;
}

#serv4:hover #linha_top {
    animation: foc2 .1s ease-in-out forwards;
    -webkit-animation: foc2 .1s ease-in-out forwards;
    -moz-animation: foc2 .1s ease-in-out forwards;
    -o-animation: foc2 .1s ease-in-out forwards;
    animation-delay: .3s;
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -o-animation-delay: .3s;
}

#serv4:hover #linha_bottom {
    animation: foc2 .1s ease-in-out forwards;
    -webkit-animation: foc2 .1s ease-in-out forwards;
    -moz-animation: foc2 .1s ease-in-out forwards;
    -o-animation: foc2 .1s ease-in-out forwards;
    animation-delay: .3s;
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -o-animation-delay: .3s;
}

@keyframes foc2 {
    to {
        stroke-dashoffset: 0;
    }
}


/*------------- Circulo Um -------------*/

#Camada_1 {
    top: -22px;
    right: 11px;
}


/*------------- Circulo Dois -------------*/