@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

html,
body,
.container {
    height: 100%;
}

body {
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.font-weight-medium {
    font-weight: 500;
}

.font-green {
    color: #9fc54d;
}

.nav a {
    font-size: .85em;
}

.font-2em {
    font-size: 1.6em;
    line-height: 23px;
}


/*------ Animação e estilo do botao -------*/

.but {
    position: relative;
    height: 30px;
    width: 110px;
    padding: 2px 12px;
    font-weight: 500;
    font-size: .9em;
    letter-spacing: 2px;
    color: #383736;
    border: 2px #383736 solid;
    border-radius: 4px;
    text-transform: uppercase;
    outline: 0;
    overflow: hidden;
    background: none;
    z-index: 1;
    margin-bottom: 20px;
    cursor: pointer;
    border: 2px solid #0c5e59;
    transition: 0.08s ease-in;
    -o-transition: 0.08s ease-in;
    -ms-transition: 0.08s ease-in;
    -moz-transition: 0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
    outline: none;
}

.but::after {
    content: "CONHEÇA";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    text-align: center;
    transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    -webkit-transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    outline: none;
}

.but::before {
    content: "AGORA";
    height: 100%;
    width: 100%;
    position: absolute;
    left: -100%;
    opacity: 0;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    -webkit-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    outline: none;
}

.but:hover {
    background: #1ba291;
    border-color: #965f18;
    outline: none;
}

.but:hover:before {
    left: 0;
    opacity: 1;
    color: #fff;
    outline: none;
}

.but:hover:after {
    left: 100%;
    opacity: 0;
    outline: none;
}

.but.left:hover {
    background: #e68f1e;
    outline: none;
}

.but.left:before {
    left: 100%;
    color: #fff;
    transition: all 425ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    -webkit-transition: all 425ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    outline: none;
}

.but.left:hover:before {
    left: 0;
    outline: none;
}

.bord-nav {
    width: 2px;
    height: 13px;
    background: #ffffff;
}

.nav-link a:hover {
    border-bottom: 2px solid #e68f1e;
}


/*-------- Animaçao e estilo do botão de clientes --------*/

.btn-ac {
    padding: 2px 12px;
    background: linear-gradient(#1ba291, #0f594f);
    border: 2px solid #0c5e59;
    border-radius: 5px;
    margin-top: 80px;
}


/*----------- Servico 1 ------------*/

#servico-1 .circle-1 {
    bottom: 100px;
    left: 13%;
    z-index: 10;
    cursor: pointer;
}

#servico-1 .bg-circle-1 {
    width: 160px;
    height: 160px;
    background: #ffffff;
    border-radius: 50%;
}

#servico-1 .icon-service-1 {
    left: 50%;
    margin-left: -58.5px;
    top: 50%;
    margin-top: -53.5px;
}

#servico-1 .svg-forc {
    bottom: 160px;
    opacity: 0;
    transform: scaleX(-1);
    z-index: -3;
    transition: all .1s ease-in-out;
}

#servico-1 .circle-1:hover .svg-forc {
    opacity: 1;
}

#servico-1 .text-forc {
    top: -50px;
    left: -132px;
    font-size: .88em;
    opacity: 0;
    transition: all .1s ease-in-out;
}

#servico-1 .circle-1:hover .text-forc {
    opacity: 1;
}

#servico-1 .svg-circle {
    top: 50%;
    left: 50%;
    margin-left: -110px;
    margin-top: -110px;
    z-index: -2;
}

#servico-1 .circle-1:hover #interno,
#servico-1 .circle-1:hover #externo {
    animation-play-state: running;
    -moz-animation-play-state: running;
    -webkit-animation-play-state: running;
}

#servico-1 #interno {
    stroke-dasharray: 410;
    animation: endStroke 5s linear infinite;
    -webkit-animation: endStroke 5s linear infinite;
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
}

#servico-1 #externo {
    stroke-dasharray: 463;
    animation: endStroke2 5s linear infinite;
    -webkit-animation: endStroke2 5s linear infinite;
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
}

@keyframes endStroke {
    to {
        stroke-dashoffset: 1640;
    }
}

@keyframes endStroke2 {
    to {
        stroke-dashoffset: -926;
    }
}


/*------------- Servico 2 ------------*/

#servico-2 .circle-2 {
    bottom: 100px;
    right: 13%;
    cursor: pointer;
}

#servico-2 .bg-circle-2 {
    width: 160px;
    height: 160px;
    background: #ffffff;
    border-radius: 50%;
}

#servico-2 .icon-service-2 {
    left: 50%;
    top: 50%;
    margin-left: -58.5px;
    margin-top: -53.5px;
}

#servico-2 .svg-circle {
    left: 50%;
    top: 50%;
    margin-left: -110px;
    margin-top: -110px;
    z-index: -2;
}

#servico-2 .svg-forc {
    bottom: 157px;
    left: 107px;
    opacity: 0;
    z-index: -3;
    transition: all .1s ease-in-out;
}

#servico-2 .circle-2:hover .svg-forc {
    opacity: 1;
}

#servico-2 .text-forc {
    top: -46px;
    left: 195px;
    width: 52%;
    font-size: .88em;
    opacity: 0;
    transition: all .1s ease-in-out;
}

#servico-2 .circle-2:hover .text-forc {
    opacity: 1;
}

#servico-2 .circle-2:hover #interno2,
#servico-2 .circle-2:hover #externo2 {
    animation-play-state: running;
    -moz-animation-play-state: running;
    -webkit-animation-play-state: running;
}

#servico-2 #interno2 {
    stroke-dasharray: 410;
    animation: endStroke 5s linear infinite;
    -webkit-animation: endStroke 5s linear infinite;
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
}

#servico-2 #externo2 {
    stroke-dasharray: 463;
    animation: endStroke2 5s linear infinite;
    -webkit-animation: endStroke2 5s linear infinite;
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
}

@keyframes endStroke {
    to {
        stroke-dashoffset: 1640;
    }
}

@keyframes endStroke2 {
    to {
        stroke-dashoffset: -926;
    }
}


/*------------ Servico tres ----------*/

#servico-3 .circle-3 {
    left: 27%;
    top: -30px;
    margin-left: -80px;
    cursor: pointer;
}

#servico-3 .bg-circle-3 {
    width: 160px;
    height: 160px;
    background: #ffffff;
    border-radius: 50%;
}

#servico-3 .icon-service-3 {
    left: 50%;
    top: 50%;
    margin-top: -53.5px;
    margin-left: -58.5px;
}

#servico-3 .svg-circle {
    left: 50%;
    top: 50%;
    margin-left: -110px;
    margin-top: -110px;
    z-index: 10;
}

#servico-3 .svg-forc {
    top: 133px;
    left: -65px;
    opacity: 0;
    z-index: -3;
    transform: scale(-1);
    transition: all .1s ease-in-out;
}

#servico-3 .circle-3:hover .svg-forc {
    opacity: 1;
}

#servico-3 .text-forc {
    top: 157px;
    left: -228px;
    width: 103%;
    font-size: .75em;
    opacity: 0;
    transition: all .1s ease-in-out;
}

#servico-3 .circle-3:hover .text-forc {
    opacity: 1;
}

#servico-3 .circle-3:hover #interno3,
#servico-3 .circle-3:hover #externo3 {
    animation-play-state: running;
    -moz-animation-play-state: running;
    -webkit-animation-play-state: running;
}

#servico-3 #interno3 {
    stroke-dasharray: 410;
    animation: endStroke 5s linear infinite;
    -webkit-animation: endStroke 5s linear infinite;
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
}

#servico-3 #externo3 {
    stroke-dasharray: 463;
    animation: endStroke2 5s linear infinite;
    -webkit-animation: endStroke2 5s linear infinite;
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
}

@keyframes endStroke {
    to {
        stroke-dashoffset: 1640;
    }
}

@keyframes endStroke2 {
    to {
        stroke-dashoffset: -926;
    }
}


/*-------------- Botoes --------------*/

.botoes {
    right: 0px;
}

.btn-1 {
    border: 2px solid #0c5e58;
    padding: 1px 5px;
    z-index: 10;
    font-size: .8em;
    border-radius: 3px;
    cursor: pointer;
}

.btn-1:after {
    position: absolute;
    content: "";
    width: 33.4%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: #e68f1e;
    transition: all 0.3s ease;
}

.btn-1:hover {
    color: #fff;
}

.btn-1:hover:after {
    top: 0;
    height: 100%;
    border: 2px solid #965f18;
    border-radius: 3px;
}

.btn-1:active {
    top: 2px;
}

.btn-2 {
    border: 2px solid #0c5e58;
    padding: 1px 5px;
    z-index: 10;
    font-size: .8em;
    border-radius: 3px;
    cursor: pointer;
}

.btn-2:after {
    position: absolute;
    content: "";
    width: 61.5%;
    height: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: #e68f1e;
    transition: all 0.3s ease;
}

.btn-2:hover {
    color: #fff;
}

.btn-2:hover:after {
    top: 0;
    height: 100%;
    border: 2px solid #965f18;
    border-radius: 3px;
}

.btn-2:active {
    top: 2px;
}

.circle-1 .sub-text{
    width: 200px;
    left: -165px;
    font-size: .9em;
    bottom: 150px;
    opacity: 0;
    color: #dbdbdb;
    transition: all .1s ease-in-out;
}
.circle-1:hover .sub-text{
    opacity: 1;
}

.circle-2 .sub-text{
    width: 200px;
    left: 145px;
    bottom: 150px;
    font-size: .9em;
    opacity: 0;
    color: #dbdbdb;
    transition: all .1s ease-in-out;
}
.circle-2:hover .sub-text{
    opacity: 1;
}