/*----------- Fonts -------------*/

@import url('https://fonts.googleapis.com/css?family=Lato:400,900&display=swap');

/*------ Estilos global ------*/

* {
    box-sizing: border-box;
}

section#topo {
    height: 0;
}

section.topo,
img,
section.topo a {
    z-index: 100;
}

#logo,
#menu,
#contact {
    z-index: 200;
}
.set-scr{
    right: 0px;
    transition: all 1s ease-in-out;
    animation: mouScroll 1s linear infinite;
    -webkit-animation: mouScroll 1s linear infinite;
    -moz-animation: mouScroll 1s linear infinite;
    -o-animation: mouScroll 1s linear infinite;
}
.mou{
    right: 0px;
    top: 5580px;
}
@keyframes mouScroll{
    0%{
        opacity: 0;
        top: 5560px;
    }
    25%{
        opacity: 1;
    }
    75%{
        opacity: 1;
    }
    100%{
        top: 5500px;
        opacity: 0;
    }
}
/*--------- Classes dos elementos --------*/

.infografico-wrapper {
    position: relative;
}

.page-end {
    margin-bottom: 100px;
}

.end {
    margin-bottom: 280px;
}

.mr-6 {
    margin-right: 6rem!important;
}

.ml-6 {
    margin-left: 6rem!important;
}

.l-8 {
    padding-left: 50px;
}

.r-8 {
    padding-right: 50px;
}

.numeros {
    color: #3d5800;
}

.fonte-textos {
    color: #3d5800;
    font-size: 2em;
}

.c1 {
    width: 50px;
    height: 50px;
}

.texto1 {
    width: 550px;
    text-align: center;
    position: absolute;
    bottom: 650px;
    left: 50%;
    margin-left: -275px;
}

.texto2 {
    width: 600px;
    text-align: center;
    position: absolute;
    bottom: 1000px;
    left: 5%;
}


/*----------- Animação das box no caminho_s (Duas etapas) ------------*/

#bol1 {
    margin-left: 14px;
}

.ball {
    background: #3d5800;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.preparacao.active {
    width: 950px;
    height: 100px;
    top: 884px;
}

.preparacao .content {
    font-size: 1em !important;
    font-weight: 500!important;
}

.preparacao .num {
    left: 62px;
    top: 11px;
    transition: all .4s ease-in-out;
    color: #fff;
    font-size: 1.5em;
}

.preparacao.active .num {
    left: 22px;
    top: 37px;
    font-size: 1.2em;
    opacity: .8;
}

.preparacao .text {
    opacity: 100%;
    display: block;
    transition: all .4s ease-in-out;
    font-size: 1.5em;
}

.preparacao.active .text {
    opacity: 0%;
    display: none;
}

.preparacao .content {
    animation: animText .4s ease-in-out;
    -webkit-animation: animText .8s ease-in-out;
    display: none;
    transition: all .4s ease-in-out;
}

.preparacao.active .content {
    opacity: 100%;
    display: block;
    position: absolute;
    left: 60px;
    right: 30px;
    top: 10px;
}

@keyframes animText {
    to {
        opacity: 100%;
    }
    from {
        opacity: 0%;
    }
}

.preparacao {
    position: absolute;
    height: 55px;
    width: 250px;
    top: 900px;
    left: -26px;
    border-radius: 35px;
    background: #9fc54d;
    transition: all .5s ease-in-out;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

.preparacao:hover {
    cursor: pointer;
}


/*--------------- Segunda barra ---------------*/

#bol2 {
    margin-right: 14px;
}

.localizacao {
    top: 703px;
    right: -26px;
    height: 55px;
    width: 250px;
    border-radius: 30px;
    background: #9fc54d;
    z-index: 10;
    transition: all .4s ease-in-out;
    cursor: pointer;
}

.localizacao.active {
    width: 1050px;
    height: 100px;
    top: 682px;
    flex-direction: row-reverse;
}

.localizacao .num {
    left: 22px;
    top: 12px;
    transition: all .4s ease-in-out;
    color: #fff;
    z-index: 10;
    font-size: 1.5em;
}

.localizacao.active .num {
    left: 1013px;
    top: 37px;
    opacity: .8;
    font-size: 1.2em;
}

.localizacao .text {
    opacity: 100%;
    padding-left: 25px;
    display: block;
    transition: all .4s ease-in-out;
    font-size: 1.5em;
}

.localizacao.active .text {
    opacity: 0%;
    display: none;
}

.localizacao .content {
    animation: animText .4s ease-in-out;
    -webkit-animation: animText .8s ease-in-out;
    display: none;
    transition: all .4s ease-in-out;
    font-size: 1em !important;
    font-weight: 500!important;
}

.localizacao.active .content {
    opacity: 100%;
    display: block;
    position: absolute;
    left: 30px;
    right: 60px;
    top: 10px;
}

.localizacao.active .ball {
    float: right;
}


/*--- FIM ---*/

.duasetapas {
    position: absolute;
    bottom: 2900px;
    left: 650px;
}

.seunegocio {
    position: absolute;
    bottom: 2500px;
    /* left: %; */
    margin-left: -19px;
}

.img1 {
    position: absolute;
    bottom: 2315px;
    left: 50%;
    margin-left: -99px;
}

.img2 {
    position: absolute;
    bottom: 2088px;
    left: 22%;
    margin-left: -99px;
}

.img3 {
    position: absolute;
    bottom: 1765px;
    left: 69%;
    margin-left: -99px;
}

.img4 {
    position: absolute;
    bottom: 1765px;
    left: 32%;
    margin-left: -99px;
}

.img5 {
    position: absolute;
    bottom: 2088px;
    left: 76%;
    margin-left: -99px;
}

.box {
    width: 90px;
    height: 90px;
    z-index: 11;
}

.font-weight-black {
    font-weight: 900;
}

.bg-grn {
    background: #224b3d;
    z-index: 110;
}

.page-end {
    padding: 20%;
    z-index: 110;
}

.end {
    color: #3d5800;
    margin-top: 10%;
}

svg,
.cls-1,
.cls-2 {
    transition: all .4s ease-in-out;
    z-index: 10;
}


/*-------------------- Animação sete Circulo SVG ---------------------*/

#num7 {
    position: absolute;
    left: 1066px;
    bottom: 4126px;
    transition: all .4s ease;
}

#num7:hover {
    cursor: pointer;
}

#num7.active {
    bottom: 4285px;
}

#num7.active svg {
    width: 60px;
    height: 60px;
    margin-top: 9px;
    margin-left: 13px;
    transition: all .3s ease-in-out;
}

#num7:hover svg {
    transform: rotateZ(360deg);
}

#num7.active .cls-1 {
    fill: #ffffff;
}

#num7.active .cls-2 {
    fill: #ffffff;
}

#num7 .bar {
    background: #9fc54d;
    height: 0px;
    border-radius: 35px;
    right: 0px;
    width: 585px;
    position: absolute;
    z-index: -1;
    top: 1px;
    display: none;
}

#num7.active .bar {
    animation: animW2 .6s linear forwards;
    -webkit-animation: animW2 .6s linear forwards;
    -moz-animation: animW2 .6s linear forwards;
    -ms-animation: animW2 .6s linear forwards;
    -o-animation: animW2 .6s linear forwards;
    display: flex;
}

#num7 .bar .content-sete {
    opacity: 0%;
    transition: all .8s ease-in-out;
    z-index: 20;
    display: none;
}

#num7.active .bar .content-sete {
    opacity: 100%;
    display: block;
}

#num7 .sete {
    bottom: 12px;
    z-index: 50;
    position: absolute;
    left: 24px;
    transition: all .6s ease-in-out;
}

#num7.active .sete {
    bottom: 26px;
    left: 27px;
    z-index: 50;
    color: #ffffff;
    font-size: 2.7em;
}

#num7 .line {
    width: 4px;
    position: absolute;
    left: 40px;
    height: 0px;
    background: #9bc451;
    transition: all .3s ease-in-out;
    top: 130px;
    opacity: 0;
    opacity: 100%;
}

#num7.active .line {
    opacity: 100%;
    top: 70px;
    height: 200px;
}


/*------------------- circulo seis --------------*/

#num6 {
    position: absolute;
    left: 878px;
    bottom: 4126px;
    transition: all .4s ease;
}

#num6:hover {
    cursor: pointer;
}

#num6.active {
    bottom: 4285px;
}

#num6.active svg {
    width: 60px;
    height: 60px;
    margin-top: 9px;
    margin-left: 13px;
    transition: all .3s ease-in-out;
}

#num6:hover svg {
    transform: rotateZ(360deg);
}

#num6.active .cls-1 {
    fill: #ffffff;
}

#num6.active .cls-2 {
    fill: #ffffff;
}

#num6 .bar {
    background: #9fc54d;
    height: 0px;
    border-radius: 35px;
    right: 0px;
    width: 585px;
    position: absolute;
    z-index: -1;
    top: 1px;
    display: none;
}

#num6.active .bar {
    animation: animW2 .6s linear forwards;
    -webkit-animation: animW2 .6s linear forwards;
    -moz-animation: animW2 .6s linear forwards;
    -ms-animation: animW2 .6s linear forwards;
    -o-animation: animW2 .6s linear forwards;
    display: flex;
}

#num6 .bar .content-seis {
    opacity: 0%;
    transition: all .8s ease-in-out;
    z-index: 20;
    display: none;
}

#num6.active .bar .content-seis {
    opacity: 100%;
    display: block;
}

#num6 .seis {
    bottom: 12px;
    z-index: 50;
    position: absolute;
    left: 24px;
    transition: all .6s ease-in-out;
}

#num6.active .seis {
    bottom: 26px;
    left: 27px;
    z-index: 50;
    color: #ffffff;
    font-size: 2.7em;
}

#num6 .line {
    width: 4px;
    position: absolute;
    left: 39.5px;
    height: 0px;
    background: #9bc451;
    transition: all .3s ease-in-out;
    top: 130px;
    opacity: 0;
    opacity: 100%;
}

#num6.active .line {
    opacity: 100%;
    top: 70px;
    height: 200px;
}


/*---------------------------Animação do Quinto circulo SVG-----------------------------*/

#num5 {
    position: absolute;
    left: 690px;
    bottom: 4126px;
    transition: all .4s ease;
}

#num5:hover {
    cursor: pointer;
}

#num5.active {
    bottom: 4285px;
}

#num5.active svg {
    width: 60px;
    height: 60px;
    margin-top: 9px;
    margin-left: 13px;
    transition: all .3s ease-in-out;
}

#num5:hover svg {
    transform: rotateZ(360deg);
}

#num5.active .cls-1 {
    fill: #ffffff;
}

#num5.active .cls-2 {
    fill: #ffffff;
}

#num5 .bar {
    background: #9fc54d;
    height: 0px;
    border-radius: 35px;
    right: 0px;
    width: 585px;
    position: absolute;
    z-index: -1;
    top: 1px;
    display: none;
}

#num5.active .bar {
    animation: animW .6s linear forwards;
    -webkit-animation: animW .6s linear forwards;
    -moz-animation: animW .6s linear forwards;
    -ms-animation: animW .6s linear forwards;
    -o-animation: animW .6s linear forwards;
    display: flex;
}

#num5 .bar .content-cinco {
    opacity: 0%;
    transition: all .8s ease-in-out;
    z-index: 20;
    display: none;
}

#num5.active .bar .content-cinco {
    opacity: 100%;
    display: block;
}

#num5 .cinco {
    bottom: 12px;
    z-index: 50;
    position: absolute;
    left: 24px;
    transition: all .6s ease-in-out;
}

#num5.active .cinco {
    bottom: 26px;
    left: 27px;
    z-index: 50;
    color: #ffffff;
    font-size: 2.7em;
}

#num5 .line {
    width: 4px;
    position: absolute;
    left: 40px;
    height: 0px;
    background: #9bc451;
    transition: all .3s ease-in-out;
    top: 130px;
    opacity: 0;
    opacity: 100%;
}

#num5.active .line {
    opacity: 100%;
    top: 70px;
    height: 200px;
}


/*---------------------------Animação do Quarto circulo SVG-----------------------------*/

#num4 {
    position: absolute;
    left: 517px;
    bottom: 4126px;
    transition: all .4s ease;
}

#num4:hover {
    cursor: pointer;
}

#num4.active {
    bottom: 4285px;
}

#num4.active svg {
    width: 60px;
    height: 60px;
    margin-top: 9px;
    margin-left: 13px;
    transition: all .3s ease-in-out;
}

#num4:hover svg {
    transform: rotateZ(360deg);
}

#num4.active .cls-1 {
    fill: #ffffff;
}

#num4.active .cls-2 {
    fill: #ffffff;
}

#num4 .bar {
    background: #9fc54d;
    height: 0px;
    border-radius: 35px;
    right: 0px;
    width: 585px;
    position: absolute;
    z-index: -1;
    top: 1px;
    display: none;
}

#num4.active .bar {
    animation: animW .6s linear forwards;
    -webkit-animation: animW .6s linear forwards;
    -moz-animation: animW .6s linear forwards;
    -ms-animation: animW .6s linear forwards;
    -o-animation: animW .6s linear forwards;
    display: flex;
}

#num4 .bar .content-quatro {
    opacity: 0%;
    transition: all .8s ease-in-out;
    z-index: 20;
    display: none;
}

#num4.active .bar .content-quatro {
    opacity: 100%;
    display: block;
}

#num4 .quatro {
    bottom: 12px;
    z-index: 50;
    position: absolute;
    left: 24px;
    transition: all .6s ease-in-out;
}

#num4.active .quatro {
    bottom: 26px;
    left: 27px;
    z-index: 50;
    color: #ffffff;
    font-size: 2.7em;
}

#num4 .line {
    width: 4px;
    position: absolute;
    left: 38px;
    height: 0px;
    background: #9bc451;
    transition: all .3s ease-in-out;
    top: 130px;
    opacity: 0;
    opacity: 100%;
}

#num4.active .line {
    opacity: 100%;
    top: 70px;
    height: 200px;
}


/*---------------------------Animação do Terceiro circulo SVG-----------------------------*/

#num3 {
    position: absolute;
    left: 337px;
    bottom: 4126px;
    transition: all .4s ease;
}

#num3:hover {
    cursor: pointer;
}

#num3.active {
    bottom: 4285px;
}

#num3.active svg {
    width: 60px;
    height: 60px;
    margin-top: 9px;
    margin-left: 13px;
    transition: all .3s ease-in-out;
}

#num3:hover svg {
    transform: rotateZ(360deg);
}

#num3.active .cls-1 {
    fill: #ffffff;
}

#num3.active .cls-2 {
    fill: #ffffff;
}

#num3 .bar {
    background: #9fc54d;
    height: 0px;
    border-radius: 35px;
    width: 585px;
    position: absolute;
    z-index: -1;
    top: 1px;
    display: none;
}

#num3.active .bar {
    animation: animW .6s linear forwards;
    -webkit-animation: animW .6s linear forwards;
    -moz-animation: animW .6s linear forwards;
    -ms-animation: animW .6s linear forwards;
    -o-animation: animW .6s linear forwards;
    display: flex;
}

#num3 .bar .content-tres {
    opacity: 0%;
    transition: all .8s;
    z-index: 20;
    display: none;
}

#num3.active .bar .content-tres {
    opacity: 100%;
    display: block;
}

#num3 .tres {
    bottom: 12px;
    z-index: 50;
    position: absolute;
    left: 29px;
    transition: all .6s ease-in-out;
}

#num3.active .tres {
    bottom: 26px;
    left: 29px;
    z-index: 50;
    color: #ffffff;
    font-size: 2.7em;
}

#num3 .line {
    width: 4px;
    position: absolute;
    left: 38px;
    height: 0px;
    background: #9bc451;
    transition: all .3s ease-in-out;
    top: 130px;
    opacity: 0;
    opacity: 100%;
}

#num3.active .line {
    opacity: 100%;
    top: 70px;
    height: 200px;
}


/*---------------------------Animação do segundo circulo SVG-----------------------------*/

#num2 {
    position: absolute;
    left: 154px;
    bottom: 4126px;
    transition: all .4s ease;
}

#num2:hover {
    cursor: pointer;
}

#num2.active {
    bottom: 4285px;
}

#num2.active svg {
    width: 60px;
    height: 60px;
    margin-top: 9px;
    margin-left: 13px;
    transition: all .3s ease-in-out;
}

#num2:hover svg {
    transform: rotateZ(360deg);
}

#num2.active .circulo-1 {
    fill: #ffffff;
}

#num2.active .circulo-2 {
    fill: #ffffff;
}

#num2 .bar {
    background: #9fc54d;
    height: 0px;
    border-radius: 35px;
    width: 585px;
    position: absolute;
    z-index: -1;
    top: 1px;
    display: none;
}

#num2.active .bar {
    animation: animW .6s linear forwards;
    -webkit-animation: animW .6s linear forwards;
    -moz-animation: animW .6s linear forwards;
    -ms-animation: animW .6s linear forwards;
    -o-animation: animW .6s linear forwards;
    display: flex;
}

#num2 .bar .content-dois {
    opacity: 0%;
    transition: all .8s;
    z-index: 20;
    display: none;
}

#num2.active .bar .content-dois {
    opacity: 100%;
    display: block;
}

#num2 .dois {
    bottom: 12px;
    z-index: 50;
    position: absolute;
    left: 29px;
    transition: all .6s ease-in-out;
}

#num2.active .dois {
    bottom: 26px;
    left: 30px;
    z-index: 50;
    color: #ffffff;
    font-size: 2.7em;
}

#num2 .line {
    width: 4px;
    position: absolute;
    left: 39px;
    opacity: 0;
    height: 0px;
    background: #9bc451;
    transition: all .3s ease-in-out;
    top: 130px;
    opacity: 0;
    opacity: 100%;
}

#num2.active .line {
    opacity: 100%;
    top: 70px;
    height: 200px;
}


/*------------------Animações do primeiro circulo SVG---------------------------------*/

#num1 {
    position: absolute;
    left: -36px;
    bottom: 4126px;
    transition: all .4s ease;
    z-index: 10;
}

#num1:hover {
    cursor: pointer;
}

#num1.active {
    bottom: 4285px;
}

#num1.active svg {
    width: 60px;
    height: 60px;
    margin-top: 9px;
    margin-left: 13px;
    transition: all .3s ease-in-out;
}

#num1:hover svg {
    transform: rotateZ(360deg);
}

#num1.active #um_svg .cls-1 {
    fill: #ffffff;
}

#num1.active #um_svg .cls-2 {
    fill: #ffffff;
}

#num1 .bar {
    background: #9fc54d;
    height: 0px;
    border-radius: 35px;
    width: 585px;
    position: absolute;
    z-index: -1;
    top: 1px;
    display: none;
}

#num1.active .bar {
    animation: animW .6s linear forwards;
    -webkit-animation: animW .6s linear forwards;
    -moz-animation: animW .6s linear forwards;
    -ms-animation: animW .6s linear forwards;
    -o-animation: animW .6s linear forwards;
    display: flex;
}

#num1 .bar .content-um {
    opacity: 0%;
    transition: all .8s;
    z-index: 20;
    display: none;
}

#num1.active .bar .content-um {
    opacity: 100%;
    display: block;
}

#num1 .um {
    bottom: 12px;
    z-index: 50;
    position: absolute;
    left: 29px;
    transition: all .6s ease-in-out;
}

#num1.active .um {
    bottom: 26px;
    left: 32px;
    z-index: 50;
    color: #ffffff;
    font-size: 2.7em;
}

#num1 .line {
    width: 4px;
    position: absolute;
    left: 39px;
    height: 0px;
    top: 130px;
    background: #9bc451;
    transition: all .3s ease-in-out;
    opacity: 0;
    opacity: 100%;
}

#num1.active .line {
    opacity: 100%;
    top: 70px;
    height: 200px;
}


/*-------------------- Tamanho dos SVGs ---------------------*/

#linha1 {
    stroke-dasharray: 1660;
    stroke-dashoffset: 1660;
    width: 3px !important;
    height: 614px !important;
}

#retangulo {
    stroke-dasharray: 1387;
    stroke-dashoffset: 1387;
}

#caracol1 {
    stroke-dasharray: 1552;
    stroke-dashoffset: 1552;
}

#linha2 {
    stroke-dasharray: 466;
    stroke-dashoffset: 466;
    width: 3px !important;
}

#circulo_bottom {
    stroke-dasharray: 162;
    stroke-dashoffset: 162;
}

#circulo_direita {
    stroke-dasharray: 99;
    stroke-dashoffset: 99;
}

#circulo_esquerda {
    stroke-dasharray: 104;
    stroke-dashoffset: 104;
}

#circulo_top_esquerda {
    stroke-dasharray: 160;
    stroke-dashoffset: 160;
}

#circulo_top_direita {
    stroke-dasharray: 150;
    stroke-dashoffset: 150;
}

#ltop {
    stroke-dasharray: 280;
    stroke-dashoffset: 280;
    z-index: 100;
}

#caminho_s_1 {
    stroke-dasharray: 1538;
    stroke-dashoffset: 1538;
}

#caminho_s_2 {
    stroke-dasharray: 598;
    stroke-dashoffset: 598;
}

#linhaTop2 {
    stroke-dasharray: 271;
    stroke-dashoffset: 271;
}

#interno_direito {
    stroke-dasharray: 267;
    stroke-dashoffset: 267;
}

#interno_esquerdo {
    stroke-dashoffset: 268;
    stroke-dasharray: 268;
}

#meio {
    stroke-dasharray: 159;
    stroke-dashoffset: 159;
}

#externo_direito {
    stroke-dasharray: 542;
    stroke-dashoffset: 542;
}

#externo_esquerdo {
    stroke-dashoffset: 544;
    stroke-dasharray: 544;
}

#meio_esquerdo {
    stroke-dashoffset: 398;
    stroke-dasharray: 398;
}

#meio_direito {
    stroke-dashoffset: 402;
    stroke-dasharray: 402;
}

#linha_top_2 {
    stroke-dashoffset: 150;
    stroke-dasharray: 150;
}

section#logo {
    padding: 100px 0px 250px 0px;
}


/*__________ Controle de Velocidade dos SVGs ___________*/

#linha1.start {
    animation: endStroke 1s linear forwards;
    -webkit-animation: endStroke 1s linear forwards;
    -moz-animation: endStroke 1s linear forwards;
    -ms-animation: endStroke 1s linear forwards;
    -o-animation: endStroke 1s linear forwards;
}

#retangulo.start {
    animation: endStroke .8s linear forwards;
    -webkit-animation: endStroke .8s linear forwards;
    -moz-animation: endStroke .8s linear forwards;
    -ms-animation: endStroke .8s linear forwards;
    -o-animation: endStroke .8s linear forwards;
}

#caracol1.start {
    animation: endStroke .7s linear forwards;
    -webkit-animation: endStroke .7s linear forwards;
    -moz-animation: endStroke .7s linear forwards;
    -ms-animation: endStroke .7s linear forwards;
    -o-animation: endStroke .7s linear forwards;
}

#linha2.start {
    animation: endStroke .5s linear forwards;
    -webkit-animation: endStroke .5s linear forwards;
    -moz-animation: endStroke .5s linear forwards;
    -ms-animation: endStroke .5s linear forwards;
    -o-animation: endStroke .5s linear forwards;
}

#circulo_bottom.start {
    animation: endStroke .4s linear forwards;
    -webkit-animation: endStroke .4s linear forwards;
    -moz-animation: endStroke .4s linear forwards;
    -ms-animation: endStroke .4s linear forwards;
    -o-animation: endStroke .4s linear forwards;
}

#circulo_direita.start {
    animation: endStroke .4s linear forwards;
    -webkit-animation: endStroke .4s linear forwards;
    -moz-animation: endStroke .4s linear forwards;
    -ms-animation: endStroke .4s linear forwards;
    -o-animation: endStroke .4s linear forwards;
}

#circulo_esquerda.start {
    animation: endStroke .4s linear forwards;
    -webkit-animation: endStroke .4s linear forwards;
    -moz-animation: endStroke .4s linear forwards;
    -ms-animation: endStroke .4s linear forwards;
    -o-animation: endStroke .4s linear forwards;
}

#circulo_top_esquerda.start {
    animation: endStroke .4s linear forwards;
    -webkit-animation: endStroke .4s linear forwards;
    -moz-animation: endStroke .4s linear forwards;
    -ms-animation: endStroke .4s linear forwards;
    -o-animation: endStroke .4s linear forwards;
}

#circulo_top_direita.start {
    animation: endStroke .4s linear forwards;
    -webkit-animation: endStroke .4s linear forwards;
    -moz-animation: endStroke .4s linear forwards;
    -ms-animation: endStroke .4s linear forwards;
    -o-animation: endStroke .4s linear forwards;
}

#ltop.start {
    animation: endStroke .4s linear forwards;
    -webkit-animation: endStroke .4s linear forwards;
    -moz-animation: endStroke .4s linear forwards;
    -ms-animation: endStroke .4s linear forwards;
    -o-animation: endStroke .4s linear forwards;
}

#caminho_s_1.start {
    animation: endStroke .7s linear forwards;
    -webkit-animation: endStroke .7s linear forwards;
    -moz-animation: endStroke .7s linear forwards;
    -ms-animation: endStroke .7s linear forwards;
    -o-animation: endStroke .7s linear forwards;
}

#caminho_s_2.start {
    animation: endStroke .4s linear forwards;
    -webkit-animation: endStroke .4s linear forwards;
    -moz-animation: endStroke .4s linear forwards;
    -ms-animation: endStroke .4s linear forwards;
    -o-animation: endStroke .4s linear forwards;
}

#linha_top_2.start {
    animation: endStroke .3s linear forwards;
    -webkit-animation: endStroke .3s linear forwards;
    -moz-animation: endStroke .3s linear forwards;
    -ms-animation: endStroke .3s linear forwards;
    -o-animation: endStroke .3s linear forwards;
}

#interno_direito.start {
    animation: endStroke .7s linear forwards;
    -webkit-animation: endStroke .7s linear forwards;
    -moz-animation: endStroke .7s linear forwards;
    -ms-animation: endStroke .7s linear forwards;
    -o-animation: endStroke .7s linear forwards;
}

#interno_esquerdo.start {
    animation: endStroke .7s linear forwards;
    -webkit-animation: endStroke .7s linear forwards;
    -moz-animation: endStroke .7s linear forwards;
    -ms-animation: endStroke .7s linear forwards;
    -o-animation: endStroke .7s linear forwards;
}

#meio_direito.start {
    animation: endStroke .7s linear forwards;
    -webkit-animation: endStroke .7s linear forwards;
    -moz-animation: endStroke .7s linear forwards;
    -ms-animation: endStroke .7s linear forwards;
    -o-animation: endStroke .7s linear forwards;
}

#meio_esquerdo.start {
    animation: endStroke .7s linear forwards;
    -webkit-animation: endStroke .7s linear forwards;
    -moz-animation: endStroke .7s linear forwards;
    -ms-animation: endStroke .7s linear forwards;
    -o-animation: endStroke .7s linear forwards;
}

#meio.start {
    animation: endStroke .7s linear forwards;
    -webkit-animation: endStroke .7s linear forwards;
    -moz-animation: endStroke .7s linear forwards;
    -ms-animation: endStroke .7s linear forwards;
    -o-animation: endStroke .7s linear forwards;
}

#externo_direito.start {
    animation: endStroke .6s linear forwards;
    -webkit-animation: endStroke .6s linear forwards;
    -moz-animation: endStroke .6s linear forwards;
    -ms-animation: endStroke .6s linear forwards;
    -o-animation: endStroke .6s linear forwards;
}

#externo_esquerdo.start {
    animation: endStroke .6s linear forwards;
    -webkit-animation: endStroke .6s linear forwards;
    -moz-animation: endStroke .6s linear forwards;
    -ms-animation: endStroke .6s linear forwards;
    -o-animation: endStroke .6s linear forwards;
}


/*---- Animações geral dos elementos(textos, img.....etc) ----*/

#title_init {
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

#title_init.start {
    opacity: 100%;
}


/*--- Animações das linhas e dos circulos do benefício ---*/

@keyframes endStroke {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes animW {
    0% {
        height: 0;
        opacity: 0;
        padding: 0;
    }
    60% {
        height: 0;
        opacity: 0;
        padding: 0;
    }
    100% {
        height: 78px;
        opacity: 100%;
        padding: 0px 85px;
    }
}

@keyframes animW2 {
    0% {
        height: 0;
        opacity: 0;
        padding: 0;
    }
    60% {
        height: 0;
        opacity: 0;
        padding: 0;
    }
    100% {
        height: 80px;
        opacity: 100%;
        padding-right: 45px;
    }
}


/*--------------- Animações das Setas ---------------*/

.op-1 {
    opacity: 1 !important;
}

.p-seta {
    fill: #99c667;
}

.setas {
    position: relative;
}

#seta_um {
    position: absolute;
    left: 49%;
    transition: all .5s ease-in-out;
    animation-duration: .5s;
    -moz-animation-duration: .5s;
    -webkit-animation-duration: .5s;
    -webkit-animation-name: seta_um;
    -webkit-animation-duration: 4s;
    animation-name: seta_um;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
} 


#seta_dois {
    position: absolute;
    left: 49%;
    transition: all .5s ease-in-out;
    animation-duration: .5s;
    -moz-animation-duration: .5s;
    -webkit-animation-duration: .5s;
    -webkit-animation-name: seta_dois;
    -webkit-animation-duration: 4s;
    animation-name: seta_dois;
    animation-duration: 2s;
    animation-iteration-count: infinite;

    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
}


#seta_tres {
    position: absolute;
    left: 49%;
    transition: all .5s ease-in-out;
    animation-duration: .5s;
    -moz-animation-duration: .5s;
    -webkit-animation-duration: .5s;
    -webkit-animation-name: seta_tres;
    -webkit-animation-duration: 4s;
    animation-name: seta_tres;
    animation-duration: 2s;
    animation-iteration-count: infinite;

    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
}

#seta_quatro {
    position: absolute;
    left: 49%;
    transition: all .5s ease-in-out;
    animation-duration: .5s;
    -moz-animation-duration: .5s;
    -webkit-animation-duration: .5s;
    -webkit-animation-name: seta_quatro;
    -webkit-animation-duration: 4s;
    animation-name: seta_quatro;
    animation-duration: 2s;
    animation-iteration-count: infinite;

    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
}

#seta_cinco {
    position: absolute;
    top: 1021px;
    transform: rotate(270deg);
    transition: all .5s ease-in-out;
    animation-duration: .5s;
    -moz-animation-duration: .5s;
    -webkit-animation-duration: .5s;
    -webkit-animation-name: seta_cinco;
    -webkit-animation-duration: 4s;
    animation-name: seta_cinco;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
}

#seta_seis {
    position: absolute;
    top: 1021px;
    transform: rotate(270deg);
    transition: all .5s ease-in-out;
    animation-duration: .5s;
    -moz-animation-duration: .5s;
    -webkit-animation-duration: .5s;
    -webkit-animation-name: seta_seis;
    -webkit-animation-duration: 4s;
    animation-name: seta_seis;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
}

#seta_sete {
    position: absolute;
    top: 820px;
    transform: rotate(90deg);
    transition: all .5s ease-in-out;
    animation-duration: .5s;
    -moz-animation-duration: .5s;
    -webkit-animation-duration: .5s;
    -webkit-animation-name: seta_sete;
    -webkit-animation-duration: 4s;
    animation-name: seta_sete;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
}

#seta_oito {
    position: absolute;
    top: 820px;
    transform: rotate(90deg);
    transition: all .5s ease-in-out;
    animation-duration: .5s;
    -moz-animation-duration: .5s;
    -webkit-animation-duration: .5s;
    -webkit-animation-name: seta_oito;
    -webkit-animation-duration: 4s;
    animation-name: seta_oito;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
}

#seta_nove {
    position: absolute;
    top: 820px;
    transform: rotate(90deg);
    transition: all .5s ease-in-out;
    animation-duration: .5s;
    -moz-animation-duration: .5s;
    -webkit-animation-duration: .5s;
    -webkit-animation-name: seta_nove;
    -webkit-animation-duration: 4s;
    animation-name: seta_nove;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
}

#seta_dez {
    position: absolute;
    top: 613px;
    transform: rotate(270deg);
    transition: all .5s ease-in-out;
    animation-duration: .5s;
    -moz-animation-duration: .5s;
    -webkit-animation-duration: .5s;
    -webkit-animation-name: seta_dez;
    -webkit-animation-duration: 4s;
    animation-name: seta_dez;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
}

#seta_onze {
    position: absolute;
    top: 613px;
    transform: rotate(270deg);
    transition: all .5s ease-in-out;
    animation-duration: .5s;
    -moz-animation-duration: .5s;
    -webkit-animation-duration: .5s;
    -webkit-animation-name: seta_onze;
    -webkit-animation-duration: .5s;
    animation-name: seta_onze;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
}

@keyframes seta_um {
    0% {
        opacity: 0%;
        top: 4000px;
    }
    10% {
        opacity: 100%;
    }
    90% {
        opacity: 100%;
    }
    100% {
        top: 3900px;
        opacity: 0%;
    }
}

@keyframes seta_dois {
    0% {
        opacity: 0%;
        top: 3800px;
    }
    10% {
        opacity: 100%;
    }
    90% {
        opacity: 100%;
    }
    100% {
        top: 3700px;
        opacity: 0%;
    }
}

@keyframes seta_tres {
    0% {
        opacity: 0%;
        top: 2800px;
    }
    10% {
        opacity: 100%;
    }
    90% {
        opacity: 100%;
    }
    100% {
        top: 2700px;
        opacity: 0%;
    }
}

@keyframes seta_quatro {
    0% {
        opacity: 0%;
        top: 2600px;
    }
    10% {
        opacity: 100%;
    }
    90% {
        opacity: 100%;
    }
    100% {
        top: 2500px;
        opacity: 0%;
    }
}

@keyframes seta_cinco {
    0% {
        opacity: 0%;
        left: 25%;
    }
    10% {
        opacity: 100%;
    }
    90% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
        left: 15%;
    }
}

@keyframes seta_seis {
    0% {
        opacity: 0%;
        left: 40%;
    }
    10% {
        opacity: 100%;
    }
    90% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
        left: 30%;
    }
}

@keyframes seta_sete {
    0% {
        opacity: 0%;
        left: 15%;
    }
    10% {
        opacity: 100%;
    }
    90% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
        left: 25%;
    }
}

@keyframes seta_oito {
    0% {
        opacity: 0%;
        left: 40%;
    }
    10% {
        opacity: 100%;
    }
    90% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
        left: 50%;
    }
}

@keyframes seta_nove {
    0% {
        opacity: 0%;
        left: 65%;
    }
    10% {
        opacity: 100%;
    }
    90% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
        left: 75%;
    }
}

@keyframes seta_dez {
    0% {
        opacity: 0%;
        left: 85%;
    }
    10% {
        opacity: 100%;
    }
    90% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
        left: 75%;
    }
}

@keyframes seta_onze {
    0% {
        opacity: 0%;
        left: 70%;
    }
    10% {
        opacity: 100%;
    }
    90% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
        left: 60%;
    }
}


/*----------------- Animação dos textos finais ----------------*/

#ani.start {
    animation-name: lef;
    animation-duration: .5s;
    -webkit-animation-name: lef;
    -webkit-animation-duration: .5s;
}

#ani2.start {
    animation-name: rig;
    animation-duration: .5s;
    -webkit-animation-name: rig;
    -webkit-animation-duration: .5s;
}

@-webkit-keyframes lef {
    from {
        opacity: 0;
        -webkit-transform: translate3d(150%, 0, 0);
        transform: translate3d(150%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes lef {
    from {
        opacity: 0;
        -webkit-transform: translate3d(150%, 0, 0);
        transform: translate3d(150%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes rig {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-150%, 0, 0);
        transform: translate3d(-150%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes rig {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-150%, 0, 0);
        transform: translate3d(-150%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

#Layer_2 {
    left: 3px;
    top: -4px;
}