@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,700,700i,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
p{
    font-size: 0.9em!important;
    bottom: -110px;
}
.mt-10{
    margin-top:11rem;
}

/*------{------------- Tamanhos de fontes para typ -------------------*/

.fon-1em {
    font-size: 0.7em;
}

.fon-1-2em {
    font-size: 1.2em;
}

.fon-1-5em {
    font-size: 1.5em;
}

.fon-2em {
    font-size: 2em;
}

.fon-2-5em {
    font-size: 2.5em;
}

.fon-3em {
    font-size: 3em;
}

.fon-3-5em {
    font-size: 3.5em;
}

.fon-4em {
    font-size: 4em;
}

.f-fre {
    color: #a9be45;
    font-size: 1.4em;
    line-height: 25px;
}

.font-weight-black {
    font-weight: 900;
}

.pb-6 {
    padding-bottom: 55%;
}


/* 2 - Pagina - Clientes */

body {
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.text-green {
    color: #a9be45;
}

.text-orange {
    color: #dc9018;
}

.text-wBlack {
    font-weight: 900;
}

.text-ye {
    color: #ffed00;
}

.box-slider {
    width: 300px;
    height: 200px;
    background: #ffff;
}

.f-green {
    color: #a9be45;
    font-weight: 900;
    font-size: 2.8em;
    line-height: 42px;
}

.text-lat {
    right: 10px;
    top: 1180px;
    text-align: right;
}

.lines {
    line-height: 25px;
}

.w80 {
    width: 60%;
    margin-left: 20%;
}

.c {
    cursor: pointer;
}

.circle {
    width: 70px;
    height: 70px;
    background: #fff;
    border-radius: 50%;
    z-index: 2;
}

.bords {
    z-index: 1;
    left: -9px;
    top: -9px;
    transition: all .3s ease-in-out;
}

#btn1:hover .bord {
    transform: rotate(360deg);
}

#btn1 {
    top: 223px;
    left: 50%;
    margin-left: -35px;
    z-index: 10;
    transition: all .4s ease-in-out;
}

#btn1 .plan-z {
    z-index: 100;
}

#btn1 .text-ball {
    left: 8px;
    top: 13px;
}

#btn1 .bar {
    right: 5px;
    width: 0px;
    height: 5px;
    top: 32px;
    background: #a9be45;
    transition: all .1s ease-in-out;
}

#btn1.active .bar {
    width: 95px;
}

#btn1 .text-content {
    width: 300px;
    height: 200px;
    background: #d9e891;
    border-radius: 10px;
    left: 50%;
    bottom: -170px;
    margin-left: -115px;
    transition: all .2s ease-in-out;
    box-sizing: border-box;
    overflow: hidden;
    transform: scale(0);
    z-index: -99;
}

@keyframes wid {
    to {
        transform: scale(1);
        border: 5px solid #a9be45;
        padding: 10px 22px;
        z-index: 999;
    }
}

#btn1.active .text-content {
    animation: wid .2s ease-in-out both;
    -webkit-animation: wid .2s ease-in-out both;
    animation-delay: .15s;
    -webkit-animation-delay: .15s;
}

#btn1 .title,
#btn1 .text {
    opacity: 0;
    margin-top: 100px;
    transition: all .8s ease-in-out;
}

#btn1.active .title,
#btn1.active .text {
    opacity: 1;
    margin-top: 0px;
}


/*------------- Botão dois -------------*/

#btn2:hover .bord {
    transform: rotate(360deg);
}

#btn2 {
    top: 405px;
    left: 50%;
    margin-left: -35px;
    z-index: 10;
    transition: all .4s ease-in-out;
}

#btn2 .plan-z {
    z-index: 100;
}

#btn2 .text-ball {
    left: 4px;
    top: 13px;
}

#btn2 .bar {
    left: 76px;
    width: 0px;
    height: 5px;
    top: 32px;
    background: #a9be45;
    transition: all .1s ease-in-out;
}

#btn2.active .bar {
    width: 95px;
}

#btn2 .text-content {
    width: 300px;
    height: 285px;
    background: #d9e891;
    border-radius: 10px;
    left: 50%;
    bottom: -186px;
    margin-left: -115px;
    transform: scale(0);
    transition: all .2s ease-in-out;
    box-sizing: border-box;
    overflow: hidden;
    z-index: -99;
}

@keyframes wid2 {
    to {
        transform: scale(1);
        border: 5px solid #a9be45;
        padding: 10px 22px;
        z-index: 999;
    }
}

#btn2.active .text-content {
    animation: wid2 .2s ease-in-out both;
    -webkit-animation: wid2 .2s ease-in-out both;
    animation-delay: .15s;
    -webkit-animation-delay: .15s;
}

#btn2 .title,
#btn2 .text {
    opacity: 0;
    margin-top: 100px;
    transition: all .8s ease-in-out;
}

#btn2.active .title,
#btn2.active .text {
    opacity: 1;
    margin-top: 0px;
}


/*------------- Botão tres ---------------*/

#btn3:hover .bord {
    transform: rotate(360deg);
}

#btn3 {
    top: 596px;
    left: 50%;
    margin-left: -35px;
    z-index: 10;
    transition: all .4s ease-in-out;
}

#btn3 .plan-z {
    z-index: 100;
}

#btn3 .text-ball {
    left: 6px;
    top: 13px;
}

#btn3 .bar {
    right: 5px;
    width: 0px;
    height: 5px;
    top: 32px;
    background: #a9be45;
    transition: all .1s ease-in-out;
}

#btn3.active .bar {
    width: 95px;
}

#btn3 .text-content {
    width: 300px;
    height: 195px;
    /* border: 5px solid #a9be45; */
    background: #d9e891;
    border-radius: 10px;
    left: 50%;
    bottom: -110px;
    margin-left: -115px;
    transition: all .2s ease-in-out;
    box-sizing: border-box;
    overflow: hidden;
    transform: scale(0);
    z-index: -99;
}

@keyframes wid3 {
    to {
        transform: scale(1);
        border: 5px solid #a9be45;
        padding: 10px 22px;
        z-index: 999;
    }
}

#btn3.active .text-content {
    animation: wid3 .2s ease-in-out both;
    -webkit-animation: wid3 .2s ease-in-out both;
    animation-delay: .15s;
    -webkit-animation-delay: .15s;
}

#btn3 .title,
#btn3 .text {
    opacity: 0;
    margin-top: 100px;
    transition: all .8s ease-in-out;
}

#btn3.active .title,
#btn3.active .text {
    opacity: 1;
    margin-top: 0px;
}


/*------------- seta um --------------*/

.seta_1 {
    transition: all 1s ease-in-out;
    left: 50%;
    margin-left: -10px;
    animation: anim 1.2s linear infinite;
    -webkit-animation: anim 1.2s linear infinite;
}

@keyframes anim {
    0% {
        top: 1575px;
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        top: 1500px;
    }
}


/*------------ seta dois ------------*/

.seta_2 {
    transition: all 1s ease-in-out;
    left: 50%;
    margin-left: -10px;
    animation: anim2 1.2s linear infinite;
    -webkit-animation: anim2 1.2s linear infinite;
}

@keyframes anim2 {
    0% {
        top: 1490px;
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        top: 1415px;
    }
}

#linha_um {
    stroke-dashoffset: 401;
    stroke-dasharray: 401;
}

#linha_dois {
    stroke-dashoffset: 127;
    stroke-dasharray: 127;
}

#linha_tres {
    stroke-dashoffset: 127;
    stroke-dasharray: 127;
}

#linha_quatro {
    stroke-dashoffset: 383;
    stroke-dasharray: 383;
}

#linha_um.start {
    animation: endStroke .4s linear forwards;
    -webkit-animation: endStroke .4s linear forwards;
    -moz-animation: endStroke .4s linear forwards;
    -o-animation: endStroke .4s linear forwards;
}

#linha_dois.start {
    animation: endStroke .4s linear forwards;
    -webkit-animation: endStroke .4s linear forwards;
    -moz-animation: endStroke .4s linear forwards;
    -o-animation: endStroke .4s linear forwards;
}

#linha_tres.start {
    animation: endStroke .4s linear forwards;
    -webkit-animation: endStroke .4s linear forwards;
    -moz-animation: endStroke .4s linear forwards;
    -o-animation: endStroke .4s linear forwards;
}

#linha_quatro.start {
    animation: endStroke .4s linear forwards;
    -webkit-animation: endStroke .4s linear forwards;
    -moz-animation: endStroke .4s linear forwards;
    -o-animation: endStroke .4s linear forwards;
}

@keyframes endStroke {
    to {
        stroke-dashoffset: 0;
    }
}

.animBot {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animText2 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}