@import url('https://fonts.googleapis.com/css?family=Montserrat:200i,300i,400,500,700,700i,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}


.set-scr{
    right: 0px;
    transition: all 1s ease-in-out;
    animation: mouScroll 1s linear infinite;
    -webkit-animation: mouScroll 1s linear infinite;
    -moz-animation: mouScroll 1s linear infinite;
    -o-animation: mouScroll 1s linear infinite;

}
.bll{
    width:20px;
    height:20px;
    border-radius:50%;
    background:#ededed;
    left:50%;
    position:absolute;
    margin-left:-10px;
    bottom:0px;
}
.mou{
    right: 0px;
    top: 50px;
}
@keyframes mouScroll{
    0%{
        opacity: 0;
        top: 20px;

    }
    25%{
        opacity: 1;
    }
    75%{
        opacity: 1;
    }
    100%{
        top: -40px;
        opacity: 0;
    }
}


/*------{------------- Tamanhos de fontes para typ -------------------*/
.c-yel{
    color: #ffed00;
}

.c-org{
    color: #dc9018;
}
.fon-1em {
    font-size: 0.7em;
}

.fon-1-2em {
    font-size: 1.2em;
}

.fon-1-5em {
    font-size: 1.5em;
}

.fon-2em {
    font-size: 2em;
}

.fon-2-5em {
    font-size: 2.5em;
}

.fon-3em {
    font-size: 3em;
}

.fon-3-5em {
    font-size: 3.5em;
}

.fon-4em {
    font-size: 4em;
}

span{
    font-weight: 900;
}
/*------------------- --------------------*/

.mb {
    padding-bottom: 8%;
}

.mt {
    padding: 10% 10% 5% 10%;
}

.f-fre {
    color: #a9be45;
    font-size: 2.4em;
    line-height: 35px;
}

.box {
    background: #fff;
    border-radius: 15px;
}

.f-3em {
    font-size: 1.2em;
}

.font-weight-medium {
    font-weight: 500;
}

.font-weight-blakc {
    font-weight: 900;
}

.font-inf {
    font-size: 1.3em;
}

.f-green {
    color: #a9be45;
    font-weight: 900;
    font-size: 2.8em;
    line-height: 42px;
}

.f-orange {
    color: #f79922;
}

.f-green-dark {
    color: #586712;
}

section.clientes {
    background-image: url("../img/background.jpg");
    /* background-size: cover; */
    background-repeat: no-repeat;
    z-index: -100;
}

.lead {
    top: 730px;
    right: 0px;
}

.title-logo {
    font-size: 1.6em;
    line-height: 23px;
}


/*------- Svgs ---------*/

#linha1 {
    stroke-dashoffset: 658;
    stroke-dasharray: 658;
    transition: all .4s ease-in-out;
}

#div1 {
    stroke-dashoffset: 220;
    stroke-dasharray: 220;
    transition: all .2s ease-in-out;
}

#div2 {
    stroke-dashoffset: 250;
    stroke-dasharray: 250;
    transition: all .2s ease-in-out;
}

#linha2 {
    stroke-dashoffset: 395;
    stroke-dasharray: 395;
    transition: all .4s ease-in-out;
}


/*------------------------ Animacao do Svg -----------------------*/

#linha1.start {
    animation: endStroke .5s linear forwards;
    -webkit-animation: endStroke .5s linear forwards;
    -moz-animation: endStroke .5s linear forwards;
    -o-animation: endStroke .5s linear forwards;
}

#div1.start {
    animation: endStroke .5s linear forwards;
    -webkit-animation: endStroke .5s linear forwards;
    -moz-animation: endStroke .5s linear forwards;
    -o-animation: endStroke .5s linear forwards;
}

#div2.start {
    animation: endStroke .5s linear forwards;
    -webkit-animation: endStroke .5s linear forwards;
    -moz-animation: endStroke .5s linear forwards;
    -o-animation: endStroke .5s linear forwards;
}

#linha2.start {
    animation: endStroke .5s linear forwards;
    -webkit-animation: endStroke .5s linear forwards;
    -moz-animation: endStroke .5s linear forwards;
    -o-animation: endStroke .5s linear forwards;
}

@keyframes endStroke {
    to {
        stroke-dashoffset: 0%;
    }
}
@-webkit-keyframes endStroke{
    to {
        stroke-dashoffset: 0%;
    }
}


/*--------------- botões meio da page --------------*/


/*--------------- Botão Um ------------------*/

.c {
    cursor: pointer;
}

.circle {
    width: 70px;
    height: 70px;
    background: #fff;
    border-radius: 50%;
    z-index: 2;
}

.bord {
    z-index: 1;
    left: -9px;
    top: -9px;
    transition: all .3s ease-in-out;
}

#btn1:hover .bord {
    transform: rotate(360deg);
}

#btn1 {
    top: 193px;
    left: 46.7%;
    z-index: 10;
}

#btn1 .plan-z {
    z-index: 100;
}

#btn1 .text-ball {
    left: 8px;
    top: 13px;
}

#btn1 .bar {
    right: 5px;
    width: 0px;
    height: 5px;
    top: 32px;
    background: #a9be45;
    transition: all .1s ease-in-out;
}

#btn1.active .bar {
    width: 95px;
}

#btn1 .text-content {
    width: 0px;
    height: 150px;
     /*border: 5px solid #a9be45; */
    background: #d9e891;
    border-radius: 10px;
    right: 100px;
    top: -20px;
    transition: all .2s ease-in-out;
    box-sizing: border-box;
    overflow: hidden;
}

@keyframes wid {
    to {
        width: 400px;
        border: 5px solid #a9be45;
        padding: 10px 22px;
    }
}

#btn1.active .text-content {
    animation: wid .2s ease-in-out both;
    -webkit-animation: wid .2s ease-in-out both;
    animation-delay: .15s;
    -webkit-animation-delay: .15s;
}

#btn1 .title,
#btn1 .text {
    opacity: 0;
    margin-top: 100px;
    transition: all .8s ease-in-out;
}

#btn1.active .title,
#btn1.active .text {
    opacity: 1;
    margin-top: 0px;
}


/*------------- Botão dois -------------*/

#btn2:hover .bord {
    transform: rotate(360deg);
}

#btn2 {
    top: 405px;
    left: 46.7%;
    z-index: 10;
}

#btn2 .plan-z {
    z-index: 100;
}

#btn2 .text-ball {
    left: 4px;
    top: 13px;
}

#btn2 .bar {
    left: 76px;
    width: 0px;
    height: 5px;
    top: 32px;
    background: #a9be45;
    transition: all .1s ease-in-out;
}

#btn2.active .bar {
    width: 95px;
}

#btn2 .text-content {
    width: 0px;
    height: 190px;
     /*border: 5px solid #a9be45; */
    background: #d9e891;
    border-radius: 10px;
    left: 170px;
    top: -20px;
    transition: all .2s ease-in-out;
    box-sizing: border-box;
    overflow: hidden;
}

@keyframes wid {
    to {
        width: 400px;
        border: 5px solid #a9be45;
        padding: 10px 22px;
    }
}
@-webkit-keyframes wid {
    to {
        width: 400px;
        border: 5px solid #a9be45;
        padding: 10px 22px;
    }
}

#btn2.active .text-content {
    animation: wid .2s ease-in-out both;
    -webkit-animation: wid .2s ease-in-out both;
    animation-delay: .15s;
    -webkit-animation-delay: .15s;
}

#btn2 .title,
#btn2 .text {
    opacity: 0;
    margin-top: 100px;
    transition: all .8s ease-in-out;
}

#btn2.active .title,
#btn2.active .text {
    opacity: 1;
    margin-top: 0px;
}


/*------------- Botão tres ---------------*/

#btn3:hover .bord {
    transform: rotate(360deg);
}

#btn3 {
    top: 606px;
    left: 46.7%;
    z-index: 10;
}

#btn3 .plan-z {
    z-index: 100;
}

#btn3 .text-ball {
    left: 6px;
    top: 13px;
}

#btn3 .bar {
    right: 5px;
    width: 0px;
    height: 5px;
    top: 32px;
    background: #a9be45;
    transition: all .1s ease-in-out;
}

#btn3.active .bar {
    width: 95px;
}

#btn3 .text-content {
    width: 0px;
    height: 150px;
     /*border: 5px solid #a9be45; */
    background: #d9e891;
    border-radius: 10px;
    right: 100px;
    top: -20px;
    transition: all .2s ease-in-out;
    box-sizing: border-box;
    overflow: hidden;
}

@keyframes wid {
    to {
        width: 400px;
        border: 5px solid #a9be45;
        padding: 10px 22px;
    }
}

#btn3.active .text-content {
    animation: wid .2s ease-in-out both;
    -webkit-animation: wid .2s ease-in-out both;
    animation-delay: .15s;
    -webkit-animation-delay: .15s;
}

#btn3 .title,
#btn3 .text {
    opacity: 0;
    margin-top: 100px;
    transition: all .8s ease-in-out;
}

#btn3.active .title,
#btn3.active .text {
    opacity: 1;
    margin-top: 0px;
}


/*--------------- Text Lateral --------------*/

.text-lat {
    top: 395px;
}


/*--------------------- Setas ----------------------*/

#seta1 {
    left: 48.78%;
    animation: seta1 1s linear infinite;
    -webkit-animation: seta1 1s linear infinite;
    -moz-animation: seta1 1s linear infinite;
    -o-animation: seta1 1s linear infinite;
    transition: all .3s ease-in-out;
}

@keyframes seta1 {
    0% {
        opacity: 0;
        top: 920px;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        top: 880px;
    }
}

#seta2 {
    left: 48.78%;
    animation: seta2 1s linear infinite;
    -webkit-animation: seta2 1s linear infinite;
    -moz-animation: seta2 1s linear infinite;
    -o-animation: seta2 1s linear infinite;
    transition: all .3s ease-in-out;
}

@keyframes seta2 {
    0% {
        opacity: 0;
        top: 830px;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        top: 790px;
    }
}


/*-------------- animacão geral do site ----------------*/

.animBot {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animText {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animText2 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animSup {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
