@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,700,700i,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
.btn a {
        padding-bottom:60px;
}

.but {
    position: relative;
    height: 30px;
    width:235px;
    padding: 2px 12px;
    font-weight: 500;
    font-size: .9em;
    letter-spacing: 2px;
    color: #383736;
    border: 2px #383736 solid;
    border-radius: 4px;
    text-transform: uppercase;
    outline: 0;
    background: none;
    z-index: 1;
    cursor: pointer;
    border: 2px solid #0c5e59;
    transition: 0.08s ease-in;
    -o-transition: 0.08s ease-in;
    -ms-transition: 0.08s ease-in;
    -moz-transition: 0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
    outline: none !important;
}

.nav{
    position:absolute;
    top:-400px;
    left:50%;
    margin-left:-88.5px;
}

/* Pagina Home*/

section.home {
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 7%;
    /* height: 520px;  */
}

section.home .w-80 {
    width: 83%;
}

section.home .w-60 {
    width: 48%;
}

section.home .circle {
    background: #ffffff;
    border-radius: 50%;
    padding: 10px;
    width: 119px;
    height: 119px;
    left: 50%;
    margin-left: -59.5px;
}

section.home h4.txt-circle {
    font-size: 0.9em;
    font-weight: bold;
    border: 2px solid #0d6c66;
    border-radius: 4px;
}

section.home .bg-grad {
    background-image: linear-gradient(#1ca695, #0e584e);
    border: 2px solid #0c5e58;
    border-radius: 4px;
}

section.home .buton {
    margin-top: 270px;
}

section.home .bg-grad-2 {
    background-image: linear-gradient(#f86300, #f9801c);
    border: 2px solid #f86300;
    border-radius: 4px;
}

section.home h5 {
    font-size: 1em;
}

section.home .bord-one {
    border: 3px solid;
    border-color: #0e554b #0e554b rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-radius: 50%;
}

section.home .bord-two {
    border: 3px solid;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #9fc54d #9fc54d;
    border-radius: 50%;
}


/*----------- Circulos -------------*/


/*------------- Circulo Um -------------*/

#Camada_1 {
    top: -22px;
    right: 11px;
}


/*------------- Circulo Dois -------------*/

#Camada_2 {
    top: -21px;
    left: 8px;
}

#Camada_3 {
    left: 50%;
    margin-left: -82.5px;
    top: 14px;
}

.content-circle-4 .circle {
    top: 37px;
}

.content-circle-4 .txt-circle {
    position: absolute;
    width: 280px;
    left: 50%;
    margin-left: -140px;
    top: 185px;
}

#interno {
    stroke-dasharray: 410;
    animation: endStroke 5s linear infinite;
    -webkit-animation: endStroke 5s linear infinite;
    animation-play-state: running;
    -webkit-animation-play-state: running;
}

#externo {
    stroke-dasharray: 463;
    animation: endStroke2 5s linear infinite;
    -webkit-animation: endStroke2 5s linear infinite;
    animation-play-state: running;
    -webkit-animation-play-state: running;
}

@keyframes endStroke {
    to {
        stroke-dashoffset: 1640;
    }
}

@keyframes endStroke2 {
    to {
        stroke-dashoffset: -926;
    }
}

@media screen and (max-width: 320px) {
    section.home .circle {
        background: #ffffff;
        border-radius: 50%;
        padding: 2px;
        width: 100px;
        height: 100px;
    }
    #Camada_2 {
        top: -14px;
        left: 0px;
    }
    #Camada_1 {
        top: -14px;
        left: 0px;
    }
    #Camada_3 {
        width: 130px;
        height: 130px;
        top: 14px;
        left: 50%;
        margin-left: -65px;
    }
    .content-circle-4 .circle {
        margin-left: -49.5px!important;
        top: 29px;
    }
}

@media screen and (max-width: 375px) and (min-width: 321px) {
    #Camada_1 {
        top: -20px;
        left: 1px;
    }
    #Camada_2 {
        top: -20px;
        left: 1px;
    }
}