@import url('https://fonts.googleapis.com/css?family=Lato:400i|Montserrat:300,400,500,700,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.font-weight-black {
    font-weight: bold;
}

.font-500 {
    font-weight: 500;
}

.border-b {
    height: 2px;
    background: #fff;
    width: 85%;
}

.border-lateral {
    width: 2px;
    background: #2e6c36;
}

section {
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 770px; */
}

section.about .box {
    width: 25%;
    height: 35%;
    padding: 20px;
    border-radius: 15px;
    z-index: 0;
}


/*------- Box Um HH --------*/

section.about .box-c-green {
    background: #91b446;
}

section.about .box .title {
    font-size: 3em;
    line-height: 35px;
    z-index: 2;
}

section.about .box .sub-title {
    font-size: 1.2em;
    line-height: 15px;
    z-index: 2;
}

section.about .box .content {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    color: #144336;
    font-size: 1.15em;
    z-index: 2;
}


/*-------- Box Dois HT --------*/

section.about .box-c-orange {
    background: #ce9428;
}


/*-------- Box tres HL ---------*/

section.about .box-c-green-dark {
    background: #12594c;
    padding-bottom: 35px;
}


/*------ Animação do icone do mouse -------*/

section.about .mouse-seta {
    position: relative;
}

section.about .mouse-seta .seta {
    position: absolute;
    left: -9px;
    animation: down .9s linear forwards infinite;
    -webkit-animation: down .9s linear forwards infinite;
    -moz-animation: down .9s linear forwards infinite;
    -o-animation: down .9s linear forwards infinite;
}

@keyframes down {
    0% {
        top: -10px;
        opacity: 0%;
    }
    55% {
        opacity: 100%;
    }
    75% {
        opacity: 100%;
    }
    100% {
        top: 5px;
        opacity: 0%;
    }
}

section.clientes {
    background: #fff;
}

section.clientes .title {
    font-size: 2em;
    color: #f79922;
}

#neg-img {
    width: 220px;
    height: 220px;
    top: 0px;
    left: 17%;
    margin-left: -110px;
    z-index: -1;
    opacity: .15;
}

#tec-img {
    width: 180px;
    height: 180px;
    top: 8px;
    left: 50%;
    margin-left: -100px;
    z-index: -1;
    opacity: .2;
}

#lin-img {
    width: 180px;
    height: 180px;
    top: 15px;
    left: 75%;
    margin-left: 5px;
    z-index: -1;
    opacity: .3;
}