@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,600,700,700i,900,900i&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}



.set-scr{
    right: 0px;
    transition: all 1s ease-in-out;
    /* top: 3765px; */
    animation: mouScroll 1s linear infinite;
    -webkit-animation: mouScroll 1s linear infinite;
    -moz-animation: mouScroll 1s linear infinite;
    -o-animation: mouScroll 1s linear infinite;
}
.mou{
    right: 0px;
    top: 3800px;
}
@keyframes mouScroll{
    0%{
        opacity: 0;
        top: 3765px;
    }
    25%{
        opacity: 1;
    }
    75%{
        opacity: 1;
    }
    100%{
        top: 3705px;
        opacity: 0;
    }
}

.h-600 {
    margin-bottom: 160px;
}

#lines {
    z-index: 1;
}

.ml-6 {
    margin-left: 6rem!important;
}

.mr-6 {
    margin-right: 6rem!important;
}

.h4 {
    color: #583600;
    top: 1720px;
    left: 200px;
}

.title2 {
    top: 850px;
}

.numeros {
    color: #583600;
}

.setas {
    height: 100%;
}

.f20 {
    font-size: 3.3em;
}

.mtop {
    margin-top: 100px;
}

.mtopN {
    margin-bottom: 180px;
}

.text-brown {
    color: #583600;
}

.bg-top {
    background: #f3e6d0;
}

.h40 {
    padding: 10%;
}

.ml-8 {
    margin-left: 230px;
}


/*-------------- Ciculos dos Beneficio (estilo e animação) --------------*/

#circulo-1 {
    position: absolute;
    left: 288px;
    top: -55px;
    transition: all .4s ease-in-out;
}

#circulo-1 svg {
    transition: all .4s ease-in-out;
}

#circulo-1:hover {
    cursor: pointer;
}

#circulo-1.active {
    top: -155px;
    transition: all .4s ease-in-out;
}

#circulo-1.active svg {
    width: 60px;
    height: 60px;
    margin-left: 13px;
    margin-top: 8px;
    transition: all .3s ease-in-out;
}

#circulo-1:hover svg {
    transform: rotateZ(360deg);
}

#circulo-1 svg .cls-1,
#circulo-1 svg .cls-2 {
    transition: all .4s ease-in-out;
}

#circulo-1.active .cls-1,
#circulo-1.active .cls-2 {
    fill: #ffffff;
}

#circulo-1 .um {
    bottom: 9px;
    left: 32px;
    z-index: 40;
    position: absolute;
    transition: all .4s ease-in-out;
}

#circulo-1.active .um {
    color: #ffffff;
    z-index: 40;
    bottom: 4px;
    left: 34px;
    font-size: 2.4em;
}

#circulo-1 .bar {
    background: #c98f2b;
    height: 0px;
    border-radius: 35px;
    width: 585px;
    position: absolute;
    z-index: -1;
    top: 1px;
    display: none;
}

#circulo-1.active .bar {
    animation: animBar .6s linear forwards;
    -webkit-animation: animBar .6s linear forwards;
    -moz-animation: animBar .6s linear forwards;
    -ms-animation: animBar .6s linear forwards;
    -o-animation: animBar .6s linear forwards;
    display: flex;
}

#circulo-1 .text {
    opacity: 0%;
    transition: all .5s ease-in-out;
    z-index: 20;
    display: none;
    font-size: 1.2em;
}

#circulo-1.active .text {
    opacity: 100%;
    display: block;
}

#circulo-1 .line {
    width: 3px;
    position: absolute;
    left: 40px;
    height: 0px;
    top: 130px;
    background: #c98f2b;
    transition: all .3s ease-in-out;
    opacity: 0;
    opacity: 100%;
}

#circulo-1.active .line {
    opacity: 100%;
    top: 70px;
    height: 200px;
}


/*----------------- Circulo 2  ----------------*/

#circulo-2 {
    position: absolute;
    left: 469px;
    top: -55px;
    transition: all .4s ease-in-out;
}

#circulo-2 svg {
    transition: all .4s ease-in-out;
}

#circulo-2:hover {
    cursor: pointer;
}

#circulo-2.active {
    top: -155px;
    transition: all .4s ease-in-out;
}

#circulo-2.active svg {
    width: 60px;
    height: 60px;
    margin-left: 13px;
    margin-top: 8px;
    transition: all .3s ease-in-out;
}

#circulo-2:hover svg {
    transform: rotateZ(360deg);
}

#circulo-2 svg .cls-1,
#circulo-2 svg .cls-2 {
    transition: all .4s ease-in-out;
}

#circulo-2.active .cls-1,
#circulo-2.active .cls-2 {
    fill: #ffffff;
}

#circulo-2 .dois {
    bottom: 9px;
    left: 30px;
    z-index: 40;
    position: absolute;
    transition: all .4s ease-in-out;
}

#circulo-2.active .dois {
    color: #ffffff;
    z-index: 40;
    bottom: 4px;
    left: 32px;
    font-size: 2.4em;
}

#circulo-2 .bar {
    background: #c98f2b;
    height: 0px;
    border-radius: 35px;
    width: 585px;
    position: absolute;
    z-index: -1;
    top: 1px;
    display: none;
}

#circulo-2.active .bar {
    animation: animBar .6s linear forwards;
    -webkit-animation: animBar .6s linear forwards;
    -moz-animation: animBar .6s linear forwards;
    -ms-animation: animBar .6s linear forwards;
    -o-animation: animBar .6s linear forwards;
    display: flex;
}

#circulo-2 .text {
    opacity: 0%;
    transition: all .5s ease-in-out;
    z-index: 20;
    display: none;
    font-size: 1.2em;
}

#circulo-2.active .text {
    opacity: 100%;
    display: block;
}

#circulo-2 .line {
    width: 3px;
    position: absolute;
    left: 40px;
    height: 0px;
    top: 130px;
    background: #c98f2b;
    transition: all .3s ease-in-out;
    opacity: 0;
    opacity: 100%;
}

#circulo-2.active .line {
    opacity: 100%;
    top: 70px;
    height: 200px;
}


/*------------------ Circulo tres -------------------*/

#circulo-3 {
    position: absolute;
    left: 625px;
    top: -55px;
    transition: all .4s ease-in-out;
}

#circulo-3 svg {
    transition: all .4s ease-in-out;
}

#circulo-3:hover {
    cursor: pointer;
}

#circulo-3.active {
    top: -155px;
    transition: all .4s ease-in-out;
}

#circulo-3.active svg {
    width: 60px;
    height: 60px;
    margin-left: 13px;
    margin-right: 13px;
    margin-top: 8px;
    transition: all .3s ease-in-out;
}

#circulo-3:hover svg {
    transform: rotateZ(360deg);
}

#circulo-3 svg .cls-1,
#circulo-3 svg .cls-2 {
    transition: all .4s ease-in-out;
}

#circulo-3.active .cls-1,
#circulo-3.active .cls-2 {
    fill: #ffffff;
}

#circulo-3 .tres {
    bottom: 9px;
    left: 30px;
    z-index: 40;
    position: absolute;
    transition: all .4s ease-in-out;
}

#circulo-3.active .tres {
    color: #ffffff;
    z-index: 40;
    bottom: 4px;
    left: 32px;
    font-size: 2.4em;
}

#circulo-3 .bar {
    background: #c98f2b;
    height: 0px;
    border-radius: 35px;
    width: 585px;
    position: absolute;
    z-index: -1;
    top: 1px;
    display: none;
    right: 0px;
}

#circulo-3.active .bar {
    animation: animBar .6s linear forwards;
    -webkit-animation: animBar .6s linear forwards;
    -moz-animation: animBar .6s linear forwards;
    -ms-animation: animBar .6s linear forwards;
    -o-animation: animBar .6s linear forwards;
    display: flex;
}

#circulo-3 .text {
    opacity: 0%;
    transition: all .5s ease-in-out;
    z-index: 20;
    display: none;
    font-size: 1.2em;
}

#circulo-3.active .text {
    opacity: 100%;
    display: block;
}

#circulo-3 .line {
    width: 3px;
    position: absolute;
    left: 41px;
    height: 0px;
    top: 130px;
    background: #c98f2b;
    transition: all .3s ease-in-out;
    opacity: 0;
    opacity: 100%;
}

#circulo-3.active .line {
    opacity: 100%;
    top: 70px;
    height: 200px;
}


/*----------------- Circulo quatro ----------------*/

#circulo-4 {
    position: absolute;
    left: 805px;
    top: -55px;
    transition: all .4s ease-in-out;
}

#circulo-4 svg {
    transition: all .4s ease-in-out;
}

#circulo-4:hover {
    cursor: pointer;
}

#circulo-4.active {
    top: -155px;
    transition: all .4s ease-in-out;
}

#circulo-4.active svg {
    width: 60px;
    height: 60px;
    margin-left: 13px;
    margin-right: 13px;
    margin-top: 8px;
    transition: all .3s ease-in-out;
}

#circulo-4:hover svg {
    transform: rotateZ(360deg);
}

#circulo-4 svg .cls-1,
#circulo-4 svg .cls-2 {
    transition: all .4s ease-in-out;
}

#circulo-4.active .cls-1,
#circulo-4.active .cls-2 {
    fill: #ffffff;
}

#circulo-4 .quatro {
    bottom: 9px;
    left: 26px;
    z-index: 40;
    position: absolute;
    transition: all .4s ease-in-out;
}

#circulo-4.active .quatro {
    color: #ffffff;
    z-index: 40;
    bottom: 4px;
    left: 28px;
    font-size: 2.4em;
}

#circulo-4 .bar {
    background: #c98f2b;
    height: 0px;
    border-radius: 35px;
    width: 585px;
    position: absolute;
    z-index: -1;
    top: 1px;
    display: none;
    right: 0px;
}

#circulo-4.active .bar {
    animation: animBar .6s linear forwards;
    -webkit-animation: animBar .6s linear forwards;
    -moz-animation: animBar .6s linear forwards;
    -ms-animation: animBar .6s linear forwards;
    -o-animation: animBar .6s linear forwards;
    display: flex;
}

#circulo-4 .text {
    opacity: 0%;
    transition: all .5s ease-in-out;
    z-index: 20;
    display: none;
    font-size: 1.2em;
}

#circulo-4.active .text {
    opacity: 100%;
    display: block;
}

#circulo-4 .line {
    width: 3px;
    position: absolute;
    left: 42px;
    height: 0px;
    top: 130px;
    background: #c98f2b;
    transition: all .3s ease-in-out;
    opacity: 0;
    opacity: 100%;
}

#circulo-4.active .line {
    opacity: 100%;
    top: 70px;
    height: 200px;
}


/*------------- Animação e estilização dos circulos laterais -------------*/


/*-------- Circulo um ---------*/

#dem-1 {
    top: 660px;
    right: 6.9%;
    z-index: 50;
    cursor: pointer;
}

#dem-1.active .bar {
    width: 620px;
}

#dem-1.active .icon1 {
    box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.329);
    right: 444px;
}

#dem-1 .icon1 {
    z-index: 10;
    width: 75px;
    height: 75px;
    border-radius: 51%;
    position: absolute;
    right: -101px;
    transition: all .5s ease-in-out;
}

#dem-1 .bar {
    height: 75px;
    width: 75px;
    z-index: -10;
    right: -102px;
    background: #dc9017;
    border-radius: 50px;
    transition: all .5s ease-in-out;
    overflow: hidden;
}

#dem-1 .text-content {
    font-size: 1.3em;
    margin-left: 6em;
    z-index: 50;
    opacity: 0%;
    transition: all .2s ease-in-out;
}

#dem-1.active .text-content {
    opacity: 100%;
}


/*------------------- Circulo dois ------------------*/

#dem-2 {
    top: 750px;
    right: 6.9%;
    z-index: 50;
    cursor: pointer;
}

#dem-2.active .bar {
    width: 620px;
}

#dem-2.active .icon2 {
    box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.329);
    right: 444px;
}

#dem-2 .icon2 {
    z-index: 10;
    width: 75px;
    height: 75px;
    border-radius: 51%;
    position: absolute;
    right: -101px;
    transition: all .5s ease-in-out;
}

#dem-2 .bar {
    height: 75px;
    width: 75px;
    z-index: -10;
    right: -102px;
    background: #dc9017;
    border-radius: 50px;
    transition: all .5s ease-in-out;
    overflow: hidden;
}

#dem-2 .text-content {
    font-size: 1.3em;
    margin-left: 6em;
    z-index: 50;
    opacity: 0%;
    transition: all .3s ease-in-out;
}

#dem-2.active .text-content {
    opacity: 100%;
}


/*------------------- Circulo tres -----------------*/

#dem-3 {
    top: 840px;
    right: 6.9%;
    z-index: 50;
    cursor: pointer;
}

#dem-3.active .bar {
    width: 620px;
}

#dem-3.active .icon3 {
    box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.329);
    right: 444px;
}

#dem-3 .icon3 {
    z-index: 10;
    width: 75px;
    height: 75px;
    border-radius: 51%;
    position: absolute;
    right: -101px;
    transition: all .5s ease-in-out;
}

#dem-3 .bar {
    height: 75px;
    width: 75px;
    z-index: -10;
    right: -102px;
    background: #dc9017;
    border-radius: 50px;
    transition: all .5s ease-in-out;
    overflow: hidden;
}

#dem-3 .text-content {
    font-size: 1.3em;
    margin-left: 3em;
    z-index: 50;
    opacity: 0%;
    transition: all .3s ease-in-out;
}

#dem-3.active .text-content {
    opacity: 100%;
}


/*------------------- Circulo quatro ------------------*/

#dem-4 {
    top: 930px;
    right: 6.9%;
    z-index: 50;
    cursor: pointer;
}

#dem-4.active .bar {
    width: 620px;
}

#dem-4.active .icon4 {
    box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.329);
    right: 444px;
}

#dem-4 .icon4 {
    z-index: 10;
    width: 75px;
    height: 75px;
    border-radius: 51%;
    position: absolute;
    right: -101px;
    transition: all .5s ease-in-out;
}

#dem-4 .bar {
    height: 75px;
    width: 75px;
    z-index: -10;
    right: -102px;
    background: #dc9017;
    border-radius: 50px;
    box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.329);
    transition: all 0.5s ease-in-out;
    overflow: hidden;
}

#dem-4 .text-content {
    font-size: 1.3em;
    margin-left: 3em;
    z-index: 50;
    opacity: 0%;
    display: none;
}

#dem-4.active .text-content {
    opacity: 100%;
    display: block;
}


/*------------------- Circulo cinco ------------------*/

#dem-5 {
    top: 1020px;
    right: 6.9%;
    z-index: 50;
    cursor: pointer;
}

#dem-5.active .bar {
    width: 620px;
}

#dem-5.active .icon5 {
    box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.329);
    right: 444px;
}

#dem-5 .icon5 {
    width: 75px;
    height: 75px;
    z-index: 10;
    border-radius: 51%;
    position: absolute;
    right: -101px;
    transition: all .5s ease-in-out;
}

#dem-5 .bar {
    height: 75px;
    width: 75px;
    z-index: -10;
    right: -102px;
    background: #dc9017;
    border-radius: 50px;
    box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.329);
    transition: all 0.5s ease-in-out;
    overflow: hidden;
}

#dem-5 .text-content {
    font-size: 1.2em;
    margin-left: 3em;
    z-index: 50;
    opacity: 0%;
    display: none;
}

#dem-5.active .text-content {
    opacity: 100%;
    display: block;
}


/*------------------- Circulo seis ------------------*/

#dem-6 {
    top: 1112px;
    right: 6.9%;
    z-index: 50;
    cursor: pointer;
}

#dem-6.active .bar {
    width: 620px;
}

#dem-6.active .icon6 {
    box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.329);
    right: 444px;
}

#dem-6 .icon6 {
    z-index: 10;
    width: 75px;
    height: 75px;
    border-radius: 51%;
    position: absolute;
    right: -101px;
    transition: all .5s ease-in-out;
}

#dem-6 .bar {
    height: 75px;
    width: 75px;
    z-index: -10;
    right: -102px;
    background: #dc9017;
    border-radius: 50px;
    box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.329);
    transition: all 0.5s ease-in-out;
    overflow: hidden;
}

#dem-6 .text-content {
    font-size: 1.3em;
    margin-left: 3em;
    z-index: 50;
    opacity: 0%;
    display: none;
}

#dem-6.active .text-content {
    opacity: 100%;
    display: block;
}


/*------------------- KeyFrames ------------------*/

@keyframes animBarLate {
    from {
        right: 0px;
    }
    to {
        right: 416px;
    }
}

@keyframes animBarLateWid {
    from {
        width: 102px;
    }
    to {
        width: 620px;
    }
}

@keyframes animBar {
    0% {
        height: 0;
        opacity: 0;
        padding: 0;
    }
    60% {
        height: 0;
        opacity: 0;
        padding: 0;
    }
    100% {
        height: 78px;
        opacity: 100%;
        padding: 0px 85px;
    }
}


/*------------------ SVGs animação e estilo ------------------*/

#linha1 {
    stroke-dashoffset: 449;
    stroke-dasharray: 449;
}

#caracol1 {
    stroke-dashoffset: 1581;
    stroke-dasharray: 1581;
}

#caracol2 {
    stroke-dashoffset: 1013;
    stroke-dasharray: 1013;
}

#caminho1 {
    stroke-dasharray: 885;
    stroke-dashoffset: 885;
}

#caminho2 {
    stroke-dasharray: 1032;
    stroke-dashoffset: 1032;
}

#linha2 {
    stroke-dashoffset: 207;
    stroke-dasharray: 207;
}

#arco_externo_direito {
    stroke-dashoffset: 388;
    stroke-dasharray: 388;
}

#arco_interno_direito {
    stroke-dashoffset: 211;
    stroke-dasharray: 211;
}

#arco_interno_esquerdo {
    stroke-dashoffset: 213;
    stroke-dasharray: 213;
}

#arco_externo_esquerdo {
    stroke-dashoffset: 387;
    stroke-dasharray: 387;
}


/*--------- Animação das linhas ----------*/

#linha1.start {
    animation: endStroke .8s linear forwards;
    -webkit-animation: endStroke .8s linear forwards;
    -moz-animation: endStroke .8s linear forwards;
    -ms-animation: endStroke .8s linear forwards;
    -o-animation: endStroke .8s linear forwards;
}

#caracol1.start {
    animation: endStroke .8s linear forwards;
    -webkit-animation: endStroke .8s linear forwards;
    -moz-animation: endStroke .8s linear forwards;
    -ms-animation: endStroke .8s linear forwards;
    -o-animation: endStroke .8s linear forwards;
}

#caracol2.start {
    animation: endStroke .8s linear forwards;
    -webkit-animation: endStroke .8s linear forwards;
    -moz-animation: endStroke .8s linear forwards;
    -ms-animation: endStroke .8s linear forwards;
    -o-animation: endStroke .8s linear forwards;
}

#caminho1.start {
    animation: endStroke 1s linear forwards;
    -webkit-animation: endStroke 1s linear forwards;
    -moz-animation: endStroke 1s linear forwards;
    -ms-animation: endStroke 1s linear forwards;
    -o-animation: endStroke 1s linear forwards;
}

#caminho2.start {
    animation: endStroke 1s linear forwards;
    -webkit-animation: endStroke 1s linear forwards;
    -moz-animation: endStroke 1s linear forwards;
    -ms-animation: endStroke 1s linear forwards;
    -o-animation: endStroke 1s linear forwards;
}

#linha2.start {
    animation: endStroke .6s linear forwards;
    -webkit-animation: endStroke .6s linear forwards;
    -moz-animation: endStroke .6s linear forwards;
    -ms-animation: endStroke .6s linear forwards;
    -o-animation: endStroke .6s linear forwards;
}

#arco_externo_direito.start {
    animation: endStroke .6s linear forwards;
    -webkit-animation: endStroke .6s linear forwards;
    -moz-animation: endStroke .6s linear forwards;
    -ms-animation: endStroke .6s linear forwards;
    -o-animation: endStroke .6s linear forwards;
}

#arco_interno_direito.start {
    animation: endStroke .6s linear forwards;
    -webkit-animation: endStroke .6s linear forwards;
    -moz-animation: endStroke .6s linear forwards;
    -ms-animation: endStroke .6s linear forwards;
    -o-animation: endStroke .6s linear forwards;
}

#arco_interno_esquerdo.start {
    animation: endStroke .6s linear forwards;
    -webkit-animation: endStroke .6s linear forwards;
    -moz-animation: endStroke .6s linear forwards;
    -ms-animation: endStroke .6s linear forwards;
    -o-animation: endStroke .6s linear forwards;
}

#arco_externo_esquerdo.start {
    animation: endStroke .6s linear forwards;
    -webkit-animation: endStroke .6s linear forwards;
    -moz-animation: endStroke .6s linear forwards;
    -ms-animation: endStroke .6s linear forwards;
    -o-animation: endStroke .6s linear forwards;
}

@keyframes endStroke {
    to {
        stroke-dashoffset: 0;
    }
}


/*------------ Animação das setas -------------*/

#seta_um {
    left: 50.6%;
    transform: rotate(90deg);
    transition: all .5s ease-in-out;
    animation-duration: .5s;
    -moz-animation-duration: .5s;
    -webkit-animation-duration: .5s;
    -webkit-animation-name: seta_um;
    -webkit-animation-duration: 4s;
    animation-name: seta_um;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    /* transform: scale(1); */
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
}

#seta_dois {
    left: 50.6%;
    transform: rotate(90deg);
    transition: all .5s ease-in-out;
    animation-duration: .5s;
    -moz-animation-duration: .5s;
    -webkit-animation-duration: .5s;
    -webkit-animation-name: seta_dois;
    -webkit-animation-duration: 4s;
    animation-name: seta_dois;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    /* transform: scale(0); */
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
}

#seta_tres {
    left: 59.9%;
    transform: rotate(90deg);
    transition: all .5s ease-in-out;
    animation-duration: .5s;
    -moz-animation-duration: .5s;
    -webkit-animation-duration: .5s;
    -webkit-animation-name: seta_tres;
    -webkit-animation-duration: 4s;
    animation-name: seta_tres;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    /* transform: scale(0); */
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
}

#seta_quatro {
    left: 59.9%;
    transform: rotate(90deg);
    transition: all .5s ease-in-out;
    animation-duration: .5s;
    -moz-animation-duration: .5s;
    -webkit-animation-duration: .5s;
    -webkit-animation-name: seta_quatro;
    -webkit-animation-duration: 4s;
    animation-name: seta_quatro;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    /* transform: scale(0); */
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
}

#seta_cinco {
    left: 59.9%;
    transform: rotate(90deg);
    transition: all .5s ease-in-out;
    animation-duration: .5s;
    -moz-animation-duration: .5s;
    -webkit-animation-duration: .5s;
    -webkit-animation-name: seta_cinco;
    -webkit-animation-duration: 4s;
    animation-name: seta_cinco;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    /* transform: scale(0); */
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
}

#seta_seis {
    left: 59.9%;
    transform: rotate(90deg);
    transition: all .5s ease-in-out;
    animation-duration: .5s;
    -moz-animation-duration: .5s;
    -webkit-animation-duration: .5s;
    -webkit-animation-name: seta_seis;
    -webkit-animation-duration: 4s;
    animation-name: seta_seis;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
}

#seta_sete {
    top: 1269px;
    transform: rotate(180deg);
    transition: all .5s ease-in-out;
    animation-duration: .5s;
    -moz-animation-duration: .5s;
    -webkit-animation-duration: .5s;
    -webkit-animation-name: seta_sete;
    -webkit-animation-duration: 4s;
    animation-name: seta_sete;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
}

#seta_oito {
    top: 1267px;
    transform: rotate(180deg);
    transition: all .5s ease-in-out;
    animation-duration: .5s;
    -moz-animation-duration: .5s;
    -webkit-animation-duration: .5s;
    -webkit-animation-name: seta_oito;
    -webkit-animation-duration: 4s;
    animation-name: seta_oito;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
}


/*----------- Keyframes das setas -------------*/

@keyframes seta_um {
    0% {
        opacity: 0%;
        top: 2500px;
    }
    10% {
        opacity: 100%;
    }
    90% {
        opacity: 100%;
    }
    100% {
        top: 2400px;
        opacity: 0%;
    }
}

@keyframes seta_dois {
    0% {
        opacity: 0%;
        top: 2350px;
    }
    10% {
        opacity: 100%;
    }
    90% {
        opacity: 100%;
    }
    100% {
        top: 2250px;
        opacity: 0%;
    }
}

@keyframes seta_tres {
    0% {
        opacity: 0%;
        top: 1950px;
    }
    10% {
        opacity: 100%;
    }
    90% {
        opacity: 100%;
    }
    100% {
        top: 1850px;
        opacity: 0%;
    }
}

@keyframes seta_quatro {
    0% {
        opacity: 0%;
        top: 1800px;
    }
    10% {
        opacity: 100%;
    }
    90% {
        opacity: 100%;
    }
    100% {
        top: 1700px;
        opacity: 0%;
    }
}

@keyframes seta_cinco {
    0% {
        opacity: 0%;
        top: 1650px;
    }
    10% {
        opacity: 100%;
    }
    90% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
        top: 1550px;
    }
}

@keyframes seta_seis {
    0% {
        opacity: 0%;
        top: 1500px;
    }
    10% {
        opacity: 100%;
    }
    90% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
        top: 1400px;
    }
}

@keyframes seta_sete {
    0% {
        opacity: 0%;
        left: 70%;
    }
    10% {
        opacity: 100%;
    }
    90% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
        left: 80%;
    }
}

@keyframes seta_oito {
    0% {
        opacity: 0%;
        left: 80%;
    }
    10% {
        opacity: 100%;
    }
    90% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
        left: 90%;
    }
}


/*----------------- Animação dos textos finais ----------------*/

#ani.start {
    animation-name: lef;
    animation-duration: .5s;
    -webkit-animation-name: lef;
    -webkit-animation-duration: .5s;
}

#ani2.start {
    animation-name: rig;
    animation-duration: .5s;
    -webkit-animation-name: rig;
    -webkit-animation-duration: .5s;
}

@-webkit-keyframes lef {
    from {
        opacity: 0;
        -webkit-transform: translate3d(150%, 0, 0);
        transform: translate3d(150%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes lef {
    from {
        opacity: 0;
        -webkit-transform: translate3d(150%, 0, 0);
        transform: translate3d(150%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes rig {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-150%, 0, 0);
        transform: translate3d(-150%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes rig {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-150%, 0, 0);
        transform: translate3d(-150%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}