@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,700,700i,900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}



.set-scr{
    right: 0px;
    transition: all 1s ease-in-out;
    animation: mouScroll 1s linear infinite;
    -webkit-animation: mouScroll 1s linear infinite;
    -moz-animation: mouScroll 1s linear infinite;
    -o-animation: mouScroll 1s linear infinite;

}
.mou{
    right: 0px;
    top: 3250px;
}
@keyframes mouScroll{
    0%{
        opacity: 0;
        top: 3210px;

    }
    25%{
        opacity: 1;
    }
    75%{
        opacity: 1;
    }
    100%{
        top: 3150px;
        opacity: 0;
    }
}

/*Cores de Fontes*/

.numeros {
    color: #003f27;
}

.text-grn {
    color: #a8bd45;
    text-align: right;
}

.text-green-dark {
    color: #003f27;
}

.text-green-dark-2 {
    color: #3d5800;
}

.font-4em {
    font-size: 3.3em;
}

.font-1em {
    font-size: 1.15em;
}

.font-1emM {
    font-size: 1.6em;
}

.font-2em {
    font-size: 2em;
}

.line-h {
    line-height: 180%;
}

.font-weight-black {
    font-weight: 900;
}

.font-weight-med {
    font-weight: 500;
}

.ml-7 {
    margin-left: 6rem !important;
}

.mr-7 {
    margin-right: 6rem !important;
}

.ml-6 {
    margin-left: .7rem;
}

.mr-6 {
    margin-right: .7rem;
}

section.one .container-fluid,
section.one .row {
    background: #507064;
    padding: 10.1%;
}

section.two .preparacao {
    top: 600px;
    left: 212px;
    z-index: 10;
    width: 245px;
    height: 50px;
    border-radius: 30px;
    background: #507064;
    transition: all .4s ease-in-out;
    cursor: pointer;
}

section.two .ball {
    width: 30px;
    height: 30px;
    background: #9fc54d;
    border-radius: 50%;
}

section.two .ball2 {
    width: 35px;
    height: 35px;
    background: #9fc54d;
    border-radius: 50%;
}

section.two .localizacao {
    top: 727px;
    right: 195px;
    width: 245px;
    height: 50px;
    border-radius: 30px;
    background: #507064;
    z-index: 10;
    transition: all .4s ease-in-out;
    cursor: pointer;
}

section.two .solucao {
    top: 950px;
    left: 540px;
    width: 290px;
    height: 60px;
    border-radius: 30px;
    background: #507064;
    z-index: 10;
}

section.two .title {
    top: 820px;
    left: 100px;
}

section.two .text {
    top: 1235px;
    left: 455px;
}

section.two .text-2 {
    top: 1390px;
    left: 47px;
}

section.two .text-3 {
    top: 1415px;
    left: 770px;
}

section.two .text-4 {
    top: 1608px;
    left: 180px;
}

section.two .text-5 {
    top: 1582px;
    left: 670px;
}

section.two .my-6 {
    margin-top: 140px;
    margin-bottom: 120px;
}


/*-------------- Tamanho das linhas SVGs --------------*/

#linha1 {
    stroke-dashoffset: 344;
    stroke-dasharray: 344;
    overflow: visible;
}

#arco1 {
    stroke-dashoffset: 896;
    stroke-dasharray: 896;
}

#linha_esquerda {
    stroke-dashoffset: 95;
    stroke-dasharray: 95;
}

#linha_direita {
    stroke-dashoffset: 95;
    stroke-dasharray: 95;
}

#conteudo1 {
    stroke-dashoffset: 1116;
    stroke-dasharray: 1116;
}

#conteudo2 {
    stroke-dashoffset: 1116;
    stroke-dasharray: 1116;
}

#conteudo3 {
    stroke-dashoffset: 1116;
    stroke-dasharray: 1116;
}

#conteudo4 {
    stroke-dashoffset: 1116;
    stroke-dasharray: 1116;
}

#conteudo5 {
    stroke-dashoffset: 1116;
    stroke-dasharray: 1116;
}

#curva_acentuada_direita {
    stroke-dashoffset: 183;
    stroke-dasharray: 183;
}

#curva_acentuada_esquerda {
    stroke-dashoffset: 183;
    stroke-dasharray: 183;
}

#linha2 {
    stroke-dashoffset: 235;
    stroke-dasharray: 235;
}

#linhacurva {
    stroke-dashoffset: 2392;
    stroke-dasharray: 2392;
}

#lina3 {
    stroke-dashoffset: 150;
    stroke-dasharray: 150;
}

#arco_fora {
    stroke-dashoffset: 425;
    stroke-dasharray: 425;
}

#arco_meio {
    stroke-dashoffset: 778;
    stroke-dasharray: 778;
}

#arco_fora-2 {
    stroke-dashoffset: 1112;
    stroke-dasharray: 1112;
}


/*---------- Animação das linhas SVGs ------------*/

#linha1.start {
    animation: endStoke .7s linear forwards;
    -webkit-animation: endStoke .7s linear forwards;
    -moz-animation: endStoke .7s linear forwards;
    -o-animation: endStoke .7s linear forwards;
    transition: stroke-dashoffset 1s ease-in;
}

#arco1.start {
    animation: endStoke .7s linear forwards;
    -webkit-animation: endStoke .7s linear forwards;
    -moz-animation: endStoke .7s linear forwards;
    -o-animation: endStoke .7s linear forwards;
    transition: stroke-dashoffset 1s ease-in;
}

#linha_esquerda.start {
    animation: endStoke .7s linear forwards;
    -webkit-animation: endStoke .7s linear forwards;
    -moz-animation: endStoke .7s linear forwards;
    -o-animation: endStoke .7s linear forwards;
    transition: stroke-dashoffset 1s ease-in;
}

#linha_direita.start {
    animation: endStoke .7s linear forwards;
    -webkit-animation: endStoke .7s linear forwards;
    -moz-animation: endStoke .7s linear forwards;
    -o-animation: endStoke .7s linear forwards;
    transition: stroke-dashoffset 1s ease-in;
}

#conteudo1.start {
    animation: endStoke .7s linear forwards;
    -webkit-animation: endStoke .7s linear forwards;
    -moz-animation: endStoke .7s linear forwards;
    -o-animation: endStoke .7s linear forwards;
    transition: stroke-dashoffset 1s ease-in;
}

#conteudo2.start {
    animation: endStoke .7s linear forwards;
    -webkit-animation: endStoke .7s linear forwards;
    -moz-animation: endStoke .7s linear forwards;
    -o-animation: endStoke .7s linear forwards;
    transition: stroke-dashoffset 1s ease-in;
}

#conteudo3.start {
    animation: endStoke .7s linear forwards;
    -webkit-animation: endStoke .7s linear forwards;
    -moz-animation: endStoke .7s linear forwards;
    -o-animation: endStoke .7s linear forwards;
    transition: stroke-dashoffset 1s ease-in;
}

#conteudo4.start {
    animation: endStoke .7s linear forwards;
    -webkit-animation: endStoke .7s linear forwards;
    -moz-animation: endStoke .7s linear forwards;
    -o-animation: endStoke .7s linear forwards;
    transition: stroke-dashoffset 1s ease-in;
}

#conteudo5.start {
    animation: endStoke .7s linear forwards;
    -webkit-animation: endStoke .7s linear forwards;
    -moz-animation: endStoke .7s linear forwards;
    -o-animation: endStoke .7s linear forwards;
    transition: stroke-dashoffset 1s ease-in;
}

#curva_acentuada_esquerda.start {
    animation: endStoke .7s linear forwards;
    -webkit-animation: endStoke .7s linear forwards;
    -moz-animation: endStoke .7s linear forwards;
    -o-animation: endStoke .7s linear forwards;
    transition: stroke-dashoffset 1s ease-in;
}

#curva_acentuada_direita.start {
    animation: endStoke .7s linear forwards;
    -webkit-animation: endStoke .7s linear forwards;
    -moz-animation: endStoke .7s linear forwards;
    -o-animation: endStoke .7s linear forwards;
    transition: stroke-dashoffset 1s ease-in;
}

#linha2.start {
    animation: endStoke .7s linear forwards;
    -webkit-animation: endStoke .7s linear forwards;
    -moz-animation: endStoke .7s linear forwards;
    -o-animation: endStoke .7s linear forwards;
    transition: stroke-dashoffset 1s ease-in;
}

#linhacurva.start {
    animation: endStoke .7s linear forwards;
    -webkit-animation: endStoke .7s linear forwards;
    -moz-animation: endStoke .7s linear forwards;
    -o-animation: endStoke .7s linear forwards;
    transition: stroke-dashoffset 1s ease-in;
}

#lina3.start {
    animation: endStoke .7s linear forwards;
    -webkit-animation: endStoke .7s linear forwards;
    -moz-animation: endStoke .7s linear forwards;
    -o-animation: endStoke .7s linear forwards;
    transition: stroke-dashoffset 1s ease-in;
}

#arco_fora.start {
    animation: endStoke .7s linear forwards;
    -webkit-animation: endStoke .7s linear forwards;
    -moz-animation: endStoke .7s linear forwards;
    -o-animation: endStoke .7s linear forwards;
    transition: stroke-dashoffset 1s ease-in;
}

#arco_meio.start {
    animation: endStoke .7s linear forwards;
    -webkit-animation: endStoke .7s linear forwards;
    -moz-animation: endStoke .7s linear forwards;
    -o-animation: endStoke .7s linear forwards;
    transition: stroke-dashoffset 1s ease-in;
}

#arco_fora-2.start {
    animation: endStoke .7s linear forwards;
    -webkit-animation: endStoke .7s linear forwards;
    -moz-animation: endStoke .7s linear forwards;
    -o-animation: endStoke .7s linear forwards;
    transition: stroke-dashoffset 1s ease-in;
}


/*------------------- KeysFrames das Linhas -----------------*/

@keyframes endStoke {
    to {
        stroke-dashoffset: 0;
        transition: stroke-dashoffset 1s ease-in;
    }
}


/*---------- Animação dos botões 1 e 2 -----------*/

section.two .preparacao.active {
    width: 650px;
    height: 100px;
    top: 580px;
}

section.two .preparacao .num {
    left: 50px;
    top: 9px;
    transition: all .4s ease-in-out;
    color: #fff;
}

section.two .preparacao.active .num {
    left: 15px;
    top: 34px;
    color: #507064;
}

section.two .preparacao .text {
    opacity: 100%;
    display: block;
    transition: all .4s ease-in-out;
}

section.two .preparacao.active .text {
    opacity: 0%;
    display: none;
}

section.two .preparacao .content {
    animation: animText .4s ease-in-out;
    -webkit-animation: animText .8s ease-in-out;
    display: none;
    transition: all .4s ease-in-out;
}

section.two .preparacao.active .content {
    opacity: 100%;
    display: block;
    position: absolute;
    left: 60px;
    right: 30px;
    top: 10px;
}

@keyframes animText {
    to {
        opacity: 100%;
    }
    from {
        opacity: 0%;
    }
}

section.two .localizacao.active {
    width: 650px;
    height: 100px;
    top: 707px;
    flex-direction: row-reverse;
}

section.two .localizacao .num {
    left: 22px;
    top: 9px;
    transition: all .4s ease-in-out;
    color: #fff;
    z-index: 10;
}

section.two .localizacao.active .num {
    left: 617px;
    top: 34px;
    color: #507064;
}

section.two .localizacao .text {
    opacity: 100%;
    padding-left: 25px;
    display: block;
    transition: all .4s ease-in-out;
}

section.two .localizacao.active .text {
    opacity: 0%;
    display: none;
}

section.two .localizacao .content {
    animation: animText .4s ease-in-out;
    -webkit-animation: animText .8s ease-in-out;
    display: none;
    transition: all .4s ease-in-out;
}

section.two .localizacao.active .content {
    opacity: 100%;
    display: block;
    position: absolute;
    left: 30px;
    right: 60px;
    top: 10px;
}

section.two .localizacao.active .ball {
    float: right;
}

#sol {
    cursor: pointer;
}


/*---------------- Circulos Beneficios -------------------*/

#circulo-1 {
    position: absolute;
    left: 203px;
    top: -85px;
    transition: all .4s ease-in-out;
}

#circulo-1 svg {
    transition: all .4s ease-in-out;
}

#circulo-1:hover {
    cursor: pointer;
}

#circulo-1.active {
    top: -175px;
    transition: all .4s ease-in-out;
}

#circulo-1.active svg {
    width: 60px;
    height: 60px;
    margin-left: 13px;
    margin-top: 8px;
    transition: all .3s ease-in-out;
}

#circulo-1:hover svg {
    transform: rotateZ(360deg);
}

#circulo-1 svg .cls-1,
#circulo-1 svg .cls-2 {
    transition: all .4s ease-in-out;
}

#circulo-1.active .cls-1,
#circulo-1.active .cls-2 {
    fill: #ffffff;
}

#circulo-1 .um {
    bottom: 2px;
    left: 28px;
    z-index: 40;
    position: absolute;
    transition: all .4s ease-in-out;
    color: #003f27;
}

#circulo-1.active .um {
    color: #ffffff;
    z-index: 40;
    bottom: 4px;
    left: 34px;
    font-size: 2.4em;
}

#circulo-1 .bar {
    background: #507064;
    height: 0px;
    border-radius: 35px;
    width: 585px;
    position: absolute;
    z-index: -1;
    top: 1px;
    display: none;
}

#circulo-1.active .bar {
    animation: animBar .6s linear forwards;
    -webkit-animation: animBar .6s linear forwards;
    -moz-animation: animBar .6s linear forwards;
    -ms-animation: animBar .6s linear forwards;
    -o-animation: animBar .6s linear forwards;
    display: flex;
}

#circulo-1 .text {
    opacity: 0%;
    transition: all .5s ease-in-out;
    z-index: 20;
    display: none;
    font-size: 1.2em;
}

#circulo-1.active .text {
    opacity: 100%;
    display: block;
}

#circulo-1 .line {
    width: 3px;
    position: absolute;
    left: 35px;
    height: 0px;
    top: 130px;
    background: #507064;
    transition: all .3s ease-in-out;
    opacity: 0;
    opacity: 100%;
}

#circulo-1.active .line {
    opacity: 100%;
    top: 70px;
    height: 160px;
}


/*----------------- Circulo 2  ----------------*/

#circulo-2 {
    position: absolute;
    left: 330px;
    top: -85px;
    transition: all .4s ease-in-out;
}

#circulo-2 svg {
    transition: all .4s ease-in-out;
}

#circulo-2:hover {
    cursor: pointer;
}

#circulo-2.active {
    top: -175px;
    transition: all .4s ease-in-out;
}

#circulo-2.active svg {
    width: 60px;
    height: 60px;
    margin-left: 13px;
    margin-top: 8px;
    transition: all .3s ease-in-out;
}

#circulo-2:hover svg {
    transform: rotateZ(360deg);
}

#circulo-2 svg .cls-1,
#circulo-2 svg .cls-2 {
    transition: all .4s ease-in-out;
}

#circulo-2.active .cls-1,
#circulo-2.active .cls-2 {
    fill: #ffffff;
}

#circulo-2 .dois {
    bottom: 4px;
    left: 25px;
    z-index: 40;
    position: absolute;
    transition: all .4s ease-in-out;
    color: #003f27;
}

#circulo-2.active .dois {
    color: #ffffff;
    z-index: 40;
    bottom: 4px;
    left: 32px;
    font-size: 2.4em;
}

#circulo-2 .bar {
    background: #507064;
    height: 0px;
    border-radius: 35px;
    width: 585px;
    position: absolute;
    z-index: -1;
    top: 1px;
    display: none;
}

#circulo-2.active .bar {
    animation: animBar .6s linear forwards;
    -webkit-animation: animBar .6s linear forwards;
    -moz-animation: animBar .6s linear forwards;
    -ms-animation: animBar .6s linear forwards;
    -o-animation: animBar .6s linear forwards;
    display: flex;
}

#circulo-2 .text {
    opacity: 0%;
    transition: all .5s ease-in-out;
    z-index: 20;
    display: none;
    font-size: 1.2em;
}

#circulo-2.active .text {
    opacity: 100%;
    display: block;
}

#circulo-2 .line {
    width: 3px;
    position: absolute;
    left: 37px;
    height: 0px;
    top: 130px;
    background: #507064;
    transition: all .3s ease-in-out;
    opacity: 0;
    opacity: 100%;
}

#circulo-2.active .line {
    opacity: 100%;
    top: 65px;
    height: 180px;
}


/*----------------- Circulo 3  ----------------*/

#circulo-3 {
    position: absolute;
    left: 480px;
    top: -85px;
    transition: all .4s ease-in-out;
}

#circulo-3 svg {
    transition: all .4s ease-in-out;
}

#circulo-3:hover {
    cursor: pointer;
}

#circulo-3.active {
    top: -175px;
    transition: all .4s ease-in-out;
}

#circulo-3.active svg {
    width: 60px;
    height: 60px;
    margin-left: 13px;
    margin-top: 8px;
    transition: all .3s ease-in-out;
}

#circulo-3:hover svg {
    transform: rotateZ(360deg);
}

#circulo-3 svg .cls-1,
#circulo-3 svg .cls-2 {
    transition: all .4s ease-in-out;
}

#circulo-3.active .cls-1,
#circulo-3.active .cls-2 {
    fill: #ffffff;
}

#circulo-3 .tres {
    bottom: 3px;
    left: 25px;
    z-index: 40;
    position: absolute;
    transition: all .4s ease-in-out;
}

#circulo-3.active .tres {
    color: #ffffff;
    z-index: 40;
    bottom: 4px;
    left: 32px;
    font-size: 2.4em;
}

#circulo-3 .bar {
    background: #507064;
    height: 0px;
    border-radius: 35px;
    width: 585px;
    position: absolute;
    z-index: -1;
    top: 1px;
    display: none;
}

#circulo-3.active .bar {
    animation: animBar .6s linear forwards;
    -webkit-animation: animBar .6s linear forwards;
    -moz-animation: animBar .6s linear forwards;
    -ms-animation: animBar .6s linear forwards;
    -o-animation: animBar .6s linear forwards;
    display: flex;
}

#circulo-3 .text {
    opacity: 0%;
    transition: all .5s ease-in-out;
    z-index: 20;
    display: none;
    font-size: 1.2em;
}

#circulo-3.active .text {
    opacity: 100%;
    display: block;
}

#circulo-3 .line {
    width: 3px;
    position: absolute;
    left: 33px;
    height: 0px;
    top: 130px;
    background: #507064;
    transition: all .3s ease-in-out;
    opacity: 0;
    opacity: 100%;
}

#circulo-3.active .line {
    opacity: 100%;
    top: 70px;
    height: 200px;
}


/*--------------------- Circulo quatro ---------------*/

#circulo-4 {
    position: absolute;
    left: 605px;
    top: -85px;
    transition: all .4s ease-in-out;
}

#circulo-4 svg {
    transition: all .4s ease-in-out;
}

#circulo-4:hover {
    cursor: pointer;
}

#circulo-4.active {
    top: -175px;
    transition: all .4s ease-in-out;
}

#circulo-4.active svg {
    width: 60px;
    height: 60px;
    margin-left: 13px;
    margin-top: 8px;
    transition: all .3s ease-in-out;
}

#circulo-4:hover svg {
    transform: rotateZ(360deg);
}

#circulo-4 svg .cls-1,
#circulo-4 svg .cls-2 {
    transition: all .4s ease-in-out;
}

#circulo-4.active .cls-1,
#circulo-4.active .cls-2 {
    fill: #ffffff;
}

#circulo-4 .quatro {
    bottom: 3px;
    left: 20px;
    z-index: 40;
    position: absolute;
    transition: all .4s ease-in-out;
}

#circulo-4.active .quatro {
    color: #ffffff;
    z-index: 40;
    bottom: 4px;
    left: 28px;
    font-size: 2.4em;
}

#circulo-4 .bar {
    background: #507064;
    height: 0px;
    border-radius: 35px;
    width: 585px;
    position: absolute;
    z-index: -1;
    top: 1px;
    display: none;
}

#circulo-4.active .bar {
    animation: animBar .6s linear forwards;
    -webkit-animation: animBar .6s linear forwards;
    -moz-animation: animBar .6s linear forwards;
    -ms-animation: animBar .6s linear forwards;
    -o-animation: animBar .6s linear forwards;
    display: flex;
    right: -10px;
}

#circulo-4 .text {
    opacity: 0%;
    transition: all .5s ease-in-out;
    z-index: 20;
    display: none;
    font-size: 1.2em;
}

#circulo-4.active .text {
    opacity: 100%;
    display: block;
}

#circulo-4 .line {
    width: 3px;
    position: absolute;
    left: 35px;
    height: 0px;
    top: 130px;
    background: #507064;
    transition: all .3s ease-in-out;
    opacity: 0;
    opacity: 100%;
}

#circulo-4.active .line {
    opacity: 100%;
    top: 70px;
    height: 200px;
}


/*--------------------- Circulo cinco ---------------*/

#circulo-5 {
    position: absolute;
    left: 750px;
    top: -85px;
    transition: all .4s ease-in-out;
}

#circulo-5 svg {
    transition: all .4s ease-in-out;
}

#circulo-5:hover {
    cursor: pointer;
}

#circulo-5.active {
    top: -175px;
    transition: all .4s ease-in-out;
}

#circulo-5.active svg {
    width: 60px;
    height: 60px;
    margin-left: 13px;
    margin-top: 8px;
    transition: all .3s ease-in-out;
}

#circulo-5:hover svg {
    transform: rotateZ(360deg);
}

#circulo-5 svg .cls-1,
#circulo-5 svg .cls-2 {
    transition: all .4s ease-in-out;
}

#circulo-5.active .cls-1,
#circulo-5.active .cls-2 {
    fill: #ffffff;
}

#circulo-5 .cinco {
    bottom: 3px;
    left: 25px;
    z-index: 40;
    position: absolute;
    transition: all .4s ease-in-out;
}

#circulo-5.active .cinco {
    color: #ffffff;
    z-index: 40;
    bottom: 4px;
    left: 32px;
    font-size: 2.4em;
}

#circulo-5 .bar {
    background: #507064;
    height: 0px;
    right: 0px;
    border-radius: 35px;
    width: 585px;
    position: absolute;
    z-index: -1;
    top: 1px;
    display: none;
}

#circulo-5.active .bar {
    animation: animBar .6s linear forwards;
    -webkit-animation: animBar .6s linear forwards;
    -moz-animation: animBar .6s linear forwards;
    -ms-animation: animBar .6s linear forwards;
    -o-animation: animBar .6s linear forwards;
    display: flex;
    right: -10px;
}

#circulo-5 .text {
    opacity: 0%;
    transition: all .5s ease-in-out;
    z-index: 20;
    display: none;
    font-size: 1.2em;
}

#circulo-5.active .text {
    opacity: 100%;
    display: block;
}

#circulo-5 .line {
    width: 3px;
    position: absolute;
    left: 36px;
    height: 0px;
    top: 130px;
    background: #507064;
    transition: all .3s ease-in-out;
    opacity: 0;
    opacity: 100%;
}

#circulo-5.active .line {
    opacity: 100%;
    top: 70px;
    height: 200px;
}


/*--------------------- Circulo seis ---------------*/

#circulo-6 {
    position: absolute;
    left: 879px;
    top: -85px;
    transition: all .4s ease-in-out;
}

#circulo-6 svg {
    transition: all .4s ease-in-out;
}

#circulo-6:hover {
    cursor: pointer;
}

#circulo-6.active {
    top: -175px;
    transition: all .4s ease-in-out;
}

#circulo-6.active svg {
    width: 60px;
    height: 60px;
    margin-left: 13px;
    margin-top: 8px;
    transition: all .3s ease-in-out;
}

#circulo-6:hover svg {
    transform: rotateZ(360deg);
}

#circulo-6 svg .cls-1,
#circulo-6 svg .cls-2 {
    transition: all .4s ease-in-out;
}

#circulo-6.active .cls-1,
#circulo-6.active .cls-2 {
    fill: #ffffff;
}

#circulo-6 .seis {
    bottom: 3px;
    left: 25px;
    z-index: 40;
    position: absolute;
    transition: all .4s ease-in-out;
}

#circulo-6.active .seis {
    color: #ffffff;
    z-index: 40;
    bottom: 4px;
    left: 32px;
    font-size: 2.4em;
}

#circulo-6 .bar {
    background: #507064;
    height: 0px;
    right: 0px;
    border-radius: 35px;
    width: 585px;
    position: absolute;
    z-index: -1;
    top: 1px;
    display: none;
}

#circulo-6.active .bar {
    animation: animBar .6s linear forwards;
    -webkit-animation: animBar .6s linear forwards;
    -moz-animation: animBar .6s linear forwards;
    -ms-animation: animBar .6s linear forwards;
    -o-animation: animBar .6s linear forwards;
    display: flex;
    right: -10px;
}

#circulo-6 .text {
    opacity: 0%;
    transition: all .5s ease-in-out;
    z-index: 20;
    display: none;
    font-size: 1.2em;
}

#circulo-6.active .text {
    opacity: 100%;
    display: block;
}

#circulo-6 .line {
    width: 3px;
    position: absolute;
    left: 36px;
    height: 0px;
    top: 130px;
    background: #507064;
    transition: all .3s ease-in-out;
    opacity: 0;
    opacity: 100%;
}

#circulo-6.active .line {
    opacity: 100%;
    top: 70px;
    height: 200px;
}


/*--------------- KeyFrame da animação do circulos -----------------*/

@keyframes animBar {
    0% {
        height: 0;
        opacity: 0;
        padding: 0;
    }
    60% {
        height: 0;
        opacity: 0;
        padding: 0;
    }
    100% {
        height: 78px;
        opacity: 100%;
        padding: 0px 85px;
    }
}


/*-------------------- Animação das etapas --------------------*/

.anims {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.anims.infi {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

#ani.start {
    animation-name: lef;
    animation-duration: .5s;
    -webkit-animation-name: lef;
    -webkit-animation-duration: .5s;
}

#ani2.start {
    animation-name: rig;
    animation-duration: .5s;
    -webkit-animation-name: rig;
    -webkit-animation-duration: .5s;
}

@-webkit-keyframes lef {
    from {
        opacity: 0;
        -webkit-transform: translate3d(150%, 0, 0);
        transform: translate3d(150%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes lef {
    from {
        opacity: 0;
        -moz-transform: translate3d(150%, 0, 0);
        -o-transform: translate3d(150%, 0, 0);
        -ms-transform: translate3d(150%, 0, 0);
        -webkit-transform: translate3d(150%, 0, 0);
        transform: translate3d(150%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes rig {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-150%, 0, 0);
        transform: translate3d(-150%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes rig {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-150%, 0, 0);
        transform: translate3d(-150%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}


/*--------------- Setas Estilo e Animação ---------------- */

#seta_um {
    left: 49.7%;
    transform: rotate(90deg);
    transition: all .5s ease-in-out;
    animation-duration: .5s;
    -moz-animation-duration: .5s;
    -webkit-animation-duration: .5s;
    -webkit-animation-name: seta_um;
    -webkit-animation-duration: 4s;
    animation-name: seta_um;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    /* transform: scale(1); */
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
}

@keyframes seta_um {
    0% {
        opacity: 0%;
        top: 2050px;
    }
    10% {
        opacity: 100%;
    }
    90% {
        opacity: 100%;
    }
    100% {
        top: 1950px;
        opacity: 0%;
    }
}


/*-------------- Seta Dois ----------------*/

#seta_dois {
    left: 49.7%;
    transform: rotate(90deg);
    transition: all .5s ease-in-out;
    animation-duration: .5s;
    -moz-animation-duration: .5s;
    -webkit-animation-duration: .5s;
    -webkit-animation-name: seta_dois;
    -webkit-animation-duration: 4s;
    animation-name: seta_dois;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    /* transform: scale(0); */
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
}

@keyframes seta_dois {
    0% {
        opacity: 0%;
        top: 1950px;
    }
    10% {
        opacity: 100%;
    }
    90% {
        opacity: 100%;
    }
    100% {
        top: 1850px;
        opacity: 0%;
    }
}


/*---------------- Seta tres ----------------*/

#seta_tres {
    left: 49.7%;
    transform: rotate(90deg);
    transition: all .5s ease-in-out;
    animation-duration: .5s;
    -moz-animation-duration: .5s;
    -webkit-animation-duration: .5s;
    -webkit-animation-name: seta_tres;
    -webkit-animation-duration: 4s;
    animation-name: seta_tres;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    /* transform: scale(0); */
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
}

@keyframes seta_tres {
    0% {
        opacity: 0%;
        top: 1150px;
    }
    10% {
        opacity: 100%;
    }
    90% {
        opacity: 100%;
    }
    100% {
        top: 1050px;
        opacity: 0%;
    }
}


/*--------------- Seta quatro ---------------*/

#seta_quatro {
    top: 812px;
    transform: rotate(180deg);
    transition: all .5s ease-in-out;
    animation-duration: .5s;
    -moz-animation-duration: .5s;
    -webkit-animation-duration: .5s;
    -webkit-animation-name: seta_quatro;
    -webkit-animation-duration: 4s;
    animation-name: seta_quatro;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    /* transform: scale(0); */
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
}

@keyframes seta_quatro {
    0% {
        opacity: 0%;
        left: 58%;
    }
    10% {
        opacity: 100%;
    }
    90% {
        opacity: 100%;
    }
    100% {
        left: 64%;
        opacity: 0%;
    }
}


/*---------------- Seta cinco -----------------*/

#seta_cinco {
    top: 812px;
    transform: rotate(180deg);
    transition: all .5s ease-in-out;
    animation-duration: .5s;
    -moz-animation-duration: .5s;
    -webkit-animation-duration: .5s;
    -webkit-animation-name: seta_cinco;
    -webkit-animation-duration: 4s;
    animation-name: seta_cinco;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    /* transform: scale(0); */
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
}

@keyframes seta_cinco {
    0% {
        opacity: 0%;
        left: 65%;
    }
    10% {
        opacity: 100%;
    }
    90% {
        opacity: 100%;
    }
    100% {
        left: 71%;
        opacity: 0%;
    }
}


/*----------------- Seta Seis -----------------*/

#seta_seis {
    top: 682px;
    transition: all .5s ease-in-out;
    animation-duration: .5s;
    -moz-animation-duration: .5s;
    -webkit-animation-duration: .5s;
    -webkit-animation-name: seta_seis;
    -webkit-animation-duration: 4s;
    animation-name: seta_seis;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
}

@keyframes seta_seis {
    0% {
        opacity: 0%;
        left: 72%;
    }
    10% {
        opacity: 100%;
    }
    90% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
        left: 65%;
    }
}


/*--------- ----- Seta Sete --------------*/

#seta_sete {
    top: 682px;
    transition: all .5s ease-in-out;
    animation-duration: .5s;
    -moz-animation-duration: .5s;
    -webkit-animation-duration: .5s;
    -webkit-animation-name: seta_sete;
    -webkit-animation-duration: 4s;
    animation-name: seta_sete;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
}

@keyframes seta_sete {
    0% {
        opacity: 0%;
        left: 55%;
    }
    10% {
        opacity: 100%;
    }
    90% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
        left: 45%;
    }
}


/*------------------ Seta oito ------------------*/

#seta_oito {
    top: 682px;
    transition: all .5s ease-in-out;
    animation-duration: .5s;
    -moz-animation-duration: .5s;
    -webkit-animation-duration: .5s;
    -webkit-animation-name: seta_oito;
    -webkit-animation-duration: 4s;
    animation-name: seta_oito;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
}

@keyframes seta_oito {
    0% {
        opacity: 0%;
        left: 35%;
    }
    10% {
        opacity: 100%;
    }
    90% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
        left: 28%;
    }
}


/*------------------ Seta Nove -----------------*/

#seta_nove {
    top: 556px;
    transform: rotate(180deg);
    transition: all .5s ease-in-out;
    animation-duration: .5s;
    -moz-animation-duration: .5s;
    -webkit-animation-duration: .5s;
    -webkit-animation-name: seta_nove;
    -webkit-animation-duration: 4s;
    animation-name: seta_nove;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
}

@keyframes seta_nove {
    0% {
        opacity: 0%;
        left: 28%;
    }
    10% {
        opacity: 100%;
    }
    90% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
        left: 34%;
    }
}


/*--------------------- Seta Dez -------------------*/

#seta_dez {
    top: 556px;
    transform: rotate(180deg);
    transition: all .5s ease-in-out;
    animation-duration: .5s;
    -moz-animation-duration: .5s;
    -webkit-animation-duration: .5s;
    -webkit-animation-name: seta_dez;
    -webkit-animation-duration: 4s;
    animation-name: seta_dez;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
}

@keyframes seta_dez {
    0% {
        opacity: 0%;
        left: 35%;
    }
    10% {
        opacity: 100%;
    }
    90% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
        left: 41%;
    }
}