@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,700,700i,900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.container {
    border-top: 7px solid #dc9018;
}

.font-2em {
    font-size: 3.6em;
}

.text-orange-2 {
    color: #583600;
}

.text-grn {
    color: #dc9018;
}

.icon-brow {
    filter: hue-rotate(3deg) sepia(100%) brightness(10%);
}

.logo {
    width: 150px;
    height: 85px;
    position: absolute;
    left: 50%;
    margin-left: -80px;
}

.box {
    width: 270px;
    height: 125px;
    background: #dc9018;
    border: 2px solid #583600;
    position: absolute;
    top: 2538px;
    left: 50%;
    margin-left: -135px;
    z-index: 10;
}

.box .text {
    color: #583600;
}

.title-demanda {
    position: absolute;
    top: 1975px;
}

.brew {
    color: #583600;
    font-size: 2.4em;
    position: absolute;
    top: 900px;
    left: 50%;
    margin-left: -110px;
}

.font-weight-black {
    font-weight: 900;
}


/*----------------- icons Demanda ----------------*/

#dem-1 {
    position: absolute;
    top: 1048px;
    left: 50%;
    margin-left: -40px;
    z-index: 10;
}

#dem-1 .icon img {
    width: 85px;
    height: 85px;
    transition: all .3s ease-in-out;
    transform: scale(1);
}

#dem-1 .content {
    width: 250px;
    height: 115px;
    background: #D27E15;
    bottom: 0px;
    left: 50%;
    margin-left: -125px;
    color: #583600;
    border: 2px solid #583600;
    /* font-weight: 500; */
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    transform: scale(0);
}

#dem-1 .close {
    width: 25px;
    height: 25px;
    background: #583600;
    opacity: 1;
    position: absolute;
    right: -12.5px;
    top: -12.5px;
    transition: all .5s ease-in-out;
    transform: scale(0);
}

#dem-1.active .icon img {
    transition: all .5s ease-in-out;
    transform: scale(0);
}

#dem-1.active .content {
    transition: all .5s ease-in-out;
    transform: scale(1);
    filter: blur(0px);
}

#dem-1.active .close {
    transition: all .5s ease-in-out;
    transform: scale(1);
}


/*----------------- icons Demanda 2 ----------------*/

#dem-2 {
    position: absolute;
    top: 1192px;
    left: 50%;
    margin-left: -40px;
    z-index: 10;
}

#dem-2 .icon img {
    width: 85px;
    height: 85px;
    transform: scale(1);
    transition: all .3s ease-in-out;
}

#dem-2 .content {
    width: 250px;
    height: 115px;
    background: #D27E15;
    bottom: 0px;
    left: 50%;
    margin-left: -125px;
    color: #583600;
    border: 2px solid #583600;
    /* font-weight: 500; */
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    transform: scale(0);
}

#dem-2 .close {
    width: 25px;
    height: 25px;
    background: #583600;
    opacity: 1;
    position: absolute;
    right: -12.5px;
    top: -12.5px;
    transition: all .5s ease-in-out;
    transform: scale(0);
}

#dem-2.active .icon img {
    transition: all .5s ease-in-out;
    transform: scale(0);
}

#dem-2.active .content {
    transition: all .5s ease-in-out;
    transform: scale(1);
    filter: blur(0px);
}

#dem-2.active .close {
    transition: all .5s ease-in-out;
    transform: scale(1);
}


/*----------------- icons Demanda 3 ----------------*/

#dem-3 {
    position: absolute;
    top: 1336px;
    left: 50%;
    margin-left: -40px;
    z-index: 10;
}

#dem-3 .icon img {
    width: 85px;
    height: 85px;
    transform: scale(1);
    transition: all .3s ease-in-out;
}

#dem-3 .content {
    width: 250px;
    height: 115px;
    background: #D27E15;
    bottom: 0px;
    left: 50%;
    margin-left: -125px;
    color: #583600;
    border: 2px solid #583600;
    /* font-weight: 500; */
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    transform: scale(0);
}

#dem-3 .close {
    width: 25px;
    height: 25px;
    background: #583600;
    opacity: 1;
    position: absolute;
    right: -12.5px;
    top: -12.5px;
    transition: all .5s ease-in-out;
    transform: scale(0);
}

#dem-3.active .icon img {
    transition: all .5s ease-in-out;
    transform: scale(0);
}

#dem-3.active .content {
    transition: all .5s ease-in-out;
    transform: scale(1);
    filter: blur(0px);
}

#dem-3.active .close {
    transition: all .5s ease-in-out;
    transform: scale(1);
}


/*----------------- icons Demanda 4 ----------------*/

#dem-4 {
    position: absolute;
    top: 1480px;
    left: 50%;
    margin-left: -40px;
    z-index: 10;
}

#dem-4 .icon img {
    width: 85px;
    height: 85px;
    transform: scale(1);
    transition: all .3s ease-in-out;
}

#dem-4 .content {
    width: 250px;
    height: 115px;
    background: #D27E15;
    bottom: 0px;
    left: 50%;
    margin-left: -125px;
    color: #583600;
    border: 2px solid #583600;
    /* font-weight: 500; */
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    transform: scale(0);
}

#dem-4 .close {
    width: 25px;
    height: 25px;
    background: #583600;
    opacity: 1;
    position: absolute;
    right: -12.5px;
    top: -12.5px;
    transition: all .5s ease-in-out;
    transform: scale(0);
}

#dem-4.active .icon img {
    transition: all .5s ease-in-out;
    transform: scale(0);
}

#dem-4.active .content {
    transition: all .5s ease-in-out;
    transform: scale(1);
    filter: blur(0px);
}

#dem-4.active .close {
    transition: all .5s ease-in-out;
    transform: scale(1);
}


/*----------------- icons Demanda 5 ----------------*/

#dem-5 {
    position: absolute;
    top: 1624px;
    left: 50%;
    margin-left: -40px;
    z-index: 10;
}

#dem-5 .icon img {
    width: 85px;
    height: 85px;
    transform: scale(1);
    transition: all .3s ease-in-out;
}

#dem-5 .content {
    width: 250px;
    height: 115px;
    background: #D27E15;
    bottom: 0px;
    left: 50%;
    margin-left: -125px;
    color: #583600;
    border: 2px solid #583600;
    /* font-weight: 500; */
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    transform: scale(0);
}

#dem-5 .close {
    width: 25px;
    height: 25px;
    background: #583600;
    opacity: 1;
    position: absolute;
    right: -12.5px;
    top: -12.5px;
    transition: all .5s ease-in-out;
    transform: scale(0);
}

#dem-5.active .icon img {
    transition: all .5s ease-in-out;
    transform: scale(0);
}

#dem-5.active .content {
    transition: all .5s ease-in-out;
    transform: scale(1);
    filter: blur(0px);
}

#dem-5.active .close {
    transition: all .5s ease-in-out;
    transform: scale(1);
}


/*----------------- icons Demanda 6 ----------------*/

#dem-6 {
    position: absolute;
    top: 1768px;
    left: 50%;
    margin-left: -40px;
    z-index: 10;
}

#dem-6 .icon img {
    width: 85px;
    height: 85px;
    transform: scale(1);
    transition: all .3s ease-in-out;
}

#dem-6 .content {
    width: 250px;
    height: 115px;
    background: #D27E15;
    bottom: 0px;
    left: 50%;
    margin-left: -125px;
    color: #583600;
    border: 2px solid #583600;
    /* font-weight: 500; */
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    transform: scale(0);
}

#dem-6 .close {
    width: 25px;
    height: 25px;
    background: #583600;
    opacity: 1;
    position: absolute;
    right: -12.5px;
    top: -12.5px;
    transition: all .5s ease-in-out;
    transform: scale(0);
}

#dem-6.active .icon img {
    transition: all .5s ease-in-out;
    transform: scale(0);
}

#dem-6.active .content {
    transition: all .5s ease-in-out;
    transform: scale(1);
    filter: blur(0px);
}

#dem-6.active .close {
    transition: all .5s ease-in-out;
    transform: scale(1);
}


/*-------------------- Circulos -------------------*/

.circulo-um {
    left: 50%;
    margin-left: -42px;
    top: 612px;
    z-index: 10;
    transition: all .5s ease-in-out;
    transform: scale(1);
}

.circulo-um svg {
    transition: all .5s ease-in-out;
    transform: scale(1);
}

.circulo-um .numeros {
    left: 50%;
    margin-left: -13px;
    bottom: 7px;
    color: #583600;
    transition: all .5s ease-in-out;
    transform: scale(1);
}

.circulo-um .content {
    position: absolute;
    width: 275px;
    height: 105px;
    background: #dc9018;
    left: 50%;
    margin-left: -137.25px;
    border: 2px solid #583600;
    top: 0px;
    transition: all .5s ease-in-out;
    transform: scale(0);
}

.circulo-um .close {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #583600;
    opacity: 1;
    right: -12.5px;
    top: 50%;
    top: -12.5px;
    transition: all .5s ease-in-out;
    transform: scale(0);
}

.circulo-um.active svg {
    transition: all .5s ease-in-out;
    transform: scale(0);
}

.circulo-um.active .numeros {
    transition: all .5s ease-in-out;
    transform: scale(0);
}

.circulo-um.active .content {
    transition: all .5s ease-in-out;
    transform: scale(1);
}

.circulo-um.active .close {
    transition: all .5s ease-in-out;
    transform: scale(1);
}


/*-------------------- Circulo dois -------------------*/

.circulo-dois {
    left: 50%;
    margin-left: -42px;
    top: 427px;
    z-index: 10;
    transition: all .5s ease-in-out;
    transform: scale(1);
}

.circulo-dois svg {
    transition: all .5s ease-in-out;
    transform: scale(1);
}

.circulo-dois .numeros {
    left: 50%;
    margin-left: -15px;
    bottom: 7px;
    color: #583600;
    transition: all .5s ease-in-out;
    transform: scale(1);
}

.circulo-dois .content {
    position: absolute;
    width: 275px;
    height: 105px;
    background: #dc9018;
    left: 50%;
    margin-left: -137.25px;
    border: 2px solid #583600;
    top: 0px;
    transition: all .5s ease-in-out;
    transform: scale(0);
}

.circulo-dois .close {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #583600;
    opacity: 1;
    right: -12.5px;
    top: 50%;
    top: -12.5px;
    transition: all .5s ease-in-out;
    transform: scale(0);
}

.circulo-dois.active svg {
    transition: all .5s ease-in-out;
    transform: scale(0);
}

.circulo-dois.active .numeros {
    transition: all .5s ease-in-out;
    transform: scale(0);
}

.circulo-dois.active .content {
    transition: all .5s ease-in-out;
    transform: scale(1);
}

.circulo-dois.active .close {
    transition: all .5s ease-in-out;
    transform: scale(1);
}


/*-------------------- Circulo tres -------------------*/

.circulo-tres {
    left: 50%;
    margin-left: -42px;
    top: 244px;
    z-index: 10;
    transition: all .5s ease-in-out;
    transform: scale(1);
}

.circulo-tres svg {
    transition: all .5s ease-in-out;
    transform: scale(1);
}

.circulo-tres .numeros {
    left: 50%;
    margin-left: -15px;
    bottom: 7px;
    color: #583600;
    transition: all .5s ease-in-out;
    transform: scale(1);
}

.circulo-tres .content {
    position: absolute;
    width: 275px;
    height: 105px;
    background: #dc9018;
    left: 50%;
    margin-left: -137.25px;
    border: 2px solid #583600;
    top: 0px;
    transition: all .5s ease-in-out;
    transform: scale(0);
}

.circulo-tres .close {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #583600;
    opacity: 1;
    right: -12.5px;
    top: 50%;
    top: -12.5px;
    transition: all .5s ease-in-out;
    transform: scale(0);
}

.circulo-tres.active svg {
    transition: all .5s ease-in-out;
    transform: scale(0);
}

.circulo-tres.active .numeros {
    transition: all .5s ease-in-out;
    transform: scale(0);
}

.circulo-tres.active .content {
    transition: all .5s ease-in-out;
    transform: scale(1);
}

.circulo-tres.active .close {
    transition: all .5s ease-in-out;
    transform: scale(1);
}


/*-------------------- Circulo quatro -------------------*/

.circulo-quatro {
    left: 50%;
    margin-left: -42px;
    top: 74px;
    z-index: 10;
    transition: all .5s ease-in-out;
    transform: scale(1);
}

.circulo-quatro svg {
    transition: all .5s ease-in-out;
    transform: scale(1);
}

.circulo-quatro .numeros {
    left: 50%;
    margin-left: -20px;
    bottom: 7px;
    color: #583600;
    transition: all .5s ease-in-out;
    transform: scale(1);
}

.circulo-quatro .content {
    position: absolute;
    width: 275px;
    height: 105px;
    background: #dc9018;
    left: 50%;
    margin-left: -137.25px;
    border: 2px solid #583600;
    top: 0px;
    transition: all .5s ease-in-out;
    transform: scale(0);
}

.circulo-quatro .close {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #583600;
    opacity: 1;
    right: -12.5px;
    top: 50%;
    top: -12.5px;
    transition: all .5s ease-in-out;
    transform: scale(0);
}

.circulo-quatro.active svg {
    transition: all .5s ease-in-out;
    transform: scale(0);
}

.circulo-quatro.active .numeros {
    transition: all .5s ease-in-out;
    transform: scale(0);
}

.circulo-quatro.active .content {
    transition: all .5s ease-in-out;
    transform: scale(1);
}

.circulo-quatro.active .close {
    transition: all .5s ease-in-out;
    transform: scale(1);
}

#linha_um {
    stroke-dashoffset: 621;
    stroke-dasharray: 621;
}

#linha_dois {
    stroke-dashoffset: 770;
    stroke-dasharray: 770;
}

#linhaD_1 {
    stroke-dashoffset: 196;
    stroke-dasharray: 196;
}

#linhaD_2 {
    stroke-dashoffset: 126;
    stroke-dasharray: 126;
}

#linhaD_3 {
    stroke-dashoffset: 126;
    stroke-dasharray: 126;
}

#linhaD_4 {
    stroke-dashoffset: 126;
    stroke-dasharray: 126;
}

#linhaD_5 {
    stroke-dashoffset: 126;
    stroke-dasharray: 126;
}

#linhaD_6 {
    stroke-dashoffset: 126;
    stroke-dasharray: 126;
}

#linhaD_7 {
    stroke-dashoffset: 124;
    stroke-dasharray: 124;
}

#linha_quatro {
    stroke-dashoffset: 226;
    stroke-dasharray: 226;
}

#linha_cinco {
    stroke-dashoffset: 105;
    stroke-dasharray: 105;
}

#linha_seis {
    stroke-dashoffset: 106;
    stroke-dasharray: 106;
}

#linha_sete {
    stroke-dashoffset: 106;
    stroke-dasharray: 106;
}

#linha_oito {
    stroke-dashoffset: 90;
    stroke-dasharray: 90;
}

#circle {
    stroke-dashoffset: 106;
    stroke-dasharray: 106;
}

#linha_um.start {
    animation: endStoke .5s linear forwards;
    -webkit-animation: endStoke .5s linear forwards;
    -moz-animation: endStoke .5s linear forwards;
    -o-animation: endStoke .5s linear forwards;
    transition: stroke-dashoffset 1s ease-in;
}

#linha_dois.start {
    animation: endStoke .5s linear forwards;
    -webkit-animation: endStoke .5s linear forwards;
    -moz-animation: endStoke .5s linear forwards;
    -o-animation: endStoke .5s linear forwards;
    transition: stroke-dashoffset 1s ease-in;
}

#linhaD_1.start {
    animation: endStoke .5s linear forwards;
    -webkit-animation: endStoke .5s linear forwards;
    -moz-animation: endStoke .5s linear forwards;
    -o-animation: endStoke .5s linear forwards;
    transition: stroke-dashoffset 1s ease-in;
}

#linhaD_2.start {
    animation: endStoke .5s linear forwards;
    -webkit-animation: endStoke .5s linear forwards;
    -moz-animation: endStoke .5s linear forwards;
    -o-animation: endStoke .5s linear forwards;
    transition: stroke-dashoffset 1s ease-in;
}

#linhaD_3.start {
    animation: endStoke .5s linear forwards;
    -webkit-animation: endStoke .5s linear forwards;
    -moz-animation: endStoke .5s linear forwards;
    -o-animation: endStoke .5s linear forwards;
    transition: stroke-dashoffset 1s ease-in;
}

#linhaD_4.start {
    animation: endStoke .5s linear forwards;
    -webkit-animation: endStoke .5s linear forwards;
    -moz-animation: endStoke .5s linear forwards;
    -o-animation: endStoke .5s linear forwards;
    transition: stroke-dashoffset 1s ease-in;
}

#linhaD_5.start {
    animation: endStoke .5s linear forwards;
    -webkit-animation: endStoke .5s linear forwards;
    -moz-animation: endStoke .5s linear forwards;
    -o-animation: endStoke .5s linear forwards;
    transition: stroke-dashoffset 1s ease-in;
}

#linhaD_6.start {
    animation: endStoke .5s linear forwards;
    -webkit-animation: endStoke .5s linear forwards;
    -moz-animation: endStoke .5s linear forwards;
    -o-animation: endStoke .5s linear forwards;
    transition: stroke-dashoffset 1s ease-in;
}

#linhaD_7.start {
    animation: endStoke .5s linear forwards;
    -webkit-animation: endStoke .5s linear forwards;
    -moz-animation: endStoke .5s linear forwards;
    -o-animation: endStoke .5s linear forwards;
    transition: stroke-dashoffset 1s ease-in;
}

#linha_quatro.start {
    animation: endStoke .5s linear forwards;
    -webkit-animation: endStoke .5s linear forwards;
    -moz-animation: endStoke .5s linear forwards;
    -o-animation: endStoke .5s linear forwards;
    transition: stroke-dashoffset 1s ease-in;
}

#linha_cinco.start {
    animation: endStoke .5s linear forwards;
    -webkit-animation: endStoke .5s linear forwards;
    -moz-animation: endStoke .5s linear forwards;
    -o-animation: endStoke .5s linear forwards;
    transition: stroke-dashoffset 1s ease-in;
}

#linha_seis.start {
    animation: endStoke .5s linear forwards;
    -webkit-animation: endStoke .5s linear forwards;
    -moz-animation: endStoke .5s linear forwards;
    -o-animation: endStoke .5s linear forwards;
    transition: stroke-dashoffset 1s ease-in;
}

#linha_sete.start {
    animation: endStoke .5s linear forwards;
    -webkit-animation: endStoke .5s linear forwards;
    -moz-animation: endStoke .5s linear forwards;
    -o-animation: endStoke .5s linear forwards;
    transition: stroke-dashoffset 1s ease-in;
}

#linha_oito.start {
    animation: endStoke .5s linear forwards;
    -webkit-animation: endStoke .5s linear forwards;
    -moz-animation: endStoke .5s linear forwards;
    -o-animation: endStoke .5s linear forwards;
    transition: stroke-dashoffset 1s ease-in;
}

#circle.start {
    animation: endStoke .5s linear forwards;
    -webkit-animation: endStoke .5s linear forwards;
    -moz-animation: endStoke .5s linear forwards;
    -o-animation: endStoke .5s linear forwards;
    transition: stroke-dashoffset 1s ease-in;
}

@keyframes endStoke {
    to {
        stroke-dashoffset: 0;
        transition: stroke-dashoffset 1s ease-in;
    }
}


/*------------------ Setas -------------------*/


/*------------------ Seta Um --------------------*/

#seta_um {
    position: absolute;
    left: 50%;
    margin-left: -9px;
    animation: setaUm 1s linear infinite;
    -webkit-animation: setaUm 1s linear infinite;
    -moz-animation: setaUm 1s linear infinite;
    -o-animation: setaUm 1s linear infinite;
    transition: stroke-dashoffset 1s ease-in;
}

@keyframes setaUm {
    0% {
        top: 2950px;
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        top: 2850px;
        opacity: 0;
    }
}


/*------------------ Seta Dois --------------------*/

#seta_dois {
    position: absolute;
    left: 50%;
    margin-left: -9px;
    animation: setaDois 1s linear infinite;
    -webkit-animation: setaDois 1s linear infinite;
    -moz-animation: setaDois 1s linear infinite;
    -o-animation: setaDois 1s linear infinite;
    transition: stroke-dashoffset 1s ease-in;
}

@keyframes setaDois {
    0% {
        top: 2800px;
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        top: 2700px;
        opacity: 0;
    }
}


/*------------------ Seta tres --------------------*/

#seta_tres {
    position: absolute;
    left: 50%;
    margin-left: -9px;
    animation: setaTres 1s linear infinite;
    -webkit-animation: setaTres 1s linear infinite;
    -moz-animation: setaTres 1s linear infinite;
    -o-animation: setaTres 1s linear infinite;
    transition: stroke-dashoffset 1s ease-in;
}

@keyframes setaTres {
    0% {
        top: 2450px;
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        top: 2350px;
        opacity: 0;
    }
}


/*------------------ Seta quatro --------------------*/

#seta_quatro {
    position: absolute;
    left: 50%;
    margin-left: -9px;
    animation: setaQuatro 1s linear infinite;
    -webkit-animation: setaQuatro 1s linear infinite;
    -moz-animation: setaQuatro 1s linear infinite;
    -o-animation: setaQuatro 1s linear infinite;
    transition: stroke-dashoffset 1s ease-in;
}

@keyframes setaQuatro {
    0% {
        top: 2300px;
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        top: 2200px;
        opacity: 0;
    }
}


/*------------------ Seta cinco --------------------*/

#seta_cinco {
    position: absolute;
    left: 50%;
    margin-left: -9px;
    animation: setaCinco 1s linear infinite;
    -webkit-animation: setaCinco 1s linear infinite;
    -moz-animation: setaCinco 1s linear infinite;
    -o-animation: setaCinco 1s linear infinite;
    transition: stroke-dashoffset 1s ease-in;
}

@keyframes setaCinco {
    0% {
        top: 1970px;
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        top: 1870px;
        opacity: 0;
    }
}


/*------------------ Seta seis --------------------*/

#seta_seis {
    position: absolute;
    left: 50%;
    margin-left: -9px;
    animation: setaSeis 1s linear infinite;
    -webkit-animation: setaSeis 1s linear infinite;
    -moz-animation: setaSeis 1s linear infinite;
    -o-animation: setaSeis 1s linear infinite;
    transition: stroke-dashoffset 1s ease-in;
}

@keyframes setaSeis {
    0% {
        top: 820px;
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        top: 720px;
        opacity: 0;
    }
}


/*---------SVG IHIIIIIII -------*/

.svg-2 {
    left: 50%;
    bottom: 1280px;
}