@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,700,700i,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

html,
body {
    width: 100%;
    height: 1350px;
    background-image: url("../img/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.font-3em {
    font-size: 2.5em;
}


/** ----------------- 3Hs --------------- **/

.sub-title {
    opacity: 0;
    color: #fff;
    transition: all .3s ease-in-out;
    margin-top: 100px;
}

.bdb {
    width: 80%;
    height: 2px;
    background: #fff;
}

.text {
    color: #ffffff;
    font-style: italic;
    font-size: .9em;
}

.hn {
    background: #9fc54d;
    width: 80px;
    height: 80px;
    border-radius: 7px;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -40px;
    transition: all .5s ease-in-out;
    overflow: hidden;
    z-index: 10;
}

.hn .title {
    position: absolute;
    left: 50%;
    margin-left: -28px;
    top: 50%;
    margin-top: -26px;
    transition: all .5s ease-in-out;
}

.hn.active {
    width: 250px;
    margin-left: -125px;
    height: 150px;
    top: -30px;
}

.hn.active .title {
    margin-top: -65px;
}

.hn.active .sub-title {
    opacity: 1;
    margin-top: 60px;
}


/*----------------------------*/

.ht {
    background: #e69509;
    width: 80px;
    height: 80px;
    border-radius: 7px;
    top: 130px;
    position: absolute;
    left: 50%;
    margin-left: -40px;
    transition: all .5s ease-in-out;
    overflow: hidden;
    z-index: 10;
}

.ht .title {
    position: absolute;
    left: 50%;
    margin-left: -28px;
    top: 50%;
    margin-top: -26px;
    transition: all .5s ease-in-out;
}

.ht.active {
    width: 250px;
    margin-left: -125px;
    height: 150px;
    top: 94px;
}

.ht.active .title {
    margin-top: -65px;
}

.ht.active .sub-title {
    opacity: 1;
    margin-top: 60px;
}


/*---------------------*/

.hl {
    background: #12594c;
    width: 80px;
    height: 80px;
    border-radius: 7px;
    top: 260px;
    position: absolute;
    left: 50%;
    margin-left: -40px;
    transition: all .5s ease-in-out;
    overflow: hidden;
    z-index: 10;
}

.hl .title {
    position: absolute;
    left: 50%;
    margin-left: -28px;
    top: 50%;
    margin-top: -26px;
    transition: all .5s ease-in-out;
}

.hl.active {
    width: 250px;
    margin-left: -125px;
    height: 150px;
    top: 230px;
}

.hl.active .title {
    margin-top: -65px;
}

.hl.active .sub-title {
    opacity: 1;
    margin-top: 60px;
}


/*---------------------*/

#contn {
    top: 500px;
}

.slide {
    top: 265px!important;
}

.w80 {
    margin-left: 18%;
}

.title-slide {
    top: 440px;
    color: #f79922;
    font-size: 1.3em;
    left: 50%;
    margin-left: -132px;
}

@media screen and (max-width:425px) and (min-width:376px) {
    .w80 {
        margin-left: 20%;
    }
    .slide {
    top: 265px!important;
    }
    .title-slide {
    top: 440px;
    color: #f79922;
    font-size: 1.3em;
    left: 50%;
    margin-left: -132px;
    }
}

@media screen and (max-width:320px) and (min-width:0px) {
    .w80 {
        margin-left: 0%;
        padding: 15%;
    }
    #contn{
        margin-top: 55px;
    }
    .slide {
    top: 240px!important;
}
}

/*--------- IMG DOS 3H ---------*/
#img-neg{
    width: 150px;
    height: 150px;
    z-index: -1;
    opacity: .0;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -75px;
    transition: all .4s ease-in-out;
}
.hn.active #img-neg{
    opacity: .1;
}
#img-tec{
    width: 120px;
    height: 120px;
    z-index: -1;
    opacity: 0;
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -60px;
    transition: all .4s ease-in-out;
}
.ht.active #img-tec{
    opacity: .2;
}
#img-lin{
    width: 150px;
    height: 150px;
    z-index: -1;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -75px;
    transition: all .4s ease-in-out;
}
.hl.active #img-lin{
    opacity: .2;
}