@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,700,700i,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}


.font-1emM {
    font-size: 1.4em;
}
.font-4em{
    font-size: 3.3em;
}
/*4 - Pagina Mobile - Svinter*/

section.svinter {
    border-top: 8px solid;
    border-color: #9fc54d;
}

section.svinter .text-medium {
    font-weight: 500;
}

section.svinter .text-orange {
    color: #dc9018;
}

section.svinter .text-gy {
    color: #507064;
}

section.svinter .font-weight-black {
    font-weight: 900;
}

section.svinter .font-2em {
    font-size: 2.2em;
}

section.svinter .text-grn {
    color: #9fc54d;
}
.title2{
    top: 1415px;
}
.box-etapas{
    width: 280px;
    height: 75px;
    background: #9fc54d;
    top: 1305px;
    left: 50%;
    margin-left: -140px;
    border: 3px solid #507064;
    color: #507064;
    z-index: 10;
}
.localizacao {
    top: 1180px;
    left: 50%;
    margin-left: -122.5px;
    width: 245px;
    height: 50px;
    border: 3px solid #507064;
    color: #507064  ;
    border-radius: 30px;
    background: #9fc54d;
    z-index: 10;
    transition: all .4s ease-in-out;
    cursor: pointer;
}

.preparacao
 {
    top: 1072px;
    left: 50%;
    margin-left: -122.5px;
    width: 245px;
    height: 50px;
    border: 3px solid #507064;
    color: #507064  ;
    border-radius: 30px;
    background: #9fc54d;
    z-index: 10;
    transition: all .4s ease-in-out;
    cursor: pointer;
}

@keyframes animText {
    to {
        opacity: 100%;
    }
    from {
        opacity: 0%;
    }
}

 .localizacao.active {
    width: 250px;
    height: 235px;
    top: 1000px;
    border-radius: 4px;
    padding-top: .4em;
    text-align: center;
    flex-direction: row-reverse;
    color: #507064;
}

 .localizacao .num {
    left: 35px;
    top: 7px;
    transition: all .4s ease-in-out;
    color: #507064;
    z-index: 10;
    opacity: 1;
}

 .localizacao.active .num {
    opacity: 0;
    top: 34px;
    color: #507064;
}

 .localizacao .text {
    opacity: 100%;
    padding-left: 25px;
    display: block;
    transition: all .4s ease-in-out;
}

 .localizacao.active .text {
    opacity: 0%;
    display: none;
}

 .localizacao .content {
    animation: animText .4s ease-in-out;
    -webkit-animation: animText .8s ease-in-out;
    display: none;
    transition: all .4s ease-in-out;
}

 .localizacao.active .content {
    opacity: 100%;
    display: block;
    position: absolute;
}

 .localizacao.active .ball {
    float: right;
}

.preparacao.active {
    width: 250px;
    height: 250px;
    top: 900px;
    border-radius: 4px;
    text-align: center;
    padding-top: 1rem;
    flex-direction: row-reverse;
}

 .preparacao .num {
    left: 35px;
    top: 7px;
    transition: all .4s ease-in-out;
    color: #507064;
    z-index: 10;
    opacity: 1;
}

 .preparacao.active .num {
    /* left: 617px; */
    top: 34px;
    color: #507064;
    opacity: 0;
}

 .preparacao .text {
    opacity: 100%;
    padding-left: 25px;
    display: block;
    transition: all .4s ease-in-out;
}

 .preparacao.active .text {
    opacity: 0%;
    display: none;

}

 .preparacao .content {
    animation: animText .4s ease-in-out;
    -webkit-animation: animText .8s ease-in-out;
    display: none;
    transition: all .4s ease-in-out;
}

 .preparacao.active .content {
    opacity: 100%;
    display: block;
    position: absolute;
    color: #507064;
}

 .preparacao.active .ball {
    float: right;
}
.title-ben{
    top:948px;
    left: 50%;
    margin-left: -100.3px;
}

/*----------- Circulo Um -----------*/
.circle-1{
    top: 806px;
    left: 50%;
    margin-left: -34px;
    opacity: 1;
    z-index: 10;

}
.circle-1 .um{
    position: absolute ;
    bottom: 0px;
    left: 50%;
    margin-left: -14px;
    color: #9fc54d;
    transform: scale(1);
    transition: all .4s ease-in-out;
}
.circle-1 #c1{
    transform: scale(1);
    transition: all .4s ease-in-out;
}
.circle-1.active #c1, 
.circle-1.active .um{
    transform: scale(0);
}

.circle-1 .text-content{
    width: 250px;
    height: 85px;
    background: #507064;
    left: 50%;
    margin-left: -125px;
    bottom: 0px;
    border: 3px solid #9fc54d;
    color: #9fc54d;
    transform: scale(0);
    transition: all .4s ease-in-out;
}
.circle-1 .cls-x{
    width: 20px;
    height: 20px;
    background: #9fc54d;
    color: #fff;
    position: absolute;
    right: -10px;
    top: -10px;
    transform: scale(0);
    transition: all .4s ease-in-out;
}
.circle-1.active .text-content{
    transform: scale(1);
}
.circle-1.active .cls-x{
    transform: scale(1);
    z-index: 99;
}
/*--------------------------*/
.circle-2{
    top: 668px;
    left: 50%;
    margin-left: -34px;
    z-index: 10;
}
.circle-2 .um{
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -15px;
    color: #9fc54d;
    transition: all .4s ease-in-out;
}
.circle-2 #c2{
    transform: scale(1);
    transition: all .4s ease-in-out;
}
.circle-2.active #c2, 
.circle-2.active .um{
    transform: scale(0);
}

.circle-2 .text-content{
    width: 250px;
    height: 85px;
    background: #507064;
    left: 50%;
    margin-left: -125px;
    bottom: 0px;
    border: 3px solid #9fc54d;
    color: #9fc54d;
    transform: scale(0);
    transition: all .4s ease-in-out;
}
.circle-2 .cls-x{
    width: 20px;
    height: 20px;
    background: #9fc54d;
    color: #fff;
    position: absolute;
    right: -10px;
    top: -10px;
    transform: scale(0);
    transition: all .4s ease-in-out;
}
.circle-2.active .text-content{
    transform: scale(1);
}
.circle-2.active .cls-x{
    transform: scale(1);
}
/*-------------------------*/

.circle-3{
    top: 535px;
    left: 50%;
    margin-left: -34px;
    z-index: 10;
}
.circle-3 .um{
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -15px;
    color: #9fc54d;
    transition: all .4s ease-in-out;
}
.circle-3 #c3{
    transform: scale(1);
    transition: all .4s ease-in-out;
}
.circle-3.active #c3, 
.circle-3.active .um{
    transform: scale(0);
}

.circle-3 .text-content{
    width: 250px;
    height: 85px;
    background: #507064;
    left: 50%;
    margin-left: -125px;
    bottom: 0px;
    border: 3px solid #9fc54d;
    color: #9fc54d;
    transform: scale(0);
    transition: all .4s ease-in-out;
}
.circle-3 .cls-x{
    width: 20px;
    height: 20px;
    background: #9fc54d;
    color: #fff;
    position: absolute;
    right: -10px;
    top: -10px;
    transform: scale(0);
    transition: all .4s ease-in-out;
}
.circle-3.active .text-content{
    transform: scale(1);
}
.circle-3.active .cls-x{
    transform: scale(1);
}
/*--------------------------*/

.circle-4{
    top: 405px;
    left: 50%;
    margin-left: -34px;
    z-index: 10;
}
.circle-4 .um{
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -19px;
    color: #9fc54d;
    transition: all .4s ease-in-out;
}
.circle-4 #c4{
    transform: scale(1);
    transition: all .4s ease-in-out;
}
.circle-4.active #c4, 
.circle-4.active .um{
    transform: scale(0);
}

.circle-4 .text-content{
    width: 250px;
    height: 85px;
    background: #507064;
    left: 50%;
    margin-left: -125px;
    bottom: 0px;
    border: 3px solid #9fc54d;
    color: #9fc54d;
    transform: scale(0);
    transition: all .4s ease-in-out;
}
.circle-4 .cls-x{
    width: 20px;
    height: 20px;
    background: #9fc54d;
    color: #fff;
    position: absolute;
    right: -10px;
    top: -10px;
    transform: scale(0);
    transition: all .4s ease-in-out;
}
.circle-4.active .text-content{
    transform: scale(1);
}
.circle-4.active .cls-x{
    transform: scale(1);
}
/*---------------------------*/
.circle-5{
    top: 275px;
    left: 50%;
    margin-left: -34px;
    z-index: 10;
}
.circle-5 .um{
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -15px;
    color: #9fc54d;
    transition: all .4s ease-in-out;
}
.circle-5 #c5{
    transform: scale(1);
    transition: all .4s ease-in-out;
}
.circle-5.active #c5, 
.circle-5.active .um{
    transform: scale(0);
}

.circle-5 .text-content{
    width: 250px;
    height: 85px;
    background: #507064;
    left: 50%;
    margin-left: -125px;
    bottom: 0px;
    border: 3px solid #9fc54d;
    color: #9fc54d;
    transform: scale(0);
    transition: all .4s ease-in-out;
}
.circle-5 .cls-x{
    width: 20px;
    height: 20px;
    background: #9fc54d;
    color: #fff;
    position: absolute;
    right: -10px;
    top: -10px;
    transform: scale(0);
    transition: all .4s ease-in-out;
}
.circle-5.active .text-content{
    transform: scale(1);
}
.circle-5.active .cls-x{
    transform: scale(1);
}
/*---------------------------*/
.circle-6{
    top: 140px;
    left: 50%;
    margin-left: -34px;
    z-index: 10 ;
}
.circle-6 .um{
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -18px;
    color: #9fc54d;
    transition: all .4s ease-in-out;
}
.circle-6 #c6{
    transform: scale(1);
    transition: all .4s ease-in-out;
}
.circle-6.active #c6, 
.circle-6.active .um{
    transform: scale(0);
}

.circle-6 .text-content{
    width: 250px;
    height: 85px;
    background: #507064;
    left: 50%;
    margin-left: -125px;
    bottom: 0px;
    border: 3px solid #9fc54d;
    color: #9fc54d;
    transform: scale(0);
    transition: all .4s ease-in-out;
}
.circle-6 .cls-x{
    width: 20px;
    height: 20px;
    background: #9fc54d;
    color: #fff;
    position: absolute;
    right: -10px;
    top: -10px;
    transform: scale(0);
    transition: all .4s ease-in-out;
}
.circle-6.active .text-content{
    transform: scale(1);
}
.circle-6.active .cls-x{
    transform: scale(1);
}
/*---------------------------*/
/*-------------- textos dos quadrados -------------*/
.text-content{
    color: #507064;
}
.text-box-1{
    position: absolute;
    top: 2120px;
    left: 50%;
    margin-left: -78.5px;
}
.text-box-2{
    position: absolute;
    top: 1985px;
    left: 50%;
    margin-left: -145px;
}
.text-box-3{
    position: absolute;
    top: 1835px;
    left: 50%;
    margin-left: -140px;
}
.text-box-4{
    position: absolute;
    top: 1728px;
    left: 50%;
    margin-left: -140px;
}
.text-box-5{
    position: absolute;
    top: 1606px;
    left: 50%;
    margin-left: -100px;
}
/*-------------------- LINHAS SVG  --------------*/
#linha_um{
    stroke-dashoffset: 559;
    stroke-dasharray: 559;
}
#quadrado_um_esquerdo{
    stroke-dashoffset: 860;
    stroke-dasharray: 860;
}
#quadrado_um_direito{
    stroke-dashoffset: 858;
    stroke-dasharray: 858;
}
#linha_um_dois{
    stroke-dashoffset: 74;
    stroke-dasharray: 74;
}
#quadrado_dois_esquerdo{
    stroke-dashoffset: 942;
    stroke-dasharray: 942;
}
#quadrado_dois_direito{
    stroke-dashoffset: 948;
    stroke-dasharray: 948;
}
#linha_dois_tres{
    stroke-dashoffset: 74;
    stroke-dasharray: 74;
}
#quadrado_tres_esquerdo{
    stroke-dashoffset: 981;
    stroke-dasharray: 981;
}
#quadrado_tres_direito{
    stroke-dashoffset: 992;
    stroke-dasharray: 992;
}
#linha_tres_quatro{
    stroke-dashoffset: 63;
    stroke-dasharray: 63;
}
#quadrado_quatro_cinco{
    stroke-dashoffset: 906;
    stroke-dasharray: 906;
}
#quadrado_quatro_direito{
    stroke-dashoffset: 910;
    stroke-dasharray: 910;
}
#linha_quatro_cinco{
    stroke-dashoffset: 69;
    stroke-dasharray: 69;
}
#quadrado_cinco_esquerdo{
    stroke-dashoffset: 906;
    stroke-dasharray: 906;
}
#quadrado_cinco_direito{
    stroke-dashoffset: 907;
    stroke-dasharray: 907 ;
}
#linha_cinco{
    stroke-dashoffset: 69;
    stroke-dasharray: 69 ;
}
#linha_b_um{
    stroke-dashoffset: 479;
    stroke-dasharray: 479 ;
}
#linha_b_dois{
    stroke-dashoffset: 86;
    stroke-dasharray: 86 ;
}
#linha_b_tres{
    stroke-dashoffset: 155;
    stroke-dasharray: 155 ;
}
#linha_b_quatro{
    stroke-dashoffset: 226;
    stroke-dasharray: 226 ;
}
#linha_b_cinco{
    stroke-dashoffset: 106;
    stroke-dasharray: 106 ;
}
#linha_b_seis{
    stroke-dashoffset: 106;
    stroke-dasharray: 106 ;
}
#linha_b_sete{
    stroke-dashoffset: 106;
    stroke-dasharray: 106 ;
}
#linha_b_oito{
    stroke-dashoffset: 106;
    stroke-dasharray: 106 ;
}
#linha_b_nove{
    stroke-dashoffset: 106;
    stroke-dasharray: 106 ;
}
#linha_b_dez{
    stroke-dashoffset: 90;
    stroke-dasharray: 90 ;
}
#circle{
    stroke-dashoffset: 112;
    stroke-dasharray: 112 ;
}
#linha_um.start {
    animation: endStoke .5s linear forwards;
    -webkit-animation: endStoke .5s linear forwards;
    -moz-animation: endStoke .5s linear forwards;
    -o-animation: endStoke .5s linear forwards;
    transition: stroke-dashoffset 1s ease-in;
}
#quadrado_um_esquerdo.start {
    animation: endStoke .5s linear forwards;
    -webkit-animation: endStoke .5s linear forwards;
    -moz-animation: endStoke .5s linear forwards;
    -o-animation: endStoke .5s linear forwards;
    transition: stroke-dashoffset 1s ease-in;
}
#quadrado_um_direito.start {
    animation: endStoke .5s linear forwards;
    -webkit-animation: endStoke .5s linear forwards;
    -moz-animation: endStoke .5s linear forwards;
    -o-animation: endStoke .5s linear forwards;
    transition: stroke-dashoffset 1s ease-in;
}
#linha_um_dois.start {
    animation: endStoke .5s linear forwards;
    -webkit-animation: endStoke .5s linear forwards;
    -moz-animation: endStoke .5s linear forwards;
    -o-animation: endStoke .5s linear forwards;
    transition: stroke-dashoffset 1s ease-in;
}
#quadrado_dois_esquerdo.start {
    animation: endStoke .5s linear forwards;
    -webkit-animation: endStoke .5s linear forwards;
    -moz-animation: endStoke .5s linear forwards;
    -o-animation: endStoke .5s linear forwards;
    transition: stroke-dashoffset 1s ease-in;
}
#quadrado_dois_direito.start {
    animation: endStoke .5s linear forwards;
    -webkit-animation: endStoke .5s linear forwards;
    -moz-animation: endStoke .5s linear forwards;
    -o-animation: endStoke .5s linear forwards;
    transition: stroke-dashoffset 1s ease-in;
}#linha_dois_tres.start {
    animation: endStoke .5s linear forwards;
    -webkit-animation: endStoke .5s linear forwards;
    -moz-animation: endStoke .5s linear forwards;
    -o-animation: endStoke .5s linear forwards;
    transition: stroke-dashoffset 1s ease-in;
}#quadrado_tres_esquerdo.start {
    animation: endStoke .5s linear forwards;
    -webkit-animation: endStoke .5s linear forwards;
    -moz-animation: endStoke .5s linear forwards;
    -o-animation: endStoke .5s linear forwards;
    transition: stroke-dashoffset 1s ease-in;
}#quadrado_tres_direito.start {
    animation: endStoke .5s linear forwards;
    -webkit-animation: endStoke .5s linear forwards;
    -moz-animation: endStoke .5s linear forwards;
    -o-animation: endStoke .5s linear forwards;
    transition: stroke-dashoffset 1s ease-in;
}#linha_tres_quatro.start {
    animation: endStoke .5s linear forwards;
    -webkit-animation: endStoke .5s linear forwards;
    -moz-animation: endStoke .5s linear forwards;
    -o-animation: endStoke .5s linear forwards;
    transition: stroke-dashoffset 1s ease-in;
}#quadrado_quatro_cinco.start {
    animation: endStoke .5s linear forwards;
    -webkit-animation: endStoke .5s linear forwards;
    -moz-animation: endStoke .5s linear forwards;
    -o-animation: endStoke .5s linear forwards;
    transition: stroke-dashoffset 1s ease-in;
}#quadrado_quatro_direito.start {
    animation: endStoke .5s linear forwards;
    -webkit-animation: endStoke .5s linear forwards;
    -moz-animation: endStoke .5s linear forwards;
    -o-animation: endStoke .5s linear forwards;
    transition: stroke-dashoffset 1s ease-in;
}
#linha_quatro_cinco.start {
    animation: endStoke .5s linear forwards;
    -webkit-animation: endStoke .5s linear forwards;
    -moz-animation: endStoke .5s linear forwards;
    -o-animation: endStoke .5s linear forwards;
    transition: stroke-dashoffset 1s ease-in;
}
#quadrado_cinco_esquerdo.start {
    animation: endStoke .5s linear forwards;
    -webkit-animation: endStoke .5s linear forwards;
    -moz-animation: endStoke .5s linear forwards;
    -o-animation: endStoke .5s linear forwards;
    transition: stroke-dashoffset 1s ease-in;
}
#quadrado_cinco_direito.start {
    animation: endStoke .5s linear forwards;
    -webkit-animation: endStoke .5s linear forwards;
    -moz-animation: endStoke .5s linear forwards;
    -o-animation: endStoke .5s linear forwards;
    transition: stroke-dashoffset 1s ease-in;
}
#linha_cinco.start {
    animation: endStoke .5s linear forwards;
    -webkit-animation: endStoke .5s linear forwards;
    -moz-animation: endStoke .5s linear forwards;
    -o-animation: endStoke .5s linear forwards;
    transition: stroke-dashoffset 1s ease-in;
}
#linha_b_um.start {
    animation: endStoke .5s linear forwards;
    -webkit-animation: endStoke .5s linear forwards;
    -moz-animation: endStoke .5s linear forwards;
    -o-animation: endStoke .5s linear forwards;
    transition: stroke-dashoffset 1s ease-in;
}
#linha_b_dois.start {
    animation: endStoke .5s linear forwards;
    -webkit-animation: endStoke .5s linear forwards;
    -moz-animation: endStoke .5s linear forwards;
    -o-animation: endStoke .5s linear forwards;
    transition: stroke-dashoffset 1s ease-in;
}
#linha_b_tres.start {
    animation: endStoke .5s linear forwards;
    -webkit-animation: endStoke .5s linear forwards;
    -moz-animation: endStoke .5s linear forwards;
    -o-animation: endStoke .5s linear forwards;
    transition: stroke-dashoffset 1s ease-in;
}
#linha_b_quatro.start {
    animation: endStoke .5s linear forwards;
    -webkit-animation: endStoke .5s linear forwards;
    -moz-animation: endStoke .5s linear forwards;
    -o-animation: endStoke .5s linear forwards;
    transition: stroke-dashoffset 1s ease-in;
}
#linha_b_cinco.start {
    animation: endStoke .5s linear forwards;
    -webkit-animation: endStoke .5s linear forwards;
    -moz-animation: endStoke .5s linear forwards;
    -o-animation: endStoke .5s linear forwards;
    transition: stroke-dashoffset 1s ease-in;
}
#linha_b_seis.start {
    animation: endStoke .5s linear forwards;
    -webkit-animation: endStoke .5s linear forwards;
    -moz-animation: endStoke .5s linear forwards;
    -o-animation: endStoke .5s linear forwards;
    transition: stroke-dashoffset 1s ease-in;
}
#linha_b_sete.start {
    animation: endStoke .5s linear forwards;
    -webkit-animation: endStoke .5s linear forwards;
    -moz-animation: endStoke .5s linear forwards;
    -o-animation: endStoke .5s linear forwards;
    transition: stroke-dashoffset 1s ease-in;
}
#linha_b_oito.start {
    animation: endStoke .5s linear forwards;
    -webkit-animation: endStoke .5s linear forwards;
    -moz-animation: endStoke .5s linear forwards;
    -o-animation: endStoke .5s linear forwards;
    transition: stroke-dashoffset 1s ease-in;
}
#linha_b_nove.start {
    animation: endStoke .5s linear forwards;
    -webkit-animation: endStoke .5s linear forwards;
    -moz-animation: endStoke .5s linear forwards;
    -o-animation: endStoke .5s linear forwards;
    transition: stroke-dashoffset 1s ease-in;
}
#linha_b_dez.start {
    animation: endStoke .5s linear forwards;
    -webkit-animation: endStoke .5s linear forwards;
    -moz-animation: endStoke .5s linear forwards;
    -o-animation: endStoke .5s linear forwards;
    transition: stroke-dashoffset 1s ease-in;
}
#circle.start {
    animation: endStoke .5s linear forwards;
    -webkit-animation: endStoke .5s linear forwards;
    -moz-animation: endStoke .5s linear forwards;
    -o-animation: endStoke .5s linear forwards;
    transition: stroke-dashoffset 1s ease-in;
}

@keyframes endStoke {
    to {
        stroke-dashoffset: 0;
        transition: stroke-dashoffset 1s ease-in;
    }
}
/*------------------ SEEEEEEEETTTTTTTTAAAAAAAAAAs IHIIIIIIIIIII---------------*/
#seta_um{
    transform: rotateZ(90deg);
    left: 50%;
    margin-left: -9.5px;
    animation: seta1 1s linear infinite;
    -webkit-animation: seta1 1s linear infinite;
    -moz-animation: seta1 1s linear infinite;
    -o-animation: seta1 1s linear infinite;
    transition: stroke-dashoffset 1s ease-in;
}
@keyframes seta1{
    0%{
        top: 2460px;
        opacity: 0;
    }
    25%{
        opacity: 1;
    }
    75%{
        opacity: 1;
    }
    100%{
        top: 2400px;
        opacity: 0;
    }
}
/*--------- SETA DOOOOOOOOOOOOOOOOOOOIZ --------*/
#seta_dois{
    transform: rotateZ(90deg);
    left: 50%;
    margin-left: -9.5px;
    animation: seta2 1s linear infinite;
    -webkit-animation: seta2 1s linear infinite;
    -moz-animation: seta2 1s linear infinite;
    -o-animation: seta2 1s linear infinite;
    transition: stroke-dashoffset 1s ease-in;
}
@keyframes seta2{
    0%{
        top: 2390px;
        opacity: 0;
    }
    25%{
        opacity: 1;
    }
    75%{
        opacity: 1;
    }
    100%{
        top: 2330px;
        opacity: 0;
    }

}