@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,700,700i,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    height: 100%;
}

#content {
    z-index: 10;
}

.mask {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.03);
    z-index: 100;
    opacity: 0;
    transition: all .3s ease-in-out;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* visibility: hidden; */
}

.mask.start {
    /* visibility: visible; */
    opacity: 1;
    z-index: 100;
}

svg#Camada_1 {
    z-index: -10;
}

.container-fluid {
    border-top: 5px solid #9fc54d;
}

.color-green {
    color: #336733;
}

.title {
    top: 991px;
    width: 280px;
    left: 50%;
    margin-left: -140px;
}

.text-up {
    width: 300px;
    margin-top: 1400px;
    left: 50%;
    margin-left: -150px
}

.content-title {
    width: 300px;
    top: 2100px;
    left: 50%;
    margin-left: -150px;
}


/* - Pagina Mobile - Dninter - */

.text-orange-2 {
    color: #dc9018;
}

.text-grn {
    color: #9fc54d;
}

.text-grn-2 {
    color: #224b3d;
    font-size: 3em;
}

.text-grn-3 {
    color: #b3d36a;
}

.text-grn-4 {
    color: #3d5800;
}

.font-2em {
    font-size: 2.4em;
}

.font-3em {
    font-size: 3em;
}

.font-4em {
    font-size: 4em;
}

.font-weight-black {
    font-weight: 900;
}

.text-up {
    line-height: 230%;
    z-index: 100;
    background: #fff;
}

.img-title {
    top: 1420px;
    left: 50%;
    width: 226px;
    margin-left: -113px;
}

.carousel-content {
    top: 1715px;
    width: 200px;
    left: 50%;
    margin-left: -100px;
    z-index: 100;
}

.img-c {
    width: 200px;
    height: 200px;
}

.img-e {
    width: 300px;
    top: 2094px;
    left: 50%;
    margin-left: -150px;
}

.box {
    top: 2484px;
    background: #9fc54d9d;
    width: 280px;
    padding: 5px 0px;
    left: 50%;
    margin-left: -140px;
    border-radius: 8px;
    border: 2px solid #90b441;
}

.box .text {
    color: #224b3d;
}

.box2 {
    top: 2686px;
    background: #9fc54d9d;
    width: 280px;
    padding: 5px 0px;
    left: 50%;
    margin-left: -140px;
    border-radius: 8px;
    border: 2px solid #90b441;
}

.box2 .text {
    color: #224b3d;
}

.carousel-control-prev {
    left: -55px!important;
}

.carousel-control-prev-icon {
    background-image: url("../img/seta-prev.png")!important;
}

.carousel-control-next {
    right: -55px !important;
}

.carousel-control-next-icon {
    background-image: url("../img/seta-next.png") !important;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    height: 30px!important;
}

.carousel-control-prev,
.carousel-control-next {
    opacity: 1 !important;
}

.mb-6 {
    margin-bottom: 10em;
}


/*----------------- Circulos Beneficios ----------------*/

.num .seis {
    top: 8px;
    left: 21px;
}

.num .cinco {
    top: 9px;
    left: 22px;
}

.num .quatro {
    top: 9px;
    left: 22px;
}

.num .tres {
    top: 9px;
    left: 22px;
}

.num .dois {
    top: 9px;
    left: 22px;
}

.num .um {
    top: 9px;
    left: 26px;
}


/*----------------- Circulo seis -----------------*/

.circle6 {
    width: 75px;
    left: 50%;
    margin-left: -35px;
    top: 67px;
    z-index: 100;
}

.circle6 svg {
    transition: all .4s ease-in-out;
    opacity: 1;
}

.circle6.active svg {
    transform: scale(0);
    opacity: 0;
}

.circle6 .num .seis {
    transition: all .4s ease-in-out;
    opacity: 1;
}

.circle6.active .num .seis {
    transform: scale(0);
    opacity: 0;
}

.circle6 .close {
    z-index: 10;
    width: 20px;
    height: 20px;
    background: #90b441;
    opacity: 1;
    position: absolute;
    right: -123px;
    bottom: 68px;
    color: #fff;
    border-radius: 3px;
    padding-top: 1px;
    opacity: 0;
    transform: scale(0);
    transition: all .4s ease-in-out;
    font-size: 1.2em;
}

.circle6.active .close {
    transform: scale(1);
    opacity: 1;
}

.circle6 .content-text {
    position: absolute;
    z-index: 9;
    background: #dcf3aa;
    width: 310px;
    height: 85px;
    left: 50%;
    top: -7px;
    margin-left: -155px;
    border: 2px solid #90b44154;
    border-radius: 5px;
    opacity: 0;
    transform: scale(0);
    transition: all .4s ease-in-out;
    font-size: 0.97em;
}

.circle6.active .content-text {
    transform: scale(1);
    opacity: 1;
    padding: 10px;
}

.circle6 .content-text .text {
    color: #224b3d;
    font-size: 0.85em;
}


/*--------------- Circulo cinco ------------*/

.circle5 {
    width: 75px;
    left: 50%;
    margin-left: -35px;
    top: 211px;
    z-index: 130;
}

.circle5 svg {
    transition: all .4s ease-in-out;
    opacity: 1;
}

.circle5.active svg {
    transform: scale(0);
    opacity: 0;
}

.circle5 .num .cinco {
    transition: all .4s ease-in-out;
    opacity: 1;
}

.circle5.active .num .cinco {
    transform: scale(0);
    opacity: 0;
}

.circle5 .close {
    z-index: 11;
    width: 20px;
    height: 20px;
    background: #90b441;
    opacity: 1;
    position: absolute;
    right: -123px;
    bottom: 68px;
    color: #fff;
    border-radius: 3px;
    padding-top: 1px;
    opacity: 0;
    transform: scale(0);
    transition: all .4s ease-in-out;
    font-size: 1.2em;
}

.circle5.active .close {
    transform: scale(1);
    opacity: 1;
}

.circle5 .content-text {
    position: absolute;
    z-index: 9;
    background: #dcf3aa;
    width: 310px;
    height: 85px;
    left: 50%;
    top: -7px;
    margin-left: -155px;
    border: 2px solid #90b44154;
    border-radius: 5px;
    opacity: 0;
    transform: scale(0);
    transition: all .4s ease-in-out;
    font-size: 0.97em;
}

.circle5.active .content-text {
    transform: scale(1);
    opacity: 1;
}

.circle5 .content-text .text {
    color: #224b3d;
}


/*--------------- Circulo quatro -------------*/

.circle4 {
    width: 75px;
    left: 50%;
    margin-left: -35px;
    top: 354px;
    z-index: 120;
}

.circle4 svg {
    transition: all .4s ease-in-out;
    opacity: 1;
}

.circle4.active svg {
    transform: scale(0);
    opacity: 0;
}

.circle4 .num .quatro {
    transition: all .4s ease-in-out;
    opacity: 1;
}

.circle4.active .num .quatro {
    transform: scale(0);
    opacity: 0;
}

.circle4 .close {
    z-index: 11;
    width: 20px;
    height: 20px;
    background: #90b441;
    opacity: 1;
    position: absolute;
    right: -123px;
    bottom: 68px;
    color: #fff;
    border-radius: 3px;
    padding-top: 1px;
    opacity: 0;
    transform: scale(0);
    transition: all .4s ease-in-out;
    font-size: 1.2em;
}

.circle4.active .close {
    transform: scale(1);
    opacity: 1;
}

.circle4 .content-text {
    position: absolute;
    z-index: 9;
    background: #dcf3aa;
    width: 310px;
    height: 85px;
    left: 50%;
    top: -7px;
    margin-left: -155px;
    border: 2px solid #90b44154;
    border-radius: 5px;
    opacity: 0;
    transform: scale(0);
    transition: all .4s ease-in-out;
    font-size: 0.97em;
}

.circle4.active .content-text {
    transform: scale(1);
    opacity: 1;
}

.circle4 .content-text .text {
    color: #224b3d;
}


/*---------------- circulo Tres ---------------*/

.circle3 {
    width: 75px;
    left: 50%;
    margin-left: -35px;
    top: 494px;
    z-index: 140;
}

.circle3 svg {
    transition: all .4s ease-in-out;
    opacity: 1;
}

.circle3.active svg {
    transform: scale(0);
    opacity: 0;
}

.circle3 .num .tres {
    transition: all .4s ease-in-out;
    opacity: 1;
}

.circle3.active .num .tres {
    transform: scale(0);
    opacity: 0;
}

.circle3 .close {
    z-index: 11;
    width: 20px;
    height: 20px;
    background: #90b441;
    opacity: 1;
    position: absolute;
    right: -123px;
    bottom: 68px;
    color: #fff;
    border-radius: 3px;
    padding-top: 1px;
    opacity: 0;
    transform: scale(0);
    transition: all .4s ease-in-out;
    font-size: 1.2em;
}

.circle3.active .close {
    transform: scale(1);
    opacity: 1;
}

.circle3 .content-text {
    position: absolute;
    z-index: 9;
    background: #dcf3aa;
    width: 310px;
    height: 85px;
    left: 50%;
    top: -7px;
    margin-left: -155px;
    border: 2px solid #90b44154;
    border-radius: 5px;
    opacity: 0;
    transform: scale(0);
    transition: all .4s ease-in-out;
    font-size: 0.97em;
}

.circle3.active .content-text {
    transform: scale(1);
    opacity: 1;
}

.circle3 .content-text .text {
    color: #224b3d;
}


/*---------------- Circulo dois ---------------*/

.circle2 {
    width: 75px;
    left: 50%;
    margin-left: -35px;
    top: 642px;
    z-index: 120;
}

.circle2 svg {
    transition: all .4s ease-in-out;
    opacity: 1;
}

.circle2.active svg {
    transform: scale(0);
    opacity: 0;
}

.circle2 .num .dois {
    transition: all .4s ease-in-out;
    opacity: 1;
}

.circle2.active .num .dois {
    transform: scale(0);
    opacity: 0;
}

.circle2 .close {
    z-index: 11;
    width: 20px;
    height: 20px;
    background: #90b441;
    opacity: 1;
    position: absolute;
    right: -123px;
    bottom: 68px;
    color: #fff;
    border-radius: 3px;
    padding-top: 1px;
    opacity: 0;
    transform: scale(0);
    transition: all .4s ease-in-out;
    font-size: 1.2em;
}

.circle2.active .close {
    transform: scale(1);
    opacity: 1;
}

.circle2 .content-text {
    position: absolute;
    z-index: 9;
    background: #dcf3aa;
    width: 310px;
    height: 85px;
    left: 50%;
    top: -7px;
    margin-left: -155px;
    border: 2px solid #90b44154;
    border-radius: 5px;
    opacity: 0;
    transform: scale(0);
    transition: all .4s ease-in-out;
    font-size: 0.97em;
}

.circle2.active .content-text {
    transform: scale(1);
    opacity: 1;
    padding: 15px;
}

.circle2 .content-text .text {
    color: #224b3d;
}


/*--------------- Circulo um --------------*/

.circle1 {
    width: 75px;
    left: 50%;
    margin-left: -35px;
    top: 792px;
    z-index: 120;
}

.circle1 svg {
    transition: all .4s ease-in-out;
    opacity: 1;
}

.circle1.active svg {
    transform: scale(0);
    opacity: 0;
}

.circle1 .num .um {
    transition: all .4s ease-in-out;
    opacity: 1;
}

.circle1.active .num .um {
    transform: scale(0);
    opacity: 0;
}

.circle1 .close {
    z-index: 11;
    width: 20px;
    height: 20px;
    background: #90b441;
    opacity: 1;
    position: absolute;
    right: -123px;
    bottom: 68px;
    color: #fff;
    border-radius: 3px;
    padding-top: 1px;
    opacity: 0;
    transform: scale(0);
    transition: all .4s ease-in-out;
    font-size: 1.2em;
}

.circle1.active .close {
    transform: scale(1);
    opacity: 1;
}

.circle1 .content-text {
    position: absolute;
    z-index: 9;
    background: #dcf3aa;
    width: 310px;
    height: 85px;
    left: 50%;
    top: -7px;
    margin-left: -155px;
    border: 2px solid #90b44154;
    border-radius: 5px;
    opacity: 0;
    transform: scale(0);
    transition: all .4s ease-in-out;
    font-size: 0.97em;
}

.circle1.active .content-text {
    transform: scale(1);
    opacity: 1;
}

.circle1 .content-text .text {
    color: #224b3d;
}


/*-------------- Botes das etapas -------------*/


/*-------------- Botão um --------------*/

.bar1 {
    top: 1549px;
    background: #3d5800;
    border-radius: 50px;
    width: 200px;
    padding: 5px 35px;
    border: 2px solid #9fc54d;
    box-sizing: border-box;
    left: 50%;
    margin-left: -100px;
    z-index: 111;
    transition: all .4s ease-in-out;
    overflow: hidden;
    box-sizing: border-box;
}

.bar1.active {
    top: 1537px;
    width: 310px;
    height: 290px;
    padding: 8px;
    border-radius: 7px;
    border: 2px solid #90b44154;
    background: #dcf3aa;
    margin-left: -155px;
    overflow: hidden;
    box-sizing: border-box;
}

.bar1 .num {
    color: #fff;
}

.bar1 .title {
    display: block;
}

.bar1.active .num {
    color: #224b3d;
}

.bar1.active .title {
    opacity: 0;
    display: none;
}

.bar1 .content {
    opacity: 0;
    display: none;
    position: absolute;
    color: #224b3d;
    overflow: hidden;
    /* top: 200px;
    transition: all .6s ease-in-out; */
}

.bar1.active .content {
    opacity: 1;
    display: block;
    top: 24px;
}

#x {
    position: absolute;
    opacity: 0;
    color: #224b3d;
    right: 10px;
    transition: all .2s ease-in-out;
}

.bar1.active #x {
    opacity: 1;
    color: #224b3d;
    right: 10px;
    transition: all .2s ease-in-out;
}


/*---------- Bar Dois -----------*/

.bar2 {
    top: 1652px;
    background: #3d5800;
    border-radius: 50px;
    width: 200px;
    padding: 5px 35px;
    border: 2px solid #9fc54d;
    box-sizing: border-box;
    left: 50%;
    z-index: 110;
    margin-left: -100px;
    transition: all .4s ease-in-out;
    overflow: hidden;
    box-sizing: border-box;
}

.bar2.active {
    top: 1537px;
    width: 310px;
    height: 290px;
    padding: 8px;
    border-radius: 7px;
    border: 2px solid #90b44154;
    background: #dcf3aa;
    margin-left: -155px;
    overflow: hidden;
    box-sizing: border-box;
    z-index: 130;
}

.bar2 .num {
    color: #fff;
}

.bar2 .title {
    display: block;
}

.bar2.active .num {
    color: #224b3d;
    margin-left: 22px;
}

.bar2.active .title {
    opacity: 0;
    display: none;
}

.bar2 .content {
    opacity: 0;
    display: none;
    position: absolute;
    color: #224b3d;
}

.bar2.active .content {
    opacity: 1;
    display: block;
    /* top: 24px; */
    padding: 22px;
    margin-top: 7px;
}

#x2 {
    position: absolute;
    opacity: 0;
    color: #224b3d;
    right: 11px;
    transition: all .2s ease-in-out;
}

.bar2.active #x2 {
    opacity: 1;
    color: #224b3d;
    right: 11px;
    top: 5px;
    transition: all .2s ease-in-out;
}


/*--------- Animação SVGs ----------*/

#linha1 {
    stroke-dashoffset: 536;
    stroke-dasharray: 536;
}

#linha2 {
    stroke-dashoffset: 248;
    stroke-dasharray: 248;
}

#linha3 {
    stroke-dashoffset: 536;
    stroke-dasharray: 536;
}

#linha4 {
    stroke-dashoffset: 266;
    stroke-dasharray: 266;
}

#linha5 {
    stroke-dashoffset: 828;
    stroke-dasharray: 828;
}

#linha6 {
    stroke-dashoffset: 86;
    stroke-dasharray: 86;
}

#linha7 {
    stroke-dashoffset: 158;
    stroke-dasharray: 158;
}

#linha8 {
    stroke-dashoffset: 226;
    stroke-dasharray: 226;
}

#linha9 {
    stroke-dashoffset: 105;
    stroke-dasharray: 105;
}

#linha10 {
    stroke-dashoffset: 105;
    stroke-dasharray: 105;
}

#linha11 {
    stroke-dashoffset: 106;
    stroke-dasharray: 106;
}

#linha12 {
    stroke-dashoffset: 106;
    stroke-dasharray: 106;
}

#linha13 {
    stroke-dashoffset: 106;
    stroke-dasharray: 106;
}

#linha14 {
    stroke-dashoffset: 90;
    stroke-dasharray: 90;
}

#circle {
    stroke-dashoffset: 115;
    stroke-dasharray: 115;
}

#linha1.start {
    animation: endStroke .4s linear forwards;
    -webkit-animation: endStroke .4s linear forwards;
    -moz-animation: endStroke .4s linear forwards;
    -o-animation: endStroke .4s linear forwards;
}

#linha2.start {
    animation: endStroke .4s linear forwards;
    -webkit-animation: endStroke .4s linear forwards;
    -moz-animation: endStroke .4s linear forwards;
    -o-animation: endStroke .4s linear forwards;
}

#linha3.start {
    animation: endStroke .4s linear forwards;
    -webkit-animation: endStroke .4s linear forwards;
    -moz-animation: endStroke .4s linear forwards;
    -o-animation: endStroke .4s linear forwards;
}

#linha4.start {
    animation: endStroke .4s linear forwards;
    -webkit-animation: endStroke .4s linear forwards;
    -moz-animation: endStroke .4s linear forwards;
    -o-animation: endStroke .4s linear forwards;
}

#linha5.start {
    animation: endStroke .4s linear forwards;
    -webkit-animation: endStroke .4s linear forwards;
    -moz-animation: endStroke .4s linear forwards;
    -o-animation: endStroke .4s linear forwards;
}

#linha6.start {
    animation: endStroke .4s linear forwards;
    -webkit-animation: endStroke .4s linear forwards;
    -moz-animation: endStroke .4s linear forwards;
    -o-animation: endStroke .4s linear forwards;
}

#linha7.start {
    animation: endStroke .4s linear forwards;
    -webkit-animation: endStroke .4s linear forwards;
    -moz-animation: endStroke .4s linear forwards;
    -o-animation: endStroke .4s linear forwards;
}

#linha8.start {
    animation: endStroke .4s linear forwards;
    -webkit-animation: endStroke .4s linear forwards;
    -moz-animation: endStroke .4s linear forwards;
    -o-animation: endStroke .4s linear forwards;
}

#linha9.start {
    animation: endStroke .4s linear forwards;
    -webkit-animation: endStroke .4s linear forwards;
    -moz-animation: endStroke .4s linear forwards;
    -o-animation: endStroke .4s linear forwards;
}

#linha10.start {
    animation: endStroke .4s linear forwards;
    -webkit-animation: endStroke .4s linear forwards;
    -moz-animation: endStroke .4s linear forwards;
    -o-animation: endStroke .4s linear forwards;
}

#linha11.start {
    animation: endStroke .4s linear forwards;
    -webkit-animation: endStroke .4s linear forwards;
    -moz-animation: endStroke .4s linear forwards;
    -o-animation: endStroke .4s linear forwards;
}

#linha12.start {
    animation: endStroke .4s linear forwards;
    -webkit-animation: endStroke .4s linear forwards;
    -moz-animation: endStroke .4s linear forwards;
    -o-animation: endStroke .4s linear forwards;
}

#linha13.start {
    animation: endStroke .4s linear forwards;
    -webkit-animation: endStroke .4s linear forwards;
    -moz-animation: endStroke .4s linear forwards;
    -o-animation: endStroke .4s linear forwards;
}

#linha14.start {
    animation: endStroke .4s linear forwards;
    -webkit-animation: endStroke .4s linear forwards;
    -moz-animation: endStroke .4s linear forwards;
    -o-animation: endStroke .4s linear forwards;
}

#circles.start {
    animation: endStroke .4s linear forwards;
    -webkit-animation: endStroke .4s linear forwards;
    -moz-animation: endStroke .4s linear forwards;
    -o-animation: endStroke .4s linear forwards;
}

@keyframes endStroke {
    to {
        stroke-dashoffset: 0;
    }
}

.blur {
    filter: blur(2px);
    -webkit-filter: blur(2px);
    z-index: 100;
}


/*------------ Animação das setas -------------*/


/*------------- Seta Um -------------*/

.seta_1 {
    left: 50%;
    margin-left: -13.5px;
    animation: seta_1 1s linear infinite;
    -webkit-animation: seta_1 1s linear infinite;
    -moz-animation: seta_1 1s linear infinite;
}

@keyframes seta_1 {
    0% {
        top: 2955px;
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        top: 2900px;
        opacity: 0;
    }
}


/*------------- Seta dois -------------*/

.seta_2 {
    left: 50%;
    margin-left: -13.5px;
    animation: seta_2 1s linear infinite;
    -webkit-animation: seta_2 1s linear infinite;
    -moz-animation: seta_2 1s linear infinite;
}

@keyframes seta_2 {
    0% {
        top: 2855px;
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        top: 2800px;
        opacity: 0;
    }
}


/*------------- Seta tres -------------*/

.seta_3 {
    left: 50%;
    margin-left: -13.5px;
    animation: seta_3 1s linear infinite;
    -webkit-animation: seta_3 1s linear infinite;
    -moz-animation: seta_3 1s linear infinite;
}

@keyframes seta_3 {
    0% {
        top: 2435px;
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        top: 2380px;
        opacity: 0;
    }
}


/*------------- Seta quatro -------------*/

.seta_4 {
    left: 50%;
    margin-left: -13.5px;
    animation: seta_4 1s linear infinite;
    -webkit-animation: seta_4 1s linear infinite;
    -moz-animation: seta_4 1s linear infinite;
}

@keyframes seta_4 {
    0% {
        top: 2335px;
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        top: 2280px;
        opacity: 0;
    }
}


/*------------- Seta cinco -------------*/

.seta_5 {
    left: 50%;
    margin-left: -13.5px;
    animation: seta_5 1s linear infinite;
    -webkit-animation: seta_5 1s linear infinite;
    -moz-animation: seta_5 1s linear infinite;
}

@keyframes seta_5 {
    0% {
        top: 1375px;
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        top: 1320px;
        opacity: 0;
    }
}


/*------------- Seta seis -------------*/

.seta_6 {
    left: 50%;
    margin-left: -13.5px;
    animation: seta_6 1s linear infinite;
    -webkit-animation: seta_6 1s linear infinite;
    -moz-animation: seta_6 1s linear infinite;
}

@keyframes seta_6 {
    0% {
        top: 955px;
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        top: 900px;
        opacity: 0;
    }
}