.menu {
    height: 100vh;
    width: 100%;
    margin-left: -100%;
    position: fixed;
    z-index: 998;
    transition: all .4s ease-in-out;
}

.oFlow {
    width: 100%;
    height: 100vh;
    background: #00000034;
    position: absolute;
    top: 0px;
    z-index: -1;
    opacity: 0;
    transition: all .3s ease-in-out;
    transition-delay: .3s, .2s;
    -webkit-transition-delay: .3s, .2s;
    transition-property: all;
}

.navbar {
    height: 100vh;
    width: 60%;
    background: #0a3834f6;
    z-index: 101;
    box-shadow: 1px 0px 12px #000;
}

.nav-link {
    padding: 40px 0px;
}

.nav-link a {
    font-size: 1.2em;
    color: #1c9691;
}

.bord {
    border-bottom: 2px solid #114d47;
}

.menu.active {
    margin-left: 0%;
}

.menu.active .oFlow {
    opacity: 1;
    z-index: 99;
}

.closeMenu {
    position: absolute;
    top: 20px;
    right: 15px;
    color: #20aa9c;
    width: 30px;
    height: 30px;
    z-index: 9999;
}

#hamb {
    position: fixed;
    z-index: 888;
}

#x23 {
    z-index: 999;
}